.createEmail__inner {
  // padding: 15px;

  .field--add--event {
    // background: yellow;
    height: 70%;
    overflow: auto;
    padding: 0 10px;
    padding-bottom: 30px;
  }

  h3 {
    padding: 10px;
    margin: 0 0 10px;
    font-size: 15px;
    color: var(--whiteMediumEmp);
    background: var(--backgroundSolid);
  }

  // form{
  //     display: flex;
  //     flex-direction: column
  //     // max-height: 450px;
  //     overflow: auto;
  //     // padding: 15px;
  // }

  .actionables {
    padding: 15px;
    border-top: 1px solid #d3d3d3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dateWrapper,
  .twoColWrap {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 10px;
    // justify-content: space-between;
  }

  .twoColWrap.radios--cont {
    // padding-top: 15px;
    padding: 15px 10px;
  }

  .dateWrapper {
    flex-direction: row;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .date,
  .col-2 {
    flex: 1;
    margin: 0 10px 0 0;
  }

  .date {
    margin-bottom: 15px;
  }

  .select--options {
    width: 100%;
    //z-index: 996;
  }

  .colThreeWrap {
    display: flex;
  }

  .col-3 {
    flex: 1;
    margin: 0 10px 0 0;
  }
}

#reactGooglePlaces {
  &.google--places {
    // border-bottom: 1px solid #f1f1f1;
    // padding-bottom: 15px;
  }

  .icon-uniE9F1 {
    color: var(--whiteMediumEmp);
    font-size: 16px;
  }

  .location--txt {
    color: var(--whiteMediumEmp);
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }

  .location-search-input {
    background: var(--backgroundSolid);
    height: 46px;
    border-radius: 3px;
    /* outline: none; */
    border: 1px solid #34495e;
    padding: 10px;
    width: 100%;
    color: var(--whiteMediumEmp);
  }

  .autocomplete-dropdown-container {
    // box-shadow: 0 0 4px 3px #f1f1f1;
    border: none;
    border-radius: 3px;
  }

  // .suggestion-item{
  // }

  .list--item {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    display: block;
    padding: 10px;

    color: #777;
    font-size: 14px;

    &:hover {
      background: #eee;
    }
  }

  .loader-places {
    p {
      color: var(--whiteMediumEmp);
      font-size: #666;
      //font-size: 14px;
      padding: 10px;
    }
  }
}

.event-head--title {
  font-size: 14px;
  padding: 10px 0 0;
  color: var(--whiteMediumEmp);
  font-weight: normal;
}

.icon-uniE90E,
.icon-uniE99D,
.icon-uniE9F4,
.icon-uniE905,
.icon-uniE9EC {
  font-size: 16px;
  color: var(--whiteMediumEmp);
}

.twoColWrap.single--selects {
  padding: 15px 0 10px;
  margin-bottom: 0;
}

.twoColWrap.multi--selects {
  padding: 15px 0;
  margin: 0;
}

.status__wrap {
  padding: 0 0 20px 0;
  width: 35%;
}

.label-input {
  display: block;
  padding: 10px 5px;
  color: var(--whiteMediumEmp);
  font-size: 14px;
}
.event--cordinates {
  display: flex;
  .event--latitude {
    width: 50%;
    margin-right: 5px;
  }
  .event--longitude {
    width: 50%;
    margin-left: 5px;
  }
}

// .event--sources{
//     border-bottom: 1px solid #f1f1f1;
//     padding-bottom: 10px;
// }

// .txt--field{
//     // background: red;
//     padding: 0;

// }
