.btnCloseMuliple {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
  border: none;
  font-size: 27px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;

  &:hover {
    background: #222;
  }
}

.btn.btnUpdateMultiple {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  text-transform: uppercase;
  border: 1px solid #333;
  color: #333 !important;
  font-weight: 600;
}
