@import '../../../../../../sass/globalVariables.scss';

#kEventList {
  .kEventList__optionsWrapper {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    .filterLabel {
      color: var(--whiteMediumEmp);
    }
  }
}

.kEventListItem {
  display: flex;
  justify-content: flex-start;
  // background: rgba(16, 26, 43, 0.65);
  padding: 12px 17px;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border: 2px solid transparent;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
  position: relative;

  .riskCategoryLabelWrap {
    margin: 5px 10px 0 7px;
    display: flex;
  }

  .riskCategoryLabel {
    padding: 2px 7px;
    border-radius: 5px;
    color: #080d15;
    font-size: 11px !important;
    text-transform: uppercase;
  }

  .kEventListItem__meta {
    display: flex;
    flex-direction: column;
  }

  .totalItems {
    width: 20px;
    height: 20px;
    background: #ebecf0;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 20px;
    color: #f1f1f1;
  }

  .eventName {
    color: var(--whiteMediumEmp);;
    padding-left: 10px;
    font-weight: 400 !important;
  }

  // &:hover {
  //   background: rgba(16, 26, 43, 0.95);
  // }

  .fab.fa-periscope {
    color: var(--whiteHighEmp);
    font-size: 25px;
  }
}
