@import '../../../../sass/globalVariables.scss';
body {
  background: var(--darkGrey);
}

.eventArchiveFilters {
  padding: 0 15px;
}

#eventFilters {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icons__filters {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .active {
      background: #34495e;
      border: 1px solid #fff;

      i {
        color: var(--whiteMediumEmp);
      }

      &:hover {
        background: #34495e;
      }
    }

    label {
      color: #666;
      font-size: 12px;
    }

    span {
      border: 1px solid #d3d3d3;
      border-radius: 3px;
      height: 32px;
      width: 32px;
      display: block;
      line-height: 32px;
      text-align: center;
      cursor: pointer;
      margin-left: 15px;

      &:hover {
        background: #f1f1f1;
      }
    }

    i {
      color: #777;
    }
  }

  .search__by__filter {
    input {
      border-radius: 3px;
      border: 1px solid #d3d3d3;
      padding: 8px;
      background: #f1f1f1;
      width: 256px;
      color: #333;
    }
  }
}

.sms__alerts {
  margin: 18px 0;
  position: relative;
}

/* query icon */

.querySystemWrap.queryIcon {
  // margin-top: 100px;

  .pill {
    position: absolute;
    padding: 4px 7px;
    line-height: 0.75;
    top: -8px;
    font-size: 8px !important;
    right: -15px;
  }
}

.event__headings {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: rgba(52, 73, 94, 1);
  // color: var(--whiteMediumEmp);
}

label.title {
  position: absolute;
  transform: translateY(-50%);
  left: -85px;
  top: 50%;
  display: block;
  width: 80px;
  // background: #4285F4;
  background: #d93025;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.4);
  line-height: 16px;

  &:after {
    content: '';
    position: absolute;
    border: 4px solid transparent;
    // border-left: 4px solid #4285F4;
    border-left: 4px solid #d93025;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
  }
}

.event__archives {
  position: relative;
  margin: 10px 0;
}

.alert__icon {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  line-height: 42px;
  text-align: center;
  padding: 0 16px;
  height: 30px;
  color: #afacb5;

  i {
    font-size: 20px;
    width: 24px;
    color: var(--whiteMediumEmp);
    margin-right: 20px;
  }

  img {
    width: 24px;
    margin-right: 20px;
  }
}

.alert__listing {
  padding: 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 10px 10px 10px 10px;
    cursor: pointer;

    &:hover {
      background-color: rgba(63, 63, 63, 0.3);
    }

    h2 {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.8);
      padding-bottom: 8px;
      text-transform: capitalize;
      font-weight: 500;
    }

    p {
      font-size: 14px;
      color: var(--whiteMediumEmp);
    }

    &:nth-child(even) {
      background-color: rgba(63, 63, 63, 0.3);
    }
  }
}

.alert__title__wrap {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  h2 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    // color: ;

    span {
      margin-right: 10px;
    }
  }

  i {
    font-size: 18px;
  }

  img {
    width: 24px;
  }
}

.event__archive__inner {
}

.archive--btn {
  text-transform: uppercase;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 600;
  color: var(--whiteMediumEmp);
  background: #fff;
  text-decoration: underline;
  color: #0984e3;
}

#eventArchivesModal {
  padding: 0 5px 35px;

  &.modal__inner {
    min-width: var(--modal-min-width);
    max-width: var(--modal-max-width);
    max-height: var(--modal-max-height);
    background: var(--darkGreyModal);
  }

  .event--title {
    border-bottom: 1px solid #d3d3d3;
    position: relative;
  }

  h2 {
    padding: 10px 15px;
    margin: 0;
    color: #444;
    font-size: 15px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    &:nth-child(even) {
      // background-color: #ecf0f1;
      // background-color: rgba(52, 73, 94, 0.1);
    }
  }

  .list__item {
    display: flex;
    // justify-content: space-between;
    padding: 10px;
    margin: 10px 15px;
    border: 1px solid rgba(236, 240, 241, 1);
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(236, 240, 241, 1);
    transition: background 0.2s ease-in;

    &:hover {
      background: rgba(236, 240, 241, 0.3);
    }
  }

  input::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .eventArchivesModal_body {
    padding: 0 15px;
    height: 50vh;
    .alertWrap,
    .dateWrap {
      flex: 50%;
      padding: 15px;
      background: rgba(6, 12, 20, 0.3);
      background: var(--highlightBackgroundLight);
      height: 45vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 999;
    }

    .dividerVerticle {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--whiteMediumEmp);
      padding: 0 15px;
      z-index: 99;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        right: 0;
        height: 240px;
        border-left: 1px solid #cdcdcd;
      }
      span {
        z-index: 1;
        padding: 15px 0;
        color: var(--whiteMediumEmp);
      }
    }
    h1 {
      color: var(--whiteMediumEmp);
      font-size: var(--font-size-h1);
      font-weight: normal;
    }
  }

  .eventArchivesModal_header {
    h1 {
      color: var(--whiteMediumEmp);
      font-size: var(--font-size-h1);
      font-weight: normal;
    }
    padding: 5px 15px;
    border-bottom: 1px solid var(--whiteDisabled);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.notify {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;

  img {
    width: 24px;
  }
}

.shake {
  animation: shake 0.7s linear;
}

img {
  width: 32px;
}

.count {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  background: tomato;
  color: var(--whiteMediumEmp);
  width: 10px;
  height: 10px;
  right: 6px;
  top: 8px;
  text-align: center;
}

.icon-uniE92B {
  font-size: 22px;
  // color: rgba(52, 73, 94, 1);
  color: var(--whiteHighEmp);
  &::before {
    margin: 0;
  }
}

.notify-title {
  background-color: #eee;
  padding: 10px;
  color: #222;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.notification__box {
  z-index: 998;
  position: absolute;
  user-select: none;
  background: #fff;
  box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.4);
  top: 35px;
  border-radius: 2px;
  width: 300px;
  left: -260px;
}

.no-alerts {
  padding: 30px;
  text-align: center;
  color: #000;
}

.btn--wrap-load {
  padding: 10px;
  text-align: center;
}

.btn--close-archives {
  position: absolute;
  right: 10px;
  top: 0;
  background: transparent;
  border: 0;
  font-size: 30px;
  cursor: pointer;
}

.calendarWrap {
  margin: 10px 0;
  position: relative;
}

.businessViewWrap,
.querySystemWrap {
  position: relative;
  margin: 10px 0;
}

.icons--riskAlerts {
}

.advisory__inner {
  margin: 30px auto;
  min-width: 1200px;
  max-width: 1200px;
  background: var(--darkGrey) !important;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5;
  }

  .fc-left {
    h2 {
      font-size: 16px;
      color: #666;
    }
  }

  .fc-list-item-title {
    cursor: pointer !important;
  }
}

.calendar__header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;

  .calendar--close {
    color: var(--whiteMediumEmp);
    font-size: 24px !important;
    cursor: pointer;
    padding: 0 8px;
    &:hover {
      background: var(--darkGrey);
      border-radius: 2px;
    }
  }

  .cal--heading {
    position: absolute;
    left: 15px;
    font-weight: 600;
    // color: red;
  }
  .calendar--back {
    padding-right: 15px;
    padding: 10px;
    margin-right: 15px;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 25px;
    background: transparent;
    border: none;
    color: var(--whiteMediumEmp);

    &:hover {
      text-decoration: underline;
    }
  }
}

.calendar__body {
  padding: 15px;
}

.far.fa-chart-bar {
  color: var(--whiteMediumEmp);
}

.fa-chart-line {
  // color: var(--whiteMediumEmp);
}

/* new risk alerts */

.riskAlerts {
}

/* new squre cta's */

.squareBtn {
  width: 100px;
  height: 100px;
  background: #2d2c45;
  border-radius: 12px;
}

@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  10% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(-5px);
  }
  30% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

/* calendar dark */

.calendar__inner {
  background: var(--darkGreyModal) !important;
  color: var(--whiteMediumEmp) !important;
  outline: none !important;
  border-radius: 3px;
  max-width: var(--modal-max-width) !important;
  min-width: var(--modal-min-width) !important;
  margin: 50px auto;
}

.fc-unthemed .fc-list-heading td {
  background: var(--darkGrey) !important;
}

.fc-unthemed .fc-list-item:hover td {
  background: transparent !important;
  color: var(--darkActive) !important;
}

.fc-unthemed .fc-list-empty {
  background: var(--darkGrey) !important;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
  border-color: #2c3748 !important;
}
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header,
.fc-unthemed .fc-list-heading td {
  background: var(--darkGrey) !important;
  font-weight: 100 !important;
}
.fc-list-item-title a {
  cursor: pointer;
  font-size: var(--font-size-li) !important;
}

.calendar--close:hover {
  color: var(--whiteMediumEmp) !important;
}

.cal--heading {
  color: var(--whiteMediumEmp) !important;
  font-size: var(--font-size-h1) !important;
}

.calendar__inner .fc-left h2 {
  color: var(--whiteMediumEmp) !important;
  font-size: var(--font-size-h2) !important;
}

.fc-list-heading-main {
  color: var(--whiteMediumEmp) !important;
}

body .calendar__inner .fc-scroller {
  max-height: var(--modal-max-height) !important;
  // min-height: var(--modal-min-height) !important;
  height: 350px !important;
}

.fc-button-primary {
  background: var(--whiteDisabled) !important;
  border-color: var(--whiteHighEmp) !important;
}

.fc-list-heading-alt {
  color: var(--whiteMediumEmp);
}

.eventArchivesModal_Noe {
  font-size: 20px !important;
  padding-left: 5px;
}

#eventArchivesModal {
  h2 {
    margin-bottom: 10px;
    color: var(--whiteMediumEmp);
    font-size: var(--font-size-h1);
    font-weight: normal;
    padding-left: 0;
  }
}

.divider {
  background-color: rgba(255, 255, 255, 0.4) !important;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}

.downloadBtnWrap {
  display: flex;
  justify-content: center;
}

.eventArchivesModal_footer {
  p {
    color: var(--whiteMediumEmp);
    text-align: center;
    margin: 15px;
  }
}

.flash {
  background-color: #64b709;
  color: #000;
  border-radius: 25px;
  animation-name: flash;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 12px !important;
  padding: 2px 7px;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

.riskAlert--list {
  list-style: none;
  padding-left: 0;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  .active {
    background-color: rgba(0, 0, 0, 0.2);

    p {
      color: var(--darkActive);
    }
  }

  li {
    cursor: pointer;
    p {
      padding: calc(1vh + 5px);
      color: var(--whiteMediumEmp);
      font-size: 14px !important;
      .list__iconActive {
        i {
          font-size: 15px !important;
          width: 24px;
          color: var(--darkActive);
          margin-right: 20px;
          text-align: center;
        }
      }
      .list__icon {
        i {
          font-size: 15px !important;
          width: 24px;
          color: var(--whiteMediumEmp);
          margin-right: 20px;
          text-align: center;
        }
      }
    }
    &:hover {
      background: var(--darkGrey);
    }
  }
}