.countryAnalysisWrap {
  padding: 10px;
  height: 92vh;
}
.country__header {
  color: white;
}
.countryAnalysisTopNavbar {
  display: flex;
  justify-content: flex-end;
  .form--control {
    width: 110px;
  }
}
#alert-view-modal {
  min-width: 1175px;
  max-height: 500px;
  overflow-y: hidden;
}

.tablelist__head {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 0 15px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .tl__title {
    flex: 3;
  }

  label {
    font-size: 13px;
    color: var(--whiteMediumEmp);
  }
}

.hide-table {
  display: none;
}

.flex-1 {
  display: flex;
  justify-content: space-between;
  .left_nav {
    display: flex;
    justify-content: flex-start;
  }
  .countryAnalysis__header {
    display: flex;
    width: 100%;
    align-items: baseline;
    justify-self: flex-start;
    .back__button__wrapper {
      display: flex;
      width: 45%;
      align-items: center;
      .back__button {
        padding: 0px 5px 0px 5px;
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
  }
}

.col-span-1 {
  margin-right: 10px;
}
