@import '../../../../sass/globalVariables.scss';
.saweekly__wrap {
  margin: 20px;
  background: var(--backgroundSolid);
  border-radius: 4px;
  border: 1px solid #293b58;
  padding: 15px;

  .btnOpenDispatch {
    float: right;
    color: #2980b9;
    margin: 0;
    border: 1px solid #2980b9;
    cursor: pointer;
    padding: 8px;
    background: transparent;
    margin-right: 15px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 15px;
    // border-bottom: 1px solid #d3d3d3;
    // padding: 0 0 10px;
    margin: 0 0 15px;
    color: var(--whiteMediumEmp);
    text-transform: uppercase;

    .btnDispatch {
      float: right;

      color: #2980b9;
      margin: 0;
      border: 1px solid #2980b9;
      cursor: pointer;
      padding: 8px;
      background: transparent;
      margin-right: 15px;
      border-radius: 3px;
      text-transform: uppercase;
    }
  }

  .amd--title {
    flex: 3;
  }

  .btnSave {
    color: #2980b9;
    margin: 0;
    border: 1px solid #2980b9;
    cursor: pointer;
    padding: 8px;
    background: transparent;
    margin-right: 15px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  .approve--status {
    p {
      color: var(--whiteMediumEmp);
      border-radius: 5px;
      padding: 5px;
    }
    &.approved {
      p {
        background: #20bf6b;
      }
    }
    &.rejected {
      p {
        background: #fa8231;
      }
    }
  }
}

.isImportantWrap {
  padding-bottom: 35px;

  label {
    margin-right: 10px;
  }
}
.table__wrap {
  width: 100%;
  max-height: 73vh;
  overflow-y: scroll;
}
.table {
  width: 100%;
  border-collapse: collapse;
  color: var(--whiteMediumEmp);
  margin-top: 30px;

  .table__header {
    background-color: #101b2d;
    font-weight: 500 !important;
    padding: 12px 10px;
  }
  td,
  th {
    background-color: var(--backgroundSolid);
    padding: 8px 10px;
    font-size: var(--font-size-p) !important;
    border-bottom: 1px solid #33425a;
    p {
      color: var(--whiteHighEmp);
      font-size: var(--font-size-span) !important;
      font-weight: normal !important;
    }
  }
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}
