$bg--color: rgba(0, 0, 0, 0.4);
$green: rgba(171, 193, 66, 1);

.timeline--item{
    position: relative;
    background: $bg--color;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;

    .highlight{
        position: absolute;
        top: 50%;
        left: -32px;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background: $green;
        border-radius: 50%;
        border: 1px solid #fff;
        z-index: 999;
    }

    @media screen and (min-width: 786px){
        width: 50%;
    }

    &.left{
        left: 5%;

        @media screen and (min-width: 786px){
            left: -4%;

            &:after{   
                left: 0;
            }

            .highlight{
                left: 388px;
            }
        }
    }

    &.right{
        left: 5%;
        
        @media screen and (min-width: 786px){
            left: 54%;

            &:after{   
                left: 0;
            }

            .highlight{
                left: -34px;
            }
        }
    }

}

.timeline--info{

    display: flex;
    justify-content: space-between;
    color: var(--whiteMediumEmp);
    font-size: 0.9rem;

    &:hover{
        color: $green;
    }

    &:after{
        content: " ";
        position: absolute;
        left: -12px;
        top: 50%;
        transform: translateY(-50%);
        border-top:6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid $bg--color;
    }

    &.left{
        &:after{
            @media screen and (min-width: 786px){
                left: auto;
                right: -12px;
                border-right: 6px solid transparent;
                border-left: 6px solid $bg--color;
            }
        }
    }

    .timeline--link--title{
        margin-right: 10px;
        line-height: 1rem;
    }

    i{
        font-size: 14px;
    }
}