.more--options{
    padding: 15px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span{
        color: #444;
        label{
            margin-left: 10px;
        }
    }
}

.userManagement{
        .btn--user{
            background-color: rgba(26,115,232,0.1);
            border-color: transparent;
            color: #1565cf;
            width: 145px;
            text-transform: uppercase;
            padding: 10px;
            cursor: pointer;
            border-radius: 4px;

            i, .btn--label{
                color: #1565cf !important;
            }
        }
}

