#barclaysFilter {
  background-color: var(--backgroundSolid);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  width: 50%;
  border-radius: 3px;

  .barclaysFilter__head {
    margin-bottom: 15px;
    h3 {
      font-size: 18px;
      color: var(--whiteHighEmp); 
      font-weight: normal;
    }
  }
  .barclaysFilter__body {
    padding: 10px;
    overflow: auto;
    height: 400px;
    overflow-y: hidden;

    &:hover {
      overflow-y: scroll;
    }

    .dateWrapper {
      .date {
        margin-bottom: 10px;
      }
    }

    .labelWrap label {
      color: var(--whiteHighEmp); 
      font-size: 0.75rem !important;
      text-transform: capitalize;
    }
    .twoColWrap.multi--selects {
      padding: 1px 0;
      margin: 0;
    }
    .twoColWrap.single--selects {
      padding: 0px 0 10px;
      margin-bottom: 0;
    }
  }
  .barclaysFilter__footer {
    display: flex;
    justify-content: center;
    .btn {
      text-transform: capitalize;
      border: 1px solid transparent !important;
      cursor: pointer;
      border-radius: 7px;
      font-size: 13px;
    }
    .btn--apply {
      color: var(--whiteHighEmp); 
      background: var(--primaryDark);
    }
    .btn--download {
      color: var(--whiteHighEmp); 
      background: var(--primarylight);
      box-shadow: none;
    }
    .btn--reset {
      color: var(--text);
      background: var(--whiteBackground);
      box-shadow: none;
    }
  }

  .barclaysFilter__head__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-times {
      color: var(--whiteHighEmp); 
      background: transparent;
      padding: 5px;
      margin: 0;
      width: auto;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
