.modal__eventDetails {
  position: absolute;
  background: rgba(6, 14, 27, 0.95);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  min-width: var(--modal-min-width);
  max-width: var(--modal-max-width);
  max-height: var(--modal-max-height);
  transform: translate(-50%, -50%);
  outline: none;

  .modal--header {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 0;
    align-items: center;

    .btn-times {
      color: var(--whiteHighEmp); 
      font-size: var(--close-times-size) !important;
      cursor: pointer;
      padding: 5px 8px;
      border-radius: 3px;
    }
  }
  .modal--body {
    overflow-y: scroll;
    height: auto;
    max-height: var(--modal-max-inner-height);

    .title__wrap {
      display: flex;
      align-items: center;
      padding: 0 15px 0;
      margin-bottom: 10px;
    }
    .event__detail {
      padding-bottom: 10px;

      h2 {
        font-size: 18px;
        color: var(--whiteHighEmp); 
        font-weight: normal;
      }
      .event label {
        color: var(--whiteHighEmp); 
        font-size: var(--font-size-label) !important;
        text-transform: uppercase;
        margin-bottom: 4px;
        color: var(--primarylight);
      }
      .event {
        flex: 1 1;
        padding-bottom: 10px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .event p {
        color: var(--whiteHighEmp); 
        line-height: 20px;
        padding: 5px 0;
        word-break: normal;

        i {
          color: var(--primarylight);
        }
      }
      .event--data {
        background: rgba(6, 14, 27, 0.95);
        padding-top: 15px !important;
      }
      .event--detail,
      .event--location {
        padding: 0 10px;
      }
      .event .pill {
        padding: 5px 7px;
        border-radius: 5px;
      }
    }
  }
  .modal--footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .pdf--btn {
      text-transform: capitalize !important;
      border: 1px solid var(--darkActive);
      background: transparent;
      color: var(--darkActive);
      padding: 12px;
      cursor: pointer;
      border-radius: 2px;
      font-weight: 100;
      font-size: 13px;

      &:hover {
        background: var(--darkActive);
        color: var(--darkGrey);
      }
    }
  }
}
.pre-line {
  white-space: pre-line;
}
