.error-404{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;

    img{
        width: 300px;
    }
}

.error-txt{
    padding: 15px 0; 
}