.updateItems {
  border: 1px solid #22314a;
  border-radius: 3px;
  background: #091427;
  width: 290px;
  min-height: 128px;
  height: auto;
  padding: 8px;
  margin: 0 15px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .pills {
    background: #293b58;
    color: var(--whiteMediumEmp);
  }

  h4 {
    text-transform: capitalize;
    color: var(--whiteMediumEmp);
    font-size: 13px;
    padding-bottom: 6px;
  }

  label {
    color: #666;
    font-size: 13px;
  }

  .meta {
    margin: 20px 0;
  }

  .pills {
    margin: 0 3px 0;
  }
}

.items__wrap {
  display: flex;
  flex-wrap: wrap;
}

.updateEventsWrap {
  padding: 30px;
  margin: 20px;
  background: var(--backgroundSolid);
  //border: 1px solid #d3d3d3;
}

.update__events__inner {
  overflow-y: auto;
  height: 500px;
}

.live__events {
  h3 {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    color: var(--whiteMediumEmp);
  }
}

.add--update--btn {
  text-transform: uppercase;
  background-color: #3498db;
  border-radius: 3px;
  border: 1px solid #3498db;
  color: var(--whiteMediumEmp);
  font-weight: 600;
  text-align: center;
  width: 100%;
  // margin: 10px;
  font-size: 12px;
  padding: 8px;
  cursor: pointer;
}

.outerAddUpdate,
.outerListUpdate {
  padding: 15px;

  h3 {
    font-size: 16px;
    color: var(--whiteHighEmp); 
    padding-bottom: 10px;
  }
}

.no--updates {
  padding-top: 15px;
  font-size: 14px;
  color: #666;
}

.btn--addTitle {
  background: #3498db;
  border: 1px solid #3498db;
  color: var(--whiteMediumEmp);
  font-weight: 600;
  padding: 8px;
  border-radius: 3px;
  margin-top: 6px;
  cursor: pointer;
}

.update__listItem {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }

  div {
    display: flex;
    justify-content: flex-start;
  }

  .update__title {
    flex: 3;
    margin-right: 15px;
    input {
      padding: 6px 10px;
      border: 1px solid #d3d3d3;
      border-radius: 3px;
      color: var(--whiteHighEmp); 
      width: 100%;
      margin-right: 15px;
    }

    p {
      color: var(--whiteHighEmp); 
      font-size: 13px;
    }
  }

  .update__date {
    flex: 2;
    p {
      color: var(--whiteHighEmp); 
      font-size: 13px;
    }
  }

  .update__edit,
  .update__delete {
    flex: 1;
    // margin-left: 10px;
  }
}

.no--updates--txt {
  color: #666;
}

.btn {
  padding: 8px;
  border-radius: 3px;
  color: var(--whiteMediumEmp);
  cursor: pointer;
  width: 80px;
  margin-left: 14px;
}

.btn--edit {
  background: #e58e26;
  border: 1px solid #e58e26;
}

.btn--delete {
  background: #e55039;
  border: 1px solid #e55039;
}

.close--update {
  padding: 15px;
  text-align: right;
}

.btn--close {
  font-size: 17px;
  font-weight: normal;
  border: none;
  color: var(--whiteMediumEmp);
  padding: 5px 8px;
  border-radius: 3px;
  background: transparent;

  &:hover {
    background: var(--highlightBackgroundLight);
    border-radius: 3px;
    cursor: pointer;
  }
}

.addItemWrap {
  img {
    width: auto !important;
  }
}

button[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}

.outerAddUpdate__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outerAddUpdate_close {
  font-size: 24px !important;
  cursor: pointer;
}
