#slider{

    position: relative;
    overflow: hidden;
    width: 900px;
    // width: 320px;
    margin: 0 auto;
    margin-left: 150px;

    & .sliderOuter{
        position: relative;
        max-width: 320px;
        margin: 0 auto; 
        height: 210px;
        display: flex;
        align-items: center;
        // overflow: hidden;
    }

    .slider__inner{
        display: flex;
        position: absolute;
        transition: transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .slider--item{
        cursor: pointer;
        background-color: rgba(52, 73, 94, 0.9);
        transform: scale(0.8);
        transition: background 0.2s ease-in-out;
        opacity: 0.6;
        min-width: 320px;
        min-height: 64px;
        box-shadow: 1px 2px 8px 1px rgba(52, 73, 94, 0.3);
        border-radius: 5px;
        display: flex;
        align-items: center;

        &:hover{
            background: rgba(52, 73, 94, 1);
        }

        p{
            font-size: 13px;
            color: var(--whiteMediumEmp);
            font-weight: 600;  
            padding: 10px;
        }

        .slider__info{

            text-align: center;
            
            .s--icon{
                display: block;
                height: 40px;
                width: 40px;
                line-height: 40px;
                border-radius: 50%;
                margin-left: 10px;
                border: 1px solid #333;
                opacity: 1;
            }

            i{
                color: #333;
                font-size: 24px;
            }

            p{
                text-align: left;
                line-height: 16px;
                padding-left: 0;
            }
        }
    }

    .active--slide{
        transition: transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        transform: scale(1);
        opacity: 0.9;
    }

    .navs{
        span{
            z-index: 998;
            position: absolute;
            height: 40px;
            width: 40px;
            display: block;
            border-radius: 50%;
            background-color: rgba(52, 73, 94, 0.5);
            box-shadow: 1px 2px 8px 1px rgba(52, 73, 94, 0.3);
            // border: 1px solid rgba(52, 73, 94, 1);
            text-align: center;
            line-height: 40px;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);   
            
            i{
                color: var(--whiteMediumEmp);
                font-weight: 700;
            }
        }

        .nav--right{
            right: 0;
            
            &.disabled{
                opacity: 0.6;
                cursor: not-allowed;
            }
        }

        .nav--left{
            left: 0;

            &.disabled{
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
    }
}

.updates--outer{
    h2{
        padding: 15px;
        border-bottom: 1px solid #d3d3d3;
        font-size: 16px;
        color: #444;
        font-weight: normal;
    }

    p{
        text-align: center;
        padding: 10px;
        font-size: 14px;
        color: #444;
    }
}

@media screen and (max-width: 786px){
    #slider{
        max-width: 320px;
    }
}