@import '../../../../sass/globalVariables.scss';

#clientFilterOptions {
  position: absolute;
  top: 14px;
  right: 320px;
  z-index: 999;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btnEllipsis,
  .btnGlobalSearch {
    outline: none;
    background: var(--darkTransparent);
    border: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 14px;
    color: var(--darkActive);
    padding: 13px;
    //margin: 15px 0;
    margin-top: -5px;
    box-shadow: 0 0 0px 7px rgba(255, 255, 255, 0.1%);
    -webkit-animation: black 2s infinite;
    -moz-animation: black 2s infinite;
    -o-animation: black 2s infinite;
    animation: black 2s infinite;

    &:hover {
      color: var(--whiteHighEmp);
      cursor: pointer;
    }

    &:disabled {
      color: var(--whiteMediumEmp);
      cursor: not-allowed;
    }
  }
}

/* White Shadow */
@-moz-keyframes white {
  0%,
  100% {
    -moz-box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
      inset 0px 0px 10px rgba(69, 82, 107, 0.5);
    box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
      inset 0px 0px 10px rgba(69, 82, 107, 0.5);
  }

  50% {
    -moz-box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
      inset 0px 0px 0px rgba(69, 82, 107, 0);
    box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
      inset 0px 0px 0px rgba(69, 82, 107, 0);
  }
}

@-webkit-keyframes white {
  0%,
  100% {
    -webkit-box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
      inset 0px 0px 10px rgba(69, 82, 107, 0.5);
    box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
      inset 0px 0px 10px rgba(69, 82, 107, 0.5);
  }

  50% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
      inset 0px 0px 0px rgba(69, 82, 107, 0);
    box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
      inset 0px 0px 0px rgba(69, 82, 107, 0);
  }
}

@-o-keyframes white {
  0%,
  100% {
    box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
      inset 0px 0px 10px rgba(69, 82, 107, 0.5);
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
      inset 0px 0px 0px rgba(69, 82, 107, 0);
  }
}

@keyframes white {
  0%,
  100% {
    box-shadow: 1px 0px 7px 2px rgba(69, 82, 107, 0.7),
      inset 0px 0px 6px rgba(69, 82, 107, 0.5);
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
      inset 0px 0px 0px rgba(69, 82, 107, 0);
  }
}
