@import '../../../../sass/globalVariables.scss';

#privacyPolicy {
  padding: 15px 30px;
  .privacyPolicy-title {
    margin-bottom: 5px;
    color: var(--lightBlue);
  }
  .privacyPolicy-detail {
    margin-bottom: 25px;
    text-align: justify;
    color: var(--whiteMediumEmp);
    white-space: pre-line;
  }
}
