.boxes {
  flex: 1;
}

.pdfViewer {
  padding-left: 10px;
  h1 {
    color: var(--whiteMediumEmp);
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
  }

  iframe {
    min-height: calc(100vh - 140px);
    max-height: 800px;
  }
}
