#locationRatingList {
  overflow-y: auto;
  height: 80vh;
  position: relative;
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--darkActive);
    border-radius: 5px;
  }

  .locationRatingList--wrap { 
    .locationRatingList--data{
      display: flex;
      flex-direction: row;
      height: 75vh;
      overflow-y: auto;
      overflow-x: hidden; 
      padding: 15px 0;

    .infoIcon {
      float: right;

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--whiteMediumEmp);
        i {
          color: #4caf50;
        }
      }
    }
    .location--list {
      margin: 20px 7px;
      padding: 0;
      overflow-y: auto;
      max-height: 70vh;
      flex: 70%; 

      &::-webkit-scrollbar {
        width: 4px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: var(--darkActive);
        border-radius: 5px;
      }

      li {
        color:  var(--whiteHighEmp);
        list-style: none;
        margin: auto;
        min-height: 35px;
        /*background: rgba(255,255,0,0.1);*/
        // border-left: 1px dashed rgba(27, 42, 68, 0.74);
        padding: 0 15px 7px 0;
        margin-bottom: 7px;
        position: relative;
        border-bottom: 1px solid rgba(27, 42, 68, 0.74);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        h4 {
          color: var(--whiteMediumEmp); 
          font-weight: 100;
          margin-bottom: 10px;
          font-size: 16px;
        }

        p {
          color: #9a9a9a;
          font-size: 13px !important;
          margin-bottom: 5px;

          span {
            color: #000;
            padding: 0 10px;
            font-size: 5px !important;
            margin-right: 3px;
            border-radius: 5px;
          }
        }
      }
      li:last-child {
        border-left: 0;
        border-bottom: 0;
      }
    }
  }
  }
}

#infoIcon {
  flex: 30%;;
  .infoList {
    background-color: #0b1320;
    box-shadow: none;
    padding: 15px !important;
    margin: 0;
    li {
      display: block !important;
      padding-bottom: 15px;
    }
  }
}
