.radarChart {
  margin-top: 7px;
  background-color: var(--cardBackground);
  padding: 20px 0px;
}
.eventList {
  margin-top: 7px;
  background-color: var(--cardBackground);
  .geoFencingHeader {
    color: var(--highlightText) !important;
    text-align: center;
    font-size: calc(6px + 1vmin);
    padding: 10px 0px;
  }
  .geoFenceEventCard {
    height: 41vh;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1919px){
  .eventList {
    margin-top: 7px;
    background-color: var(--cardBackground);
    .geoFencingHeader {
      color: var(--highlightText) !important;
      text-align: center;
      font-size: calc(6px + 1vmin);
      padding: 10px 0px;
    }
    .geoFenceEventCard {
      height: 52vh;
      overflow-y: scroll;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 1240px){
  .eventList {
    margin-top: 7px;
    background-color: var(--cardBackground);
    .geoFencingHeader {
      color: var(--highlightText) !important;
      text-align: center;
      font-size: calc(6px + 1vmin);
      padding: 10px 0px;
    }
    .geoFenceEventCard {
      height: 29vh;
      overflow-y: scroll;
    }
  }
}

@media only screen and (max-width: 1370){
  .eventList {
    margin-top: 7px;
    background-color: var(--cardBackground);
    .geoFencingHeader {
      color: var(--highlightText) !important;
      text-align: center;
      font-size: calc(6px + 1vmin);
      padding: 10px 0px;
    }
    .geoFenceEventCard {
      height: 45vh;
      overflow-y: scroll;
    }
  }
}
#rime__geoFencing__eventCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(129, 144, 153, 0.5);
  .rime__geoFencing__eventCardList {
    background: var(--cardBackground) !important;
    border-radius: 0px 0px 0px 0px;
  }
  .rime__geoFencing__eventCardList:hover {
    background: var(--cardBackground) !important;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
  }
  .geoFencing__header {
    display: flex;
    align-items: center;
    margin: 10px 10px 5px 10px;
    justify-content: space-between;
  }
  .geoFencing__pill {
    background-color: white;
    display: flex;
    align-items: center;
    min-height: 20px;
    padding: 1px 5px;
    border-radius: 4px;

    &.low {
      background-color: var(--globalLightLow);
    }

    &.medium {
      background-color: var(--globalLightMedium);
    }

    &.high {
      background-color: var(--globalLightHigh);
    }
  }
  .geoFencing__cat__pill {
    color: #111826;
    font-size: calc(5px + 0.4vmin) !important;
  }
  .geoFencing__card__innercolumn {
    display: flex;
    justify-content: space-between;
    .rime__geoFencing__eventDate {
      color: var(--highlightText) !important;
      font-weight: normal;
      padding: 0px 0;
      font-size: calc(5px + 0.4vmin) !important;
      display: inline;
    }
    .rime__geoFencing__eventDate::after {
      content: '';
      height: 100%;
      border-left: 1px solid var(--whiteHighEmp);
      margin: 0px 5px;
    }
    .rimeupdate__geoFencing__date {
      font-size: calc(5px + 0.4vmin) !important;
      color: var(--highlightText) !important;
    }
  }
  .geoFencing__card__row1 {
    display: flex;
    flex-direction: row;
    .geoFencing__card__innercolumn1 {
      width: 30%;
      min-width: 30%;
      height: 100%;
      min-height: 100%;
      margin-right: 7px;
      .geoFencing__event__img {
        width: 100% !important;
        min-height: 100% !important;
        height: 100% !important;
        border-radius: 10px;
      }
    }
    .geoFencing__card__innercolumn2 {
      width: 100%;
      height: 100%;
    }
  }
  .geoFencing__card__row2 {
    .geoFencing__card__innercolumn {
      display: flex;
      justify-content: space-between;
    }
  }
  .geoFencing_row_2 {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    .geoFencing__eventbody__subHead {
      font-size: calc(3px + 1vmin) !important;
      line-height: 1.25 !important;
      padding-top: 3px;
      font-weight: 500 !important;
      color: var(--highlightText) !important;
      display: inline;
    }
    .geoFencing__eventbody__location_wrap {
      color: var(--highlightText) !important;
      font-weight: normal;
      padding: 0px 0;
      font-size: calc(3px + 1vmin) !important;
      display: inline;
    }
    .geoFencing__eventbody__location_wrap::after {
      content: '';
      height: 100%;
      border-left: 1px solid;
      margin: 0px 5px;
    }
    .geoFencing__eventbody__wrap {
      color: var(--highlightText) !important;
      font-weight: normal;
      padding: 0px 0;
      font-size: calc(3px + 1vmin) !important;
      display: inline;
      div.geoFencing__eventbody__wrap {
        line-height: 1.2 !important;
      }
    }
  }
  .geoFencing__eventtitle__wrap {
    color: var(--highlightText) !important;
    font-weight: normal;
    padding: 0px 0;
    font-size: calc(7px + 1vmin) !important;
  }
  div.geoFencing__eventtitle__wrap {
    line-height: 1.6 !important;
  }
  .geoFencing__eventbody__wrap {
    color: var(--highlightText) !important;
    font-weight: normal;
    padding: 0px 0;
    font-size: calc(3px + 1vmin) !important;
    display: inline;
  }
  .geoFencing__description {
    padding-top: 10px;
    line-height: 1;
  }
  .geoFencing__card_footer {
    display: flex;
    justify-content: space-between;
  }
  .geoFencing__article__content__pill {
    background-color: var(--pillColour);
    display: flex;
    border-radius: 4px;
    padding: 0px 7px;
    align-items: center;
    cursor: pointer;
  }
  .geoFencing__article__content__pill:hover {
    background-color: #aac142;
    cursor: pointer;
  }
  .geoFencing__eventbody__Head {
    font-size: calc(3px + 1vmin) !important;
    line-height: 1.25 !important;
    padding-top: 3px;
    font-weight: 500 !important;
    color: white !important;
    display: inline;
  }
  .tagsIcon,
  .eyeIcon {
    width: 13px !important;
    color: white !important;
  }
  .geoFencing__rime__tags {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 2px;
    display: -webkit-box; //do not remove this line as it makes tags in 2 line
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    span {
      margin-right: 5px;
      color: var(--captionTextColour);
      line-height: 1.05rem;
      font-size: calc(2px + 1vmin) !important;
      padding: 3px 7px;
      border-radius: 4px;
    }
  }
  .distanceFromOffice {
    padding-left: 12px;
    font-size: calc(4px + 1vmin);
    color: var(--highlightText);
    padding-bottom: 5px;
    .locationIcon {
      color: #acc243;
      font-size: calc(4px + 1vmin);
      margin-right: 3px;
    }
  }
}
