@import '../../../../sass/globalVariables.scss';

#rimeFiltersModalCont {
  .rootFilters__body {
    padding: 15px;
    min-height: 450px;
  }
  .rootFilters__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid var(--whiteDisabled);
    h1 {
      color: var(--whiteHighEmp);
    }
    span {
      color: var(--whiteMediumEmp);
      padding: 8px 15px;
      border-radius: 3px;
      font-size: 22px !important;
      cursor: pointer;
      &:hover {
        background-color: var(--lightGrey);
        color: var(--whiteHighEmp);
      }
    }
  }
  .rootFilters__body {
    padding: 15px;
    .placesBoundWrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .moreOptions__wrap {
      display: flex;
      justify-content: flex-end;
      .downloadExcel {
        background-color: var(--darkActive);
      }
    }
    .filterDivider {
      display: flex;
      align-items: center;
      padding: 5px 0;
      max-width: 60%;
      margin: 0 auto;
      .filterDivider__line {
        height: 1px;
        width: 100%;
        background: var(--whiteMediumEmp);
        margin: 10px;
      }
      .filterDivider__text {
        color: var(--whiteHighEmp);
      }
    }
    &.modal__inner {
      max-height: 600px !important;
      min-height: 600px !important;
    }
    .selectAllCats {
      display: flex;
      align-items: left;
    }
  }
  .rootFilters__footer {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
}

#rimeEventArchivesModalCont {
  background: var(--darkGreyModal);

  &.modal__inner {
    max-height: 600px !important;
    min-height: 300px !important;
  }

  .rootFilters__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid var(--whiteDisabled);
    h1 {
      color: var(--whiteHighEmp);
    }
    span {
      color: var(--whiteMediumEmp);
      padding: 8px 15px;
      border-radius: 3px;
      font-size: 22px !important;
      cursor: pointer;

      &:hover {
        background-color: var(--highlightBackgroundLight);
        color: var(--whiteHighEmp);
      }
    }
  }
  .rootFilters__body {
    padding: 15px;

    .body__downloadOption {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 3px;
      margin: 10px 0;
    }
    .filterLabelWrap {
      label {
        color: var(--whiteHighEmp);
        font-weight: bold;
      }
    }
  }
}
.rimeFilter_Heading {
  color: rgba(218, 218, 218, 0.9);
  font-size: 14px;
  margin-top: 2vh;
}

.css-17ahht0-placeholder {
  color: rgb(122, 122, 122) !important;
  font-size: calc(6px + 1.2vmin);
}

@media only screen and (max-width: 1300px) {
  .css-17ahht0-placeholder {
    top: 40% !important;
  }
}

.eventArchive__row {
  display: flex;
  flex-direction: row;
}
.eventArchive__multiselect {
  width: 25vw;
  margin-top: 0.5vh;
  scrollbar-width: 0;
}

.eventArchive__download {
  margin-right: 10px;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  background: #acc343;
}

.selectAllEventCats {
  display: flex;
  flex-direction: row;
  color: var(--whiteDisabled) !important;
  align-items: center;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 45px !important;
  .filtersWrapBox__arrow {
    color: var(--whiteDisabled);
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: var(--whiteDisabled) !important;
  }
}

.selectAllEventCatsWhiteRisk {
  background-color: var(--backgroundSolid) !important;
  color: var(--whiteHighEmp);
  .filtersWrapBox__arrow {
    color: var(--whiteHighEmp);
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: black !important;
  }
}

.selectAllEventCatsWhite {
  background-color: white;
  color: black;
  .filtersWrapBox__arrow {
    color: black;
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
}

.eventFilter__Button {
  background-color: #02385a;
  height: 42px;
  width: 165px;
  &:hover {
    background-color: #acc423;
  }
}

.eventFilter__CancelBtn {
  background-color: #111826 !important;
  color: white !important;
  height: 42px !important;
  width: 115px !important;
  padding-right: 20px !important;
  &:hover {
    background-color: #e35a5a !important;
  }
}

.EventArchieve__search__Tags {
  width: 19vw;
  margin-top: 0.5vh;
  background-color: var(--backgroundSolid) !important;
  height: 5.1vh !important;
  max-height: 5.1vh;
  margin-left: 5px;
  border-radius: 3px !important;
  border: 1px solid var(--whiteDisabled);
  .multiple-value-text-input input {
    border-radius: 3px !important;
    height: 5vh !important;
    padding-top: 8px;
    padding-left: 8px;
  }
}

.EventArchieve__Event_ManualTags {
  margin-top: 0.5vh;
  height: 2vh !important;
  color: var(--whiteHighEmp) !important;
  border-color: white;
  padding-left: 10px;
  padding-right: 5px;
  label {
    color: var(--whiteHighEmp) !important;
    font-size: calc(5px + 1vmin) !important;
    width: 20vw !important;
  }
  .MuiInputBase-input {
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    font-size: calc(6px + 1vmin) !important;
    color: var(--whiteHighEmp);
    height: 2vh !important;
    border-color: white !important;
    width: 21vw;
  }
}

.EventArchieve__selectAllEventCats {
  display: flex;
  flex-direction: row;
  color: var(--reverseBackgroundSolid);
  align-items: center;
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 38px !important;
  border: 1px solid var(--reverseBackgroundSolid) !important;
  border-radius: 5px;
  width: 200px;
  .filtersWrapBox__arrow {
    color: var(--whiteMediumEmp);
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: white !important;
  }
}

.EventArchieve__selectAllEventCatsWhiteRisk {
  background-color: var(--backgroundSolid) !important;
  color: var(--whiteHighEmp) !important;
  .filtersWrapBox__arrow {
    color: var(--whiteHighEmp) !important;
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: black !important;
  }
}

.EventArchieve__selectAllEventCatsWhite {
  background-color: white;
  color: black;
  .filtersWrapBox__arrow {
    color: black;
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
}

.manage_eventTags {
  height: 5vh !important;
  width: 13.5vw !important;
  font-size: 10px !important;

  .MuiOutlinedInput-multiline {
    padding: 0px;
  }
  .MuiFilledInput-input {
    padding: 0px !important;

    height: 5vh !important;
  }
}

.Filter__MultipleLocations {
  overflow-x: hidden;
}

.rime__topBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.searchStyle {
  background-color: #02385a !important;
  color: white !important;
  height: 42px !important;
  width: 165px !important;
  margin-left: 10px !important;
  &:hover {
    background: #a0b63c !important;
  }
}

.rime__filterDrawer {
  display: flex;
  flex-direction: column;
  .srchBtn {
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
#rimeFilterOptions {
  position: absolute;
  top: 6px;
  left: 14px;

  .btnEllipsis {
    outline: none;
    background: transparent;
    border: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 14px;
    color: var(--darkActive);
    padding: 13px;
    margin: 15px 0;
    box-shadow: 0 0 0px 9px rgba(255, 255, 255, 0.1%);
    -webkit-animation: white 2s infinite;
    -moz-animation: white 2s infinite;
    -o-animation: white 2s infinite;
    animation: white 2s infinite;

    &:hover {
      color: var(--whiteHighEmp);
      cursor: pointer;
    }

    &:disabled {
      color: var(--whiteMediumEmp);
      cursor: not-allowed;
    }
  }
}

.rimeFilter__row {
  display: flex;
  flex-direction: row;

  .css-z8kcju-control {
    height: 100px !important;
    background-color: var(--darkerBackground) !important;
  }
  .css-1c7lrkp-control {
    height: 100px !important;
    box-shadow: none !important;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: var(--darkerBackground) !important;
    border-radius: 3px !important;
  }
  .filter__mLocations {
    margin-left: 10px;
    width: calc(50% - 20px);
    position: relative;
    .rime__multipleLocationsParent {
      position: relative;
      width: inherit;
      .rime__multipleLocations {
        height: 100px !important;
        background-color: none;
        position: fixed;
        width: inherit;
        .css-1hwfws3 {
          max-height: 96px;
          overflow-y: scroll !important;
        }
      }
    }
  }
  .filter__otherFilters {
    padding-left: 2vw;
    .css-kj6f9i-menu {
      height: 50vh !important;
    }
    .filter__subRow1 {
      display: flex;
      flex-direction: row;
      height: 45px;
      .css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
        background-color: #02385a;
        color: white;
      }
      .rime__toggleOperations {
        background-color: white !important;
        height: 45px !important;
        border-radius: 5px !important;
        .css-d9c359-MuiButtonBase-root-MuiToggleButton-root {
          height: 45px !important;
          font-size: calc(5px + 1vmin) !important;
        }
      }

      .rimeFilter__tags {
        display: flex;
        flex-direction: row;
        width: 40vw !important;
        margin-left: 1vw;
        margin-right: 1vw;
        .rime__tags {
          border-color: rgba(255, 255, 255, 0.5);
          color: var(--whiteDisabled) !important;
          width: 60%;
          height: 45px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: var(--darkerBackground) !important;
          border-radius: 3px !important;
          border: 1px solid rgba(255, 255, 255, 0.4);
          margin-top: 0px !important;
          margin-right: 15px;
          label {
            color: var(--whiteDisabled) !important;
            font-size: calc(5px + 1vmin) !important;
            width: 15vw !important;
          }
          .MuiInputBase-input {
            padding-top: 0px !important;
            padding-bottom: 2px !important;
            font-size: calc(6px + 1vmin) !important;
            color: var(--whiteHighEmp) !important;
            height: 20px !important;
            width: 23vw;
          }
          .multiple-value-text-input input {
            border-radius: 3px !important;
            height: 5vh !important;
            padding-top: 8px;
            padding-left: 8px;
          }
        }
        .rimeFilter__Language {
          width: 40%;
          background-color: var(--darkerBackground) !important;
          border: 1px solid rgba(255, 255, 255, 0.4);
          border-radius: 3px;
          padding: 0px !important;
          .rimeFilter__languageChild {
            position: fixed;
            z-index: 10;
            max-height: 55vh;
            overflow-y: scroll;
            width: 14%;
            background-color: var(--darkerBackground) !important;
          }
        }
      }
    }
    .filter__subRow2 {
      display: flex;
      flex-direction: row;
      padding-top: 10px;
      margin-right: 1vw;
      height: 55px;
      .rimeFilter__RiskCategory {
        width: 33.33%;
        background-color: var(--darkerBackground) !important;
        border: 1px solid rgba(255, 255, 255, 0.4);
        margin-right: 1vw;
        border-radius: 3px;
        padding: 0px !important;
        .rimeFilter__RiskCategorychild {
          position: fixed;
          height: auto;
          max-height: 55vh;
          overflow-y: scroll;
          width: 14.7%;
          background-color: var(--darkerBackground) !important;
        }
      }
      .rimeFilter__Relevancy {
        width: 33.33%;
        background-color: var(--darkerBackground) !important;
        border: 1px solid rgba(255, 255, 255, 0.4);
        margin-right: 1vw;
        border-radius: 3px;
        .rimeFilter__RelevancyChild {
          position: fixed;
          width: 14.7%;
        }
      }
      .Event_RefreshDuration {
        width: 33.33%;
        color: var(--whiteDisabled) !important;
        border-color: rgba(255, 255, 255, 0.5);
        padding-left: 10px;
        padding-right: 5px;
        background-color: var(--darkerBackground) !important;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 3px;
        height: 45px;
        label {
          color: var(--whiteDisabled) !important;
          font-size: calc(5px + 1vmin) !important;
          width: 15vw !important;
        }
        .MuiInputBase-input {
          padding-top: 0px !important;
          font-size: calc(6px + 1vmin) !important;
          color: var(--whiteHighEmp) !important;
          height: 15px !important;
          border-color: var(--whiteDisabled) !important;
          width: 15vw;
        }
      }
    }
  }
}
