#metricsWrap{
    background: rgba(0, 0, 0, 0.5);
    //box-shadow: 0 2px 6px 0 #d3d3d3;
    // max-width: 600px;
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    min-height: 200px;
    align-items: center;

    p{
        color: var(--whiteMediumEmp);
        font-size: 13px;
        text-align: center;
    }
}

.metricsItem{
    .circle{
        height: 80px;
        width: 80px;
        line-height: 70px;
        border-radius: 50%;
        border-top: 7px solid #f1f1f1;
        text-align: center;
    } 

    label {
        color: var(--whiteMediumEmp);
    }

    p{
        padding-top: 15px;
    }
}