.eventSearch__piechart {
  fill: var(--dashboardBackground) !important;
  color: var(--dashboardBackground) !important;
  background-color: var(--dashboardBackground) !important;
  width: 100% !important;
}
.piechart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
rect {
  fill: var(--dashboardBackground) !important;
  color: var(--dashboardBackground) !important;
  width: 100% !important;
}