@import '../../../../sass/globalVariables.scss';

#rime__subscriptions {
  background-color: var(--darkGreySolid) !important;
  height: 92vh !important;
  #createSubscription {
    max-height: 520px;
    min-height: 300px;
    max-width: 800px;
    width: 800px;
  }
  .Subscription-table {
    padding: 15px 30px 0px 30px;
    padding-top: 78px;
  }
  .supplyChain--table__head {
    color: var(--lightText) !important;
    border-bottom: 0px !important;
  }
  .supplyChain--table__rowCell {
    background-color: #02385a;
    border-bottom: 0px !important;
  }
  .createRimeSubscription_btn {
    position: absolute !important;
    right: 2vw !important;
    color: white !important;
    text-transform: none;
    background-color: var(--highlightBackground) !important;
    margin-top: 20px !important;
    width: 200px;
    font-size: 18px !important;
    font-weight: 500 !important;
    border-bottom: 2px solid var(--reversebackgroundSolid) !important;
    .text {
      color: white;
    }
  }
  .editButton {
    background-color: '#ACC123';
    border-bottom: 2px solid var(--reversebackgroundSolid) !important;
  }
  .deleteButton {
    background-color: '#e94747';
    border-bottom: 2px solid var(--reversebackgroundSolid) !important;
  }
  .table--footer {
    background-color: var(--eventCardBackground);
    color: var(--highlightText) !important;
  }
  .icon__style {
    height: 18px;
    width: 18px;
  }
}

#rimeEventArchivesModalCont {
  background: var(--darkGreyModal);
  &.modal__inner {
    max-height: 600px !important;
    min-height: 300px !important;
  }
  .rootFilters__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid var(--whiteDisabled);
    h1 {
      color: var(--whiteHighEmp);
    }
    span {
      color: var(--whiteMediumEmp);
      padding: 8px 15px;
      border-radius: 3px;
      font-size: 22px !important;
      cursor: pointer;
      &:hover {
        background-color: var(--highlightBackgroundLight);
        color: var(--whiteHighEmp);
      }
    }
  }
  .rootFilters__body {
    padding: 15px;
    .body__downloadOption {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 3px;
      margin: 10px 0;
    }
    .filterLabelWrap {
      label {
        color: var(--whiteHighEmp);
        font-weight: bold;
      }
    }
  }
}

.rimeFilter_Heading {
  color: rgba(218, 218, 218, 0.9);
  font-size: 14px;
  margin-top: 2vh;
}

.css-17ahht0-placeholder {
  color: rgb(122, 122, 122) !important;
  font-size: calc(6px + 1.2vmin);
}

@media only screen and (max-width: 1300px) {
  .css-17ahht0-placeholder {
    top: 40% !important;
  }
}

.rime--subscriptions--multiple_EventLocations {
  border: 1px solid var(--whiteDisabled) !important;
  border-radius: 3px !important;
  max-height: 55px !important;
  min-height: 55px !important;
  height: 55px !important;
}

.css-1hwfws3 {
  overflow-y: scroll !important;
  color: white !important;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

.selectAllEventCats {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 45px !important;
  .filtersWrapBox__arrow {
    color: white;
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: white !important;
  }
}

.selectAllEventCatsWhiteRisk {
  background-color: var(--backgroundSolid) !important;
  color: var(--whiteHighEmp);
  .filtersWrapBox__arrow {
    color: var(--whiteHighEmp);
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: black !important;
  }
}

.selectAllEventCatsWhite {
  background-color: white;
  color: black;
  .filtersWrapBox__arrow {
    color: black;
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
}

.Event_ManualTags {
  margin-top: 0.5vh;
  height: 2vh !important;
  color: var(--whiteHighEmp) !important;
  border-color: white;
  padding-left: 10px;
  padding-right: 5px;
  label {
    color: var(--whiteHighEmp) !important;
    font-size: calc(5px + 1vmin) !important;
    width: 15vw !important;
  }
  .MuiInputBase-input {
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    font-size: calc(6px + 1vmin) !important;
    color: var(--whiteHighEmp);
    height: 2vh !important;
    border-color: white !important;
  }
}

.eventFilter__Button {
  margin: 0.5vh;
  border-radius: 5px;
  margin-right: 1vw;
}

.rime--subscriptions--toggleOperations {
  background-color: white !important;
  margin: auto;
  width: 95px;
  .css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    background-color: #02385a !important;
    color: white;
  }
}

.rime--subscriptions--last--section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
  .rime--subscription--RefreshDuration {
    margin-top: 0.5vh;
    height: 38px;
    color: white !important;
    border-color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 25%;
    label {
      color: white !important;
      font-size: 14px !important;
      width: 500px !important;
    }
    .MuiInputBase-input {
      padding-top: 10px !important;
      padding-bottom: 2px !important;
      font-size: calc(6px + 1vmin) !important;
      color: rgba(218, 218, 218, 0.9) !important;
      border-color: white !important;
    }
  }
  .dropdown__list {
    display: flex;
    flex-direction: row;
    width: 67%;
    .subscription__language {
      margin-left: -30px;
    }
  }
}

.rime--subscriptions__selectAllEventCats {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 38px !important;
  border: 1px solid var(--reverseBackgroundSolid) !important;
  border-radius: 5px;
  width: 175px;
  padding-left: 20px;
  .filtersWrapBox__arrow {
    color: var(--whiteMediumEmp);
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: white !important;
  }
}

.rime--subscriptions__selectAllEventCatsWhiteRisk {
  background-color: var(--backgroundSolid) !important;
  color: white !important;
  width: 33.33%;
  .filtersWrapBox__arrow {
    color: white !important;
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: black !important;
  }
}

.rime--subscriptions__selectAllEventCatsWhite {
  background-color: white;
  color: black;
  .filtersWrapBox__arrow {
    color: black;
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
}

.Filter__MultipleLocations {
  overflow-x: hidden;
}

.createRimeSubscription__inner {
  background: var(--modalBackground);
  .field--create--event {
    height: auto;
    min-height: 350px;
    max-height: 430px;
    overflow: auto;
    padding: 0 10px;
    padding-bottom: 60px;
  }
  h3 {
    padding: 10px;
    margin: 0 0 10px;
    font-size: 15px;
    color: var(--whiteMediumEmp);
    background: var(--backgroundSolid);
  }
  .actionables {
    padding: 15px;
    border-top: 1px solid #d3d3d3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .dateWrapper,
  .twoColWrap {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
  .twoColWrap.radios--cont {
    padding: 15px 10px;
  }
  .dateWrapper {
    flex-direction: row;
    padding-top: 10px;
    margin-bottom: 0;
  }
  .date,
  .col-2 {
    flex: 1;
    margin: 0 10px 0 0;
  }
  .date {
    margin-bottom: 15px;
  }
  .select--options {
    width: 100%;
  }
  .colThreeWrap {
    display: flex;
  }
  .col-3 {
    flex: 1;
    margin: 0 10px 0 0;
  }
}

#reactGooglePlaces {
  .icon-uniE9F1 {
    color: var(--whiteMediumEmp);
    font-size: 16px;
  }

  .location--txt {
    color: var(--whiteMediumEmp);
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }

  .location-search-input {
    height: 46px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #d3d3d3;
    padding: 10px;
    width: 100%;
    color: #666;
  }

  .autocomplete-dropdown-container {
    border: none;
    border-radius: 3px;
  }

  .list--item {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    display: block;
    padding: 10px;
    color: #777;
    font-size: 14px;
    &:hover {
      background: #eee;
    }
  }
  .loader-places {
    p {
      color: var(--whiteMediumEmp);
      font-size: 14px;
      padding: 10px;
    }
  }
}

.event-head--title {
  font-size: 14px;
  padding: 10px 0 0;
  color: var(--whiteMediumEmp);
  font-weight: normal;
}

.icon-uniE90E,
.icon-uniE99D,
.icon-uniE9F4,
.icon-uniE905,
.icon-uniE9EC {
  font-size: 16px;
  color: var(--whiteMediumEmp);
}

.status__wrap {
  padding: 0 0 20px 0;
  width: 35%;
}

.label-input {
  display: block;
  padding: 10px 5px;
  color: var(--whiteMediumEmp);
  font-size: 14px;
}

.error--text {
  padding: 10px 5px;
  display: block;
  color: #f44336;
  font-size: 12px;
}

.form__group {
  border-radius: 3px;
  margin-top: 15px;

  .event-head--title {
    margin-bottom: 15px;
  }

  .groupBtnWrap {
    margin-top: 8px;
    display: flex;
  }

  .mg {
    margin: 0 10px 0 0;
  }

  .btn--addListItem {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--whiteMediumEmp);
    width: 100%;
    border: 1px solid #fff;
    margin: 0;
    &.add {
      width: 10%;
    }
  }
}

.bullet--list {
  margin: 15px 0px;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background: #c0392b;
    border: transparent;
    color: var(--whiteMediumEmp);
    padding: 6px 8px;
    border-radius: 3px;
    cursor: pointer;
  }
  p {
    color: #666;
    font-size: 12px;
  }
}

.bullet--list {
  .fa.fa-check {
    padding-right: 10px;
    font-size: 10px;
  }
}

.fa-circle {
  font-size: 4px;
  padding-right: 4px;
}

.asterisk {
  padding-left: 2px;
  font-size: 15px;
}

.rime--subscriptions--modal--section {
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #eee;
  padding: 20px;
  margin-bottom: 15px;
  .multiple--Locations {
    height: 55px;
    scrollbar-width: 0;
    margin-top: 15px;
  }
}

.event--bg {
  display: flex;
  align-items: center;
  button.btn--addListItem {
    margin-left: 10px;
    padding: 18px;
    text-transform: uppercase;
    width: 5% !important;
  }
}

.addLocationBtn {
  padding: 10px;
  cursor: pointer;
  .addLocationBtn__icon {
    border-right: 1px solid #073b4c;
    padding: 10px 10px 10px 0;
    color: #073b4c;
  }
  .addLocationBtn__text {
    padding-left: 10px;
  }
}

#multipleLocationMap {
  .multipleLocationList {
    li p {
      color: #333;
    }
  }
}

.location--txt {
  color: var(--whiteMediumEmp);
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}

.location-search-input {
  height: 46px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #d3d3d3;
  padding: 10px;
  width: 100%;
  color: #666;
}