#editDistrictForm{
    padding: 5px;
    max-height: 650px;
    min-height: 650px;
    overflow-y: auto;

    .product__search{
        padding-top: 10px;
    }
}

.district-list-cont{
    padding: 5px 0;
}

.district-actions-cont{
    text-align: center;
}


#state-name-ip{
    padding: 10px;   
}

.box-cont{
    display: flex;
    align-items: center;

    .box--cont-inner{
        flex: 1;
    }

    .box--cont-inner:nth-child(1){
        margin: 0 5px 0 0;
    }
}