#eventCalendar {
  #monthList {
    position: fixed;
    top: 75px;
    left: 119px;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 200px;
    color:  var(--whiteHighEmp);
    background: var(--backgroundSolid);
    margin-left: 15px;

    .monthList {
      display: flex;
      flex-direction: column;
      min-height: 100%;

      ul {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 45px;
        padding-left: 0px;

        img {
          position: absolute;
          width: 75px;
          bottom: 0;
          left: 0;
          opacity: 0.2;
        }

        li {
          list-style: none;

          a {
            padding: 10px 25px;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            cursor: pointer;
            display: block;
            text-align: right;
          }

          .active {
            border-bottom: 2px solid #abc123;
          }
        }
      }
    }
  }

  #monthListData {
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    min-height: 85vh;
    padding: 0 15px;
    color:  var(--whiteHighEmp);
    // background: var(--darkGrey) !important;
    top: 76px;

    img {
      position: absolute;
      width: 100%;
    }

    .monthListData {
      background: var(--backgroundSolid);
      padding: 15px;
      margin-bottom: 35px;
      position: relative;

      img {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 120px;
        opacity: 0.1;
      }

      h1 {
        text-align: center;
        margin-bottom: 25px;
        span {
          background: var(--backgroundSolid);
          color: var(--whiteHighEmp);
          padding: 5px 100px;
          display: inline-block;
          border-radius: 15px;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          position: relative;

          &:before {
            right: 100%;
            margin-right: 0px;
          }
          &:after {
            left: 100%;
            margin-left: 0px;
          }
          &:before,
          &:after {
            content: '';
            position: absolute;
            height: 5px;
            border-bottom: 1px dashed #666;
            border-top: 1px dashed #666;
            top: 10px;
            width: 100%;
          }
        }
      }

      .eventBox {
        border-bottom: 1px solid #2a3240;
        padding: 10px;
        position: relative;

        .event-header {
          font-size: 17px;
          margin-bottom: 10px;
          letter-spacing: 0.05rem;

          span {
            border-radius: 25px;
            display: inline-block;
            width: 15px;
            height: 15px;
            line-height: 25px;
          }
        }
        .event-overview {
          margin-bottom: 10px;
          line-height: 1.25rem;

          strong {
            margin-right: 8px;
            font-weight: 500;
          }
        }
        .event-riskdata {
          margin-bottom: 10px;
          line-height: 1.25rem;

          strong {
            font-weight: 500;
            margin-right: 8px;
          }
        }
        .event-impactArea {
          margin-bottom: 10px;
          line-height: 1.25rem;

          strong {
            font-weight: 500;
            margin-right: 8px;
          }
        }
      }
      .eventBox:last-child {
        border-bottom: none;
      }
    }
  }
}
