.eventItem{
    margin: 10px;
    background: rgba(52, 73, 94, 0.7);
    // background: rgba(72, 52, 212, 0.4);
    padding: 15px;
    border-radius: 5px;
    height: 80px;
    overflow: hidden;
    width: 300px;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.5);
    color: var(--whiteHighEmp);
    
    .eventItem__details{

        display: flex;
        padding-bottom: 15px;

        .img--wrap{

        }

        .info--wrap{

        }
    }

    .eventItem__timeStamp{
        display: flex;
        justify-content: space-between;
            align-items: center;

        label{
            font-size: 11px;
        }

        span{
            text-transform: uppercase;
            font-weight: 700;
            color: var(--whiteMediumEmp);
            font-size: 12px;
        }
    }
}