.liveListItems{
    height: 100%;
    width: 100%;
    // background: #fff;
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: hidden;

    &:hover{
        overflow-y: scroll;
        padding: 0 5px 0 0;
        &::-webkit-scrollbar{
            width: 0;
        }
    }
}

#liveList{
    list-style: none;
    margin: 0;
    padding: 0;
}