
.mapCont{
    border-radius: 5px;
    min-height: 100vh;
    background: #fff;
    margin: 0 10px 10px;   
    overflow: hidden;
}

#covid-map-filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: auto;
    z-index: 998;
    padding: 10px;
    background: transparent;
}

.filter-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0,0,0,0.7);
    color: var(--whiteMediumEmp);
    box-shadow: 4px 5px 6px 0px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    
    .filter--icon{
        i{
            color: var(--whiteMediumEmp);
            font-size: 20px;
        }
    }

    .filter--label{
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: 10px;
    }
}



#stats-covid-19{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    height: auto;
    z-index: 998;

    .stats-cont{
        // dis
        background: rgba(0,0,0,0.7);
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;

        label{
            color: rgba(255,255,255,0.6);
            font-weight: 600;
            font-size: 14px;
            text-transform: capitalize;

            span{
                margin-left: 2px;
            }
        }

        .stats--value{
            display: block;
            font-size: 14px;
            color: var(--whiteMediumEmp);
            padding-top: 10px;
            font-weight: 600;
        }


        .total-stats-cont{
            padding: 10px 0;
            color: var(--whiteMediumEmp);

            .new-cases-value{
                // margin-left: 10px;
            }

            .case-percentage, .new-cases-value{
                margin-left: 7px;
                font-size: 14px !important;
            }

            .t-value{
                color: var(--whiteMediumEmp);
                font-size: 14px;
                margin-left: 5px;
            }
        }
    }


    .stats-cont.districtsCont{
        max-height: 300px;
        overflow: auto;

        &::-webkit-scrollbar{

        }

        &::-webkit-scrollbar-thumb{
            background: transparent;
        }

        &::-webkit-scrollbar-track{
            background: transparent;
        }

        .districts-cont{
            display: flex;
            padding: 8px 0;

            .d--count{
                color: var(--whiteHighEmp);
                font-size: 0.8em;
                font-weight: 600;
                text-align: center;
                flex: 1;
            }

            .d--name{
                color: var(--whiteMediumEmp);
                font-size: 0.8em;
                padding-left: 10px;
                text-align: center;
                flex: 1;
            }
        }

        .t--header-district{
            display: flex;
            padding-top: 8px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding-bottom: 5px;
            
            span{
                flex: 1;
                color: var(--whiteMediumEmp); 
                font-weight: bold;
                font-size: 0.75em;
                text-align: center;
            }
        }
    }

    
}

#covid-19-hambu{
    position: fixed;
    top: 10px;
    z-index: 998;
    left: 10px;
    height: 40px;
    width: 40px;
    background: rgba(0,0,0,0.8);
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0, 0.2);

    .btn-covid-hambu{
        line-height: 40px;
        background: transparent;
        border: 0;
        i{
            color: rgba(255, 255, 255, 0.7);
            font-size: 16px;
        }
    }

    
}

.m--filters{
    min-width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .filter--head-covid{
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        .filter-head-box{

            &.one{
                flex: 1;
                color: var(--whiteMediumEmp);
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-size: 13px;
            }
            padding: 10px;
            .close-times{
                font-size: 22px;
                color: rgba(255,255,255,0.7);
                display: block;
                width: 100%;
                height: 100%;
            }

        }
    }

    .filter--body-covid{
        flex: 2;
    }

    .filter--footer-covid{
        flex: 1;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}

.m--filters{
    .filter-options{
        margin-bottom: 0;
        background-color: transparent;
    }
}

#mstats-covid-19{
    .bottom--stats{
        position: absolute;
        bottom: 2%;
        z-index: 998;
        width: 100%;
        display: flex;    
        justify-content: space-evenly;

        .stats-cont{
            display: flex;
            // border: 1px solid rgba(255, 255, 255, 0.2);
            align-items: center;
            background: rgba(0,0,0,0.7);
            padding: 5px;
            margin: 0 5px;
            border-radius: 5px;
            color: var(--whiteMediumEmp);
            flex-direction: column;

            .stats--value{
                text-align: center;
            }

            label{
                color: var(--whiteMediumEmp); 
                font-size: 12px;
            }

            .total-stats-cont{
                text-align: center;
                .new-cases{

                    .new-cases-value{
                        padding-right: 2px;
                        font-size: 12px;
                    }
    
                    .case-percentage{
                        font-size: 12px;
                    }
                }

                .t-value{
                    color: var(--whiteMediumEmp);
                    display: block;
                    font-size: 13px;
                }
            }    
            
            .stats--value{
                font-size: 13px;
                font-weight: 600;
            }
        }
    }

    #district-m{
        position: absolute;
        right: 5px;
        bottom: 15%;
        z-index: 998;
        max-height: 170px;
        overflow-y: auto;
        background: rgba(0,0,0,0.7);
        color: var(--whiteMediumEmp);
        padding: 5px;
        border-radius: 5px;
        max-width: 150px;
        
        .t--header-district{
            span{
                font-size: 11px;
                color: var(--whiteMediumEmp); 
            }
        }

        .districts-cont{
            display: flex;
            padding: 3px;
            border-bottom: 1px solid var(--whiteDisabled) ;

            &:last-child{
                border-bottom: none;
            }
        }

        .d--name, .d--count{
            font-size: 12px;
        }

        &::-webkit-scrollbar-thumb{
            background: transparent;
        }

        &::-webkit-scrollbar-track{
            background: transparent;
        }

        .d--count{
            color: var(--whiteHighEmp);
            font-size: 0.8em;
            font-weight: 600;
            text-align: center;
            flex: 1;
        }

        .d--name{
            color: var(--whiteMediumEmp);
            font-size: 0.8em;
            padding-left: 10px;
            text-align: center;
            flex: 2;
        }

        .t--header-district{
            display: flex;
            padding-top: 8px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding-bottom: 5px;

            .d--name{
                flex: 2;
            }
            
            span{
                flex: 1;
                color: var(--whiteMediumEmp); 
                font-weight: bold;
                font-size: 0.75em;
                text-align: center;
            }
        }


    }
}