.countryAnalysisWrap {
  padding: 20px;
  height: 92vh;
}
.countryAnalysisTopNavbar {
  display: flex;
  justify-content: flex-end;
  .form--control {
    width: 110px;
  }
}
#alert-view-modal {
  min-width: 1175px;
  max-height: 500px;
  overflow-y: hidden;
}

.tablelist__head {
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 0 15px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .tl__title {
    flex: 3;
  }

  label {
    font-size: 13px;
    color: var(--whiteMediumEmp);
  }
}
