.rimeSearch {
  margin-bottom: 7px;
  .inputBtnWrapper {
    button {
      color: var(--whiteDisabled);
      font-size: 14px;
      border: none;
      background: transparent;
      cursor: pointer;
      &:hover {
        background-color: var(--lightGrey);
      }
    }
  }
  .cancelButton{
    background: transparent;
    border: none;
  }
}