.topicManagementList {
  margin: 15px;
  background: var(--backgroundSolid);
  border-radius: 3px;
  .tListHead {
    p {
      font-weight: bold !important;
    }
  }

  .liveTopicStatus {
    i {
      font-size: 12px;
    }

    &.isLive {
      i {
        color: var(--globalVeryLow);
      }
    }

    &.isNotLive {
      i {
        color: var(--globalHigh);
      }
    }
  }

  .btnEdit  {
    color: var(--whiteMediumEmp);
    border: 1px solid #fff;
    cursor: pointer;
    padding: 6px;
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;
}
}

.topicManagementList_modal {
  padding: 15px;
}

.topic__header {
  padding-bottom: 15px;
  color:#fff;
}
.userSettings__label {
  color: var(--whiteMediumEmp);
}
.topic__footer {
  text-align: center;

  .btnSubmit,
  .btnClose {
    color: var(--whiteMediumEmp);
    border: 1px solid #fff;
    cursor: pointer;
    padding: 6px;
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;
    
    &:hover{
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .btnSubmit {
    // background: var(--lightBlue);
    // color: var(--whiteMediumEmp);
  }
}

.editTopicManagement {
  padding: 10px 0;
}

.addTopic{
  padding: 15px;

  .btnAdd  {
    color: var(--whiteMediumEmp);
    border: 1px solid #fff;
    cursor: pointer;
    padding: 6px;
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;


    &:hover{
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.userSettings_toggles{
  padding-top: 15px;
}
