#kGraph {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 10px 10px 0 10px;

  .screen__one {
    background-image: url('../../../../../../assets/quadrant.svg');
    background-position: 55px 7px;
    background-repeat: no-repeat;
  }
  .screen__two {
    background-image: url('../../../../../../assets/quadrant-screen-two.svg');
    background-position: 55px 7px;
    background-repeat: no-repeat;
  }

  .kGraph__body {
    margin: 0 auto;
    &.screen__one {
      width: 720px;
      max-width: 720px;
    }
    &.screen__two {
      width: 520px;
      max-width: 520px;
    }
  }
}
