#liveUpdatePortal {
  .transparent--list--inner {
    display: flex;
    // justify-content: center;
  }

  .updateIcon {
    margin-right: 10px;
  }

  .update--icon {
    // border: 2px solid #FFDC34;
    // box-shadow: 0 0 3px 0 #FFDC34;
    // height: 32px;
    // width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    img {
      width: 20px;
    }
  }

  .update--info {
    padding-left: 10px;

    .title,
    .timestamp {
      color: var(--whiteHighEmp);
      font-size: 13px;
    }

    .update {
      padding-top: 10px;
      padding-bottom: 10px;
      color: var(--whiteMediumEmp) !important;
      font-size: 13.6px !important;
      line-height: 18px;
      p {
        padding-bottom: 10px;
        color: var(--whiteMediumEmp) !important;
        font-size: 12px;
      }
    }

    .timestamp {
    }
  }

  .live--pulse {
    z-index: 109;
    position: relative;
  }

  .live--pulse {
    &:after,
    &:before {
      content: '';
      position: absolute;
      border-radius: 50%;
      // background: #FFDC34;
      border: 2px solid #ffdc34;
      top: 50%;
      // bottom: -5px;
      left: 50%;
      transform: translate(-50%, -50%);
      // right: -5px;
      opacity: 0;
      animation: livePulse 3.5s linear infinite;
      display: block;
      width: 10px;
      height: 10px;
    }
  }

  .live--pulse {
    &:after {
      animation-delay: 2s;
    }
  }
}

@keyframes livePulse {
  0% {
    opacity: 0;
    transform: scale(0.05);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
