.comment-list{
    padding: 0;
    margin: 0;

    li{
        color: #666;
        font-size: 12px;
        line-height: 16px;
        padding: 10px;
        background-color: #f1f1f1;
        &:nth-child(odd){
            background-color: var(--whiteMediumEmp);
        }
    }
}