$blue: var(--backgroundSolid);

#covidSubBanner{
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50px 50px 0 0;

    .downloadBtns{
        background: #fff;
        border: 1px solid $blue;
        color: $blue;
        border-radius: 25px;
        font-size: 12px;
        font-weight: 600;
        text-transform: capitalize;
        min-width: 200px;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 786px){

            &.rootBtnSummary{
                margin-bottom: 15px;
            }
        }

        &:hover{
            background: $blue;
            color: var(--whiteMediumEmp);
        }
    }

    #reportsBtnCont{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 786px){
            max-width: 400px;
            margin: 0 auto;
            justify-content: space-evenly;
            flex-direction: row;
        }

        .reports-box{
            .c-mg-10{
                margin-left: 10px;
            }

            @media screen and (min-width: 786px){
                margin: 0 15px;
            }
        }

    }


    #metricsCont{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: -60px;

        @media screen and (min-width: 786px){
            flex-direction: row;
            justify-content: center;
        }

        .metrics-box{
            width: 100%;
            height: 100px;
            margin: 0 0 15px 0;
            border-radius: 5px;
            box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #0b192f;
            padding: 10px;
            width: 80%;
            margin: 0 auto 15px;

            @media screen and (min-width: 786px){
                width: 25%;
                margin: 0 15px;
            }

            @media screen and (min-width: 1200px){
                width: 20%;
            }

            @media screen and (max-width: 500px) and (min-width: 400px){
                width: 60%;
            }

        }
    }
}