#resources { 
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;

  .resources--wrap {
    display: flex;
    flex-direction: row;
    height: 75vh;
    h1 {
      margin-bottom: 15px;
    }
    .advisory--row {
      width: 100%;
      display: flex;
      flex-direction: row;
      .embed-responsive {
        flex: 70% 1; 
        iframe {
          width: 100% !important;
          height: 75vh !important;
        }
      }
      .advisory--row__list {
        flex: 30% 1;
        div {
          width: 100%;
          color: var(--whiteMediumEmp);
          padding: 5px;
          background: rgba(20, 33, 54, 0.85);
          min-height: 100px;
          overflow-y: scroll;
          max-height: 75vh; 

          &::-webkit-scrollbar {
            width: 4px;
          }
        
          &::-webkit-scrollbar-thumb {
            background-color: var(--darkActive);
            border-radius: 5px;
          }

          div {
            padding: 15px;
            background: #0f1725;
            margin-bottom: 7px;
            overflow: hidden;
            border-radius: 7px;
            height: 100px;

            h1 {
              color: #eee;
              font-size: 15px;
              font-weight: 100;
              text-transform: capitalize;
              padding-bottom: 10px;
            }
            .infoCard-meta-wrap {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-left: 0;

              div {
                padding: 0;
                margin-bottom: 0;
                width: auto;
              }

              p {
                padding-bottom: 0;
              }

              a {
                color: var(--whiteMediumEmp);
                cursor: pointer;
              }
            }
            .infoCard-meta-wrap-buttons {
              display: flex;
              justify-content: space-between;
              a {
                margin: 0 10px;
              }
            }
            p {
              color: #7b7b7b;
              font-size: 12px;
              padding-bottom: 15px;

              a {
                color: var(--darkActive);
                float: right;
                border: 1px solid var(--darkActive);
                cursor: pointer;
                padding: 5px;
                border-radius: 3px;
                &:hover {
                  transform: translate3d(0px, -1px, 0px);
                }
              }
            }
          }
        }
      }
    }
  }
}
