.districtTableParams{
    max-height: 520px;
    min-height: 520px;
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 0;
    }

    &::-webkit-scrollbar-thumb{
        display: none;
    }

    &::-webkit-scrollbar-track{
        background: transparent;
    }
}