#rime__eventsearch {
  min-height: 100%;
  overflow: hidden;
  background-color: var(--darkBackground);

  .totalResult {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #02385a;
    width: 160px;
    height: 45px;
    border-radius: 6px;
    padding: 10px;
  }

  .right__navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .download_icon {
      width: 50px;
    }
    .eventsearch_searchbar {
      margin-top: 2px;
      width: 100%;
      height: 45px;
    }
    .btnEllipsis {
      outline: none;
      background: transparent;
      border: 0;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-size: 14px;
      color: var(--darkActive);
      padding: 13px;
      margin: 2px 15px;
      box-shadow: 0 0 0px 9px rgba(255, 255, 255, 0.1%);
      -webkit-animation: white 2s infinite;
      -moz-animation: white 2s infinite;
      -o-animation: white 2s infinite;
      animation: white 2s infinite;

      &:hover {
        color: var(--whiteHighEmp);
        cursor: pointer;
      }

      &:disabled {
        color: var(--whiteMediumEmp);
        cursor: not-allowed;
      }
    }
  }

  .rime_eventsearchbody {
    display: flex;
    width: 100%;
    height: 90vh;
    flex-direction: row;
    padding: 0px 50px 0px 50px;
    margin-top: 10px;
    .eventSearch_dashboard {
      display: flex;
      flex-direction: column;
      width: 65%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .eventSearch_right_container {
      display: flex;
      flex-direction: column;
      width: 35%;
    }
    .eventsearch__list {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      margin-right: 15px;
    }
  }
  .rime__eventsearchDashboard {
    background-color: var(--backgroundSolid) !important;
    min-height: 100%;
    overflow: hidden;
  }

  .eventsearch__body__row {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    padding: 0px 15px 15px 0px;
  }

  .eventsearch__heatmap {
    border: 2px solid rgba(129, 144, 153, 0.5);
    border-radius: 10px;
    padding: 5px;
  }
  .eventsearch__title_heatmap {
    color: var(--whiteHighEmp);
    background: var(--dashboardBackground);
    font-weight: 700;
    padding: 10px 10px 10px 0px;
    font-size: calc(8px + 1vmin) !important;
  }
  .fullWidthChart {
    margin: 0px 15px 15px 0px;
    border-radius: 10px;
    background-color: var(--dashboardBackground);
  }
  .eventsearch__inner__row1 {
    width: 60%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--dashboardBackground);
    border-radius: 10px;
    padding: 0px 15px 15px 15px;
  }
  .eventsearch__inner__row2 {
    width: 40%;
    background-color: var(--dashboardBackground);
    overflow: hidden;
    border-radius: 10px;
    margin-right: 15px;
  }
  .extra__space {
    padding: 10px;
  }
  .eventsearch__title {
    color: var(--whiteHighEmp);
    background: var(--dashboardBackground);
    font-weight: 700;
    padding: 10px 10px 10px 10px;
    font-size: calc(8px + 1vmin) !important;
  }
  .eventsearch__timeline {
    padding: 5px;
  }
}
.event__navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 0px 50px 0px 50px;
  .left__navBar {
    display: flex;
    flex-direction: row;
    .btnEllipsis {
      outline: none;
      background: transparent;
      border: 0;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-size: 14px;
      color: var(--darkActive);
      padding: 13px;
      margin: 2px 15px;
      box-shadow: 0 0 0px 9px rgba(255, 255, 255, 0.1%);
      -webkit-animation: white 2s infinite;
      -moz-animation: white 2s infinite;
      -o-animation: white 2s infinite;
      animation: white 2s infinite;

      &:hover {
        color: var(--whiteHighEmp);
        cursor: pointer;
      }

      &:disabled {
        color: var(--whiteMediumEmp);
        cursor: not-allowed;
      }
    }
  }
  .right__navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .download_icon {
      width: 50px;
    }
    .eventsearch_searchbar {
      margin-top: 2px;
      width: 100%;
      height: 45px;
    }
    .btnEllipsis {
      outline: none;
      background: transparent;
      border: 0;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-size: 14px;
      color: var(--darkActive);
      padding: 13px;
      margin: 2px 15px;
      box-shadow: 0 0 0px 9px rgba(255, 255, 255, 0.1%);
      -webkit-animation: white 2s infinite;
      -moz-animation: white 2s infinite;
      -o-animation: white 2s infinite;
      animation: white 2s infinite;

      &:hover {
        color: var(--whiteHighEmp);
        cursor: pointer;
      }

      &:disabled {
        color: var(--whiteMediumEmp);
        cursor: not-allowed;
      }
    }
  }
}
.event--search--no-found {
  height: 92vh;
  width: 100%;
}
.event--search--no-found-image {
  height: 45vh;
  width: 60%;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .eventsearch__body__row {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    padding: 0px 15px 15px 0px;
  }
}