#eventList {
  position: absolute;
  top: 0;
  height: 58vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  max-width: 25%;
  padding: 0 10px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0);

  &:hover {
    overflow-y: scroll;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primarylight);
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5px;
  }
  h1 {
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  .topEvents {
    background-color: rgba(6, 14, 27, 0.95);
    z-index: 9;
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.25);
    transition: 0.4s all ease-in-out;
    min-height: 61px;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: var(--whiteHighEmp); 

    .totalEvents {
      font-size: 1.75rem !important;
      color: var(--primarylight);
      font-weight: normal;
    }
  }
  .eventList--wrap {
    // position: absolute;
    //max-width: 300px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

    .eventlist--item {
      display: flex;
      justify-content: space-evenly;
      background: var(--darkGrey);
      padding: 12px;
      border-radius: 8px;
      margin: 0 0 10px 0;
      cursor: pointer;
      transition: all 0.1s ease-in;
      border: 2px solid transparent;
      box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);

      div {
        flex: 5 1;

        .eventlist--title {
          color: var(--whiteHighEmp); 
          font-size: 14px;
          font-weight: normal;
        }

        .eventlist--item__pills {
          border-radius: 2px;
          padding: 2px 7px;
          display: inline-block;
          margin-top: 8px;
          color: rgba(0, 0, 0, 0.87);
          background: #0074a6;
        }

        .eventlist--datetime {
          color: rgba(255, 255, 255, 0.65);
          font-size: 13px;
          margin-top: 10px;
        }
      }
    }
  }
}
