#majorRisk {
  flex: 30% 1;
  padding: 10px;
  background: rgba(255, 255, 255, 0);

  .majorRisk--wrap {
    background: var(--darkGrey);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: 100%;
    overflow: hidden;

    &:hover {
      overflow-y: scroll;
      cursor: pointer;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #abc123;
        border-radius: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }
  }

  h1 {
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
    i {
      color: #2b3a54;
    }
  }
  ul {
    margin: 20px 7px;
    padding: 0;
    display: inline-block;
    width: 100%;
  }
  li {
    color: rgba(105, 105, 105, 0.74);
    list-style: none;
    margin: auto;
    min-height: 35px;
    /*background: rgba(255,255,0,0.1);*/
    // border-left: 1px dashed rgba(27, 42, 68, 0.74);
    padding: 0 0 7px 0;
    margin-bottom: 7px;
    position: relative;
    border-bottom: 1px solid rgba(27, 42, 68, 0.74);

    p {
      font-size: 13px !important;
      margin-bottom: 5px;
      color: var(--whiteHighEmp); 
    }
    span {
      font-size: 21px !important;
      color: #e01059;
    }
  }
  li:last-child {
    border-left: 0;
    border-bottom: 0;
  }
}
