$blue: var(--backgroundSolid);
$grey: #404040;
$white: #ffffff;

#covidStatewise{

    .implementedMeasures{
        background:  $white;
        padding: 5px;
        li, p, span{
            color: #000;
            font-size: 12px;
            line-height: 16px;
        }
    
        a{
            color: #5D9AEE;
        }
    
        ul{
            // list-style: none;
            padding-left: 20px;
        }
    
        li{
            padding: 5px;
            &:nth-child(odd){
                background: #f1f1f1;
            }
        }
    }

    .covidStatewise{
        display: flex;
        min-height: 400px;
        margin-bottom: 35px;


        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }

    padding: 30px;
    background: rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 1024px){
        padding: 30px 5px;
    }

    .stateReportBtnCont{
        display: flex;
        justify-content: center;
    }

    .c-mg-10{
        margin-left: 10px;
    }

    .statewise-title{
        text-align: center;
        color: $white;
        font-size: 17px;
        margin-bottom: 30px;
        letter-spacing: 0.115rem;
        font-weight: 100;
    }

    .downloadBtns{
        background: #fff;
        border: 1px solid $blue;
        color: $blue;
        border-radius: 25px;
        font-size: 12px;
        font-weight: 600;
        text-transform: capitalize;
        min-width: 200px;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 786px){

            &.rootBtnSummary{
                margin-bottom: 15px;
            }
        }

        &:hover{
            background: $blue;
            color: var(--whiteMediumEmp);
        }
    }


    #statewiseTableCont{
        flex: 1;

        @media screen and (min-width: 1024px){
            margin-right: 10px;
        }

        @media screen and (max-width: 1024px){
            margin-bottom: 15px;
        }
    }

    #statewiseInfoCont{
        flex: 1;
    }

}