@import '../../../../../../sass/globalVariables.scss';

#kBody {
  overflow-y: hidden;
  .kGridWrapper {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    background: var(--darkSolid);
    padding: 0px;

    &.highlighted {
      border: 1px solid var(--glowingGreen);
      .kBody__centerGrid {
        flex-basis: 50%;
      }

      .kBody__rightGrid {
        flex-basis: 50%;
      }
    }
  }

  .kGraph__noDataMsg {
    color: var(--whiteMediumEmp);
    margin: 30px;
  }

  .kBody__leftGrid,
  .kBody__rightGrid {
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: 50%;
    background: var(--backgroundSolid);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .kBody__centerGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 33.33%;
  }

  // .kBody__rightGrid {
  // }
}

.kGraph__subfooter {
  padding: 10px;
}

.kGraph__footer {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 80px;
}

.kGraph__header {
  min-height: 40px;
  min-width: 100%;
  padding: 15px;
}

.flex-25 {
  flex-basis: 25% !important;
}

.flex-75 {
  flex-basis: 75% !important;
}
