.advisory--row {
  width: 100%;

  display: flex;

  flex-direction: row;

  .embed-responsive {
    flex: 75%;
  }
}

#rootInfoList {
  .infoCard-meta-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;

    div {
      padding: 0;
      margin-bottom: 0;
    }

    p {
      padding-bottom: 0;
    }

    a {
      cursor: pointer;
    }
    [title~='View'] {
      color: #00b1ea;
    }
    [title~='Expand'] {
      color: #f1c749;
    }
  }

  .infoCard-meta-wrap-buttons {
    display: flex;
    justify-content: space-between;
    a {
      margin: 0 10px;
    }
  }
}
