#login {
  //background: #757F9A;  /* fallback for old browsers */
  position: relative;
  background-image: url('../../assets/monitoring-bg.jpg');
  // background-image: url('https://mitkatrisktracker.s3.ap-south-1.amazonaws.com/Rime+(1).jpg');
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.95;
    background: rgb(41, 55, 74);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(12, 21, 33, 1) 48%,
      rgba(20, 33, 54, 1) 100%
    );
    // background: #060c14; /* fallback for old browsers */

    // background: -webkit-linear-gradient(
    //   to right,
    //   #000000,
    //   #060c14
    // ); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(
    //   to right,
    //   #000000,
    //   #060c14
    // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .partner__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 60px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    height: 100vh;
    position: relative;
    z-index: 1;

    p {
      font-size: 15px !important;
      margin: 0;
      padding-bottom: 17px;
      text-align: center;

      a {
        color: var(--darkActive);
        padding-right: 3px;
        padding-left: 3px;
      }
    }
    .light-text {
      color: #aaa;
    }
    .partner__box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        width: 25%;
        height: fit-content;
        margin: 10px;
      }
      .partner__logo__background {
        background-color: white;
        border-radius: 5px;
        padding: 10px;
      }
    }
  }

  .loginWrapper {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);

    .options {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding: 60px;

      h1 {
        font-weight: normal;
        font-size: 24px;
        margin: 0;
        padding-bottom: 10px;
      }

      p {
        font-size: 16px;
        margin: 0;
        padding-bottom: 15px;
      }
    }
  }

  .loginBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px 60px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    height: 100vh;
    position: relative;
    z-index: 1;

    &.slide--right {
      transform: translateX(400px);
      // animation: shake 1s 0.3s ease-in;
    }
    .loginWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
      background: #0d1521;
      border-radius: 5px;
      box-shadow: 1px 1px 5px 0px rgba(255, 255, 255, 0.02);

      .subline-text {
        font-size: 15px;
        color: #9e9f9f;
        text-align: center;
        img {
          width: 115px;
          max-width: 100%;
        }
      }
    }
    h1 {
      color: #dfdfdf;
      padding: 0;
      font-size: 1.75rem !important;
      font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
      text-align: left;
      margin-bottom: 20px;
    }
    p {
      color: var(--whiteDisabled);
      margin-top: 5px;

      a {
        color: var(--darkActive);
        padding-right: 3px;
        padding-left: 3px;
      }
    }
    .reCAPTCHA {
      margin-top: 20px;
    }

    .loginOptions {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      align-items: baseline;
      width: 100%;

      button {
        width: 100%;
        background-color: #f1f1f1;
        color: rgba(10, 36, 61, 0.87);
        text-transform: none;
      }

      label {
        color: #34495e;
        cursor: pointer;
      }
    }

    .divider {
      height: 1px;
      background-color: rgba(255, 255, 255, 0.4) !important;
      width: 100%;
      margin-bottom: 25px;
    }
  }

  .logoWrap {
    text-align: left;
    margin-bottom: 40px;
  }
  .footer-text {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #9e9f9f;
    font-size: 14px;
    letter-spacing: 0.05rem;
  }
}

// @keyframes shake{
//     0%{
//         transform: translateX(50px);
//     }
//     30%{
//         transform: translateX(100px)
//     }
//     60%{
//         transform: translateX(250px);
//     }
//     80%{
//         transform: translateX(470px);
//     }
//     90%{
//         transform: translateX(450px);
//     }
//     100%{
//         transform: translateX(400px);
//     }
// }
