.coverageRating__wrap {
  margin: 20px;
  background: var(--backgroundSolid);
  border-radius: 4px;
  padding: 15px;

  h2 {
    font-size: 15px;
    margin: 0 0 15px;
    color: var(--whiteMediumEmp);
    text-transform: uppercase;
  }

  .amd--title {
    flex: 3;
  }

  .btn--edit,
  .btn--delete {
    color: var(--whiteMediumEmp);
    border-radius: 3px;
    padding: 4px;
    margin: 0 5px;
    cursor: pointer;
  }

  .tablelist__head {
    display: flex;
    padding: 0 0 15px;

    .tablelist__left {
      justify-content: start !important;
      align-items: start !important;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    label {
      font-size: 13px;
      color: var(--whiteMediumEmp);
    }
  }
}
