$blue: var(--backgroundSolid);

.statewise-t-wrapper{
    max-height: 400px;
    min-height: 400px;
    overflow-y: auto;
    border: 1px solid $blue;
    border-radius: 0 0 5px 5px;
    background-color: var(--backgroundSolid);

    &::-webkit-scrollbar{
        width: 0 !important;
    } 
    .highlight-wrapper .t-value {
        font-size: 12px;
        color: var(--whiteHighEmp); 
        font-weight: 100 !important;
    }
}