@import '../../../sass/globalVariables.scss';

.tableItems {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;

  div {
    text-align: center;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.user--list--inner {
  width: 100%;
}

#user-list-table {
  width: 100%;
  border-collapse: collapse;

  .labelTxt {
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 25px;
    color: var(--whiteMediumEmp);

    &.nep {
      background-color: #6ab04c;
    }

    &.pum {
      background-color: #f0932b;
    }

    &.rpc {
      background-color: var(--lightBlue);
    }

    &.rpa {
      background-color: var(--glowingGreen);
    }
  }

  input {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    width: 100%;
    color: var(--whiteHighEmp);
    background: var(--backgroundSolid);
    // max-width: 128px;
  }

  input[type='text'] {
  }

  input[type='password'] {
    // background: red;
  }

  input[type='email'] {
    // background: red;
  }

  thead {
    border-bottom: 1px solid #d3d3d3;

    th {
      text-align: left;
    }
  }

  th {
    font-size: 14px;
    font-weight: normal;
    color: var(--whiteMediumEmp);
  }

  td,
  th {
    padding: 10px;
  }

  tr {
    border-bottom: 1px solid #d3d3d3;
  }

  tr:last-child {
    border-bottom: none;
  }

  // & tr:nth-child(even){
  //     background-color: var(--whiteMediumEmp);
  //     cursor: pointer;
  //     &:hover{
  //         background-color: #f1f1f1;
  //     }
  // }

  & thead tr:nth-child(1) {
    background: transparent !important;
    border-bottom: 1px solid #d3d3d3;
  }

  // & tr:nth-child(odd){
  //     background-color: #f1f1f1;
  //     cursor: pointer;
  //     &:hover{
  //         background-color: #f1f1f1;
  //     }
  // }
}

button.viewDetails {
  padding: 10px;
  font-size: 12px;
  width: 100px;
  background: #6ab04c;
  color: #222;

  &:hover {
    color: var(--whiteMediumEmp);
    border: 1px solid #d3d3d3;
  }
}

.customMsg__wrap__userTable {
  min-width: 200px !important;
  min-height: 160px !important;
  padding: 15px;
  color: var(--whiteMediumEmp);
  border-radius: 10px;
}

.btnPasswordWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btnPasswordClose {
  background: transparent;
  border: 1px solid #fff;
}

.radioWrapper {
  display: flex;
  flex-direction: row !important;
}
