.navigation__Bar {
  height: 8vh !important;
  width: 100vw;
  background-color: var(--darkBackground) !important;
  background: var(--darkBackground);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #707a81;
  .menu-icon{
    color: var(--textHeader);
   }
  .left__Menus {
    display: flex;
    flex-direction: row;
  }
  .right__Menus {
    display: flex;
    flex-direction: row;
  }
  .rime__logo {
    height: 3vh;
    margin-left: 10px;
    margin-top: 2.5vh;
    color: var(--textHeader) !important;
  }
  .mitkat__logo{
    height: 6vh;
    width: 120px;
    margin-left: 10px;
    margin-top: 1vh;
    color: var(--textHeader) !important;
  }
  .Rime__title {
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 500;
    font-size: calc(12px + 1vmin) !important;
    line-height: 3.5vh;
    color: var(--textHeader) !important;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 5px 10px;
    margin: 1.5vh 1vh;
    border-radius: 5px;
    border: 2px solid rgba(0, 145, 255, 1);
    background-color: rgba(0, 145, 255, 0.3);
  }
  .btnAvatarMenu {
    line-height: 8vh;
    background: transparent;
    border: currentColor;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    padding: 0 7px;
    margin-top: 5px;
    &:hover {
      color: #f9f9f9;
      cursor: pointer;
    }
  }
}
