$grey: #737373;
$green: #92a72f;

.recommendationWrap {
  cursor: pointer;
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
  min-height: 100%;

  .recommendationWrap__title {
    color: $grey;
    font-weight: 100;
    font-size: 15px;
  }
  .recommendationWrap__info {
    color: var(--whiteHighEmp); 
    padding: 0 15px 10px;
    white-space: pre-line;
    overflow-y: scroll;
    max-height: inherit;
    min-height: inherit;

    &::-webkit-scrollbar {
      display: none;
    }

    button {
      background: transparent;
      border: none;
      color: $green;
      cursor: pointer;
    }
  }

  .recommendationWrap__info {
    color: $green;
  }
}

.recommendationList {
  padding: 7px !important;
  padding-left: 0;
  list-style: none;
  background: #0f1724;
  margin: auto;

  li {
    padding: 3px;
    margin-bottom: 3px;
    p {
      padding-top: 5px;
      color: var(--whiteMediumEmp);
    }
  }

  .rList__pill {
    background: #4c0d29;
    color: var(--whiteMediumEmp);
    border-radius: 3px;
    padding: 2px;

    &.blackSwans {
      background: #84848e;
    }
    &.greyRhinos {
      background: #373743;
    }
    &.preventiveActions {
      background: #970839;
    }
    &.document {
      background: #ffd422;
    }
  }
}
