.queryWrap{
    margin: 20px;
    background: var(--backgroundSolid);
    border-radius: 4px;
    //border: 1px solid #d3d3d3;
    padding: 15px;
    

    h2{
        color: var(--whiteMediumEmp);
        font-size: 20px;
    }

    .tablelist__head{
        display: flex;
        padding-top: 20px;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 20px;
        div{
            flex: 1;
            text-align: center;
            color: var(--whiteMediumEmp);
            font-size: 14px;
            font-weight: 600;
        }
    }

}

.modal__inner{
    min-height: var(--modal-min-height);
    min-width: var(--modal-min-width);
    max-width: var(--modal-max-width);
    max-height: var(--modal-max-height);
    overflow-y: scroll;

    .edit__solution{

        .summary{
            border-bottom: 1px solid #f1f1f1;
            padding-bottom: 15px;
        }

        .assignedWrap{
            display: flex;
            margin-bottom: 15px;
            padding-bottom: 15px; 
            border-bottom: 1px solid #f1f1f1;
            div{
                margin-right: 30px;
            }

            label{
                font-size: 12px;
                color: var(--whiteMediumEmp);
            }

            p{
                font-size: 13px;
                color: var(--whiteMediumEmp);
            }
        }

        .statusWrap{
            display: flex;
            align-items: center;
            padding-bottom: 15px;
        }

        .symbol{
            display: block;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            // margin-right: 10px;
            
            &.resolved{
                background: rgba(39, 174, 96, 1);
            }
            
            &.pending{
                background: rgba(243, 156, 18, 1);
            }
        }

        .status--msg{
            font-weight: 600;
            font-size: 12px;
            color: var(--whiteMediumEmp);
            padding: 0 0 0 10px;
        }

        label{
            display: block;
            color: var(--whiteMediumEmp);
            font-size: 14px;
            font-weight: 600;
            padding-bottom: 8px;
        }

        p{
            color: var(--whiteMediumEmp);
            font-size: 16px; 
        }

        h2{
            color: var(--whiteMediumEmp);
            text-transform: capitalize;
        }
    }

    .edit__solution{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .actionables{
        padding-top: 15px;
        display: flex;
        justify-content: center;
    }

    .form--group{
        margin-bottom: 15px;
    }

    .close--times{
        position: absolute;
        right: 10px;
        top: 8px;
        font-size: 25px;
        cursor: pointer;
    }
 
    .btn--viewEdit{
        margin-right: 15px;
    }
}

.upload-button{
    margin-left: 8px;
}
