#topicAnalysis{ 
  .topicAnalysis--wrap {
    color: var(--whiteHighEmp); 
    .timeline--data {
      h1 {
        font-size: 19px;
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
    .viewBox {
      padding: 10px 50px;
      background: #0b1320;
      height: 82.5vh;
    }
  }
}
