#userList{

    margin: 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 #d3d3d3;

    ul{
        list-style: none;
        padding: 0;
    }

    li{
        display: flex;
        align-items: center;
        // justify-content: space-between;
        border-bottom: 1px solid #d3d3d3;
        cursor: pointer;
        padding: 8px;

        &:nth-last-child(){
            border-bottom: 0;
        }

        &:hover{
            box-shadow: 0 6px 6px 0 #d3d3d3;
        }

        div{
            flex: 1;
        }
    }

    h3, p{
        font-size: 12px;
        color: #666;
        font-weight: normal;
        text-align: left;
    }

    div{
        margin: 0 10px; 
    }
}