#countryCoronaData {
  position: absolute;
  height: 71vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  background: var(--darkGrey);
  line-height: 1.257rem;

  &:hover {
    overflow-y: scroll;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--whiteMediumEmp);
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5px;
  }

  .countryCoronaData__box {
    padding: 15px;

    h1 {
      color: var(--whiteHighEmp);
      margin-bottom: 5px;
      font-size: 25px !important;
      margin-bottom: 10px;
    }
    h2 {
      color: var(--whiteHighEmp);
      font-size: var(--font-size-h2) !important;
      margin-bottom: 10px;
    }
    p {
      color: var(--whiteMediumEmp);
      margin-bottom: 10px;
      font-size: var(--font-size-p);
      span {
        color: var(--darkActive) !important;
      }
    }
    .countryCoronaData__data-link {
      a {
        color: var(--darkActive) !important;
      }
      color: var(--whiteMediumEmp);
      margin-bottom: 10px;
    }

    .countryCoronaData__row {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      .countryCoronaData__row-column:first-child {
        margin-right: 5px;
      }
      .countryCoronaData__row-column {
        color: var(--whiteMediumEmp);
        flex: 45% 1;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 10px;
        //margin: 5px;
        border-radius: 5px;
        position: relative;

        span {
          color: var(--darkActive);
          font-size: 25px !important;
        }

        img {
          width: 55px;
          position: absolute;
          bottom: 0;
          right: 0;
          opacity: 0.2;
        }
      }
    }
  }
}

#countryCoronaPhaseData {
  position: absolute;
  height: 26vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 99999;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  bottom: 7px;
  background: var(--darkGrey);
  line-height: 1.257rem;

  &:hover {
    overflow-y: scroll;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--whiteMediumEmp);
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5px;
  }

  .countryCoronaPhaseData__box {
    height: 100%;
    //padding: 15px;

    h1 {
      text-align: center;
      color: var(--whiteHighEmp);
    }
    p {
      text-align: center;
      color: var(--whiteHighEmp);

      a {
        color: var(--darkActive) !important;
      }
    }

    .timeline {
      position: relative;
      height: 120px;
    }

    .timeline li {
      list-style: none;
      float: left;
      width: 33.3333%;
      position: relative;
      text-align: left;
      text-transform: capitalize;
      padding: 5px 10px;

      h2 {
        text-align: center;
      }
      h2 {
        font-size: var(--font-size-h1);
        color: var(--whiteHighEmp);
      }
      p {
        font-size: var(--font-size-p);
        color: var(--whiteHighEmp);
      }
    }

    .timeline li:before {
      content: '';
      width: 10px;
      height: 10px;
      border: 3px solid var(--backgroundSolid);
      border-radius: 50%;
      display: block;
      text-align: center;
      line-height: 50px;
      margin: 0 auto 10px auto;
      background: var(--darkActive);
      color: #000;
      transition: all ease-in-out 0.3s;
      cursor: pointer;
    }

    .timeline li:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: grey;
      top: 12px;
      left: -50%;
      z-index: -999;
      transition: all ease-in-out 0.3s;
    }

    .timeline li:first-child:after {
      content: none;
    }
  }
}

#countryHundGraphData {
  max-width: 400px;
}

#countryCoronaGraphData {
  position: absolute;
  height: 71vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  right: 0;
  background: var(--darkGrey);
  line-height: 1.257rem;

  &:hover {
    overflow-y: scroll;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--whiteMediumEmp);
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5px;
  }
  .countryCoronaGraphData__box {
    .countryCoronaGraphData__row,
    .countryHundGraphData__row,
    .countryTotalGraphData__row {
      color: var(--whiteMediumEmp);
      background-color: rgba(0, 0, 0, 0.3);
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 5px;

      p {
        text-align: center;
        font-size: var(--font-size-P) !important;
        color: var(--whiteHighEmp);
        margin-bottom: 10px;
      }
    }
  }
}
