#affectedEmployees {
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  padding: 10px;
  background: var(--darkGrey);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  max-height: 420px;
  min-height: 420px;

  .affectedEmployees--wrap {
    background: var(--backgroundSolid);
    padding: 12px;
    border-radius: 8px;

    height: 100%;
    position: relative;
    &:hover {
      overflow-y: scroll;
      cursor: pointer;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #abc123;
        border-radius: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }

    ul {
      margin: 20px 7px;
      padding: 0;
      display: inline-block;
    }
    li {
      color: var(--highlightText);
      list-style: none;
      margin: auto;
      min-height: 35px;
      padding: 0 0 7px 0;
      margin-bottom: 7px;
      position: relative;

      i {
        color: #00b1ea;
      }
    }
  }

  h1 {
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;

    .downloadBtn {
      float: right;
      background: transparent;
      border: none;
      font-size: 17px;
      color: #ffc107;
      cursor: pointer;
    }
  }
  span {
    margin-top: 5px;
    margin-left: 10px;
    color: #bbb;
  }
}
