#leftNav {
  flex-basis: 256px;
  border-right: 1px solid #3d4a5f;
}

#navList {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background: var(--darkGrey);

  &::-webkit-scrollbar {
    width: 0;
  }
  h3 {
    font-size: 14px;
    color: var(--whiteHighEmp);
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding: 15px;
  }

  ul {
    padding: 0;
    margin: 0;

    li.active {
      background-color: rgba(26, 115, 232, 0.1);
      p {
        color: #1565cf;
      }
    }
  }

  li {
    color: #333;
    margin: 0;
    padding: 10px 0 10px 15px;
    cursor: pointer;
    transition: 0.2s background ease-in-out;

    &:hover {
      background: var(--lightGrey);
    }

    p {
      text-align: left;
      color: var(--whiteMediumEmp);
      font-size: 14px;
      margin: 0;
    }
    .list {
      color: white;
      padding-right: 12px;
    }
  }

  .list__icon {
    padding-right: 12px;
  }
}

#createEvent,
#createEmail,
#createSms,
#createRiskWatch,
#editRiskWatch,
#imageRiskWatch,
#multipleLocationMap {
  max-height: 620px;
  max-width: 1024px;
  width: 1024px;
}

.adminRime {
  text-align: left;
  color: var(--whiteMediumEmp);
  font-size: var(--font-size-p) !important;
  font-weight: normal !important;
}
