#monthlyCompilation {
  margin: 20px;
  background: var(--backgroundSolid);
  border-radius: 4px;
  border: 1px solid #293b58;
  padding: 15px;

  .monthlyCompilation__header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .titleHead {
    p {
      font-weight: bold !important;
    }
  }

  .titleLink {
    a {
      border: 1px solid #2980b9;
      padding: 6px;
      color: #2980b9;
      font-size: 14px;
      margin: 0 5px;
      border-radius: 3px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
