#kaleidoscopeClient {
  overflow: hidden;
  background-color: var(--backgroundSolid);
  background-image: url('../../../../assets/icons/bubble/kaleidoscrope.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .rootHeader { 
    color: var(--lightText);
    padding: 13px 30px;
    background-color: var(--darkSolid);
  }
  .rootBackBtn {
    float: right;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid var(--lightText);
    border-radius: 3px;
    color: var(--lightText);
    cursor: pointer;
  }
}
