#logoWrap {
  min-height: 60px;
  // background: #6c5ce7;
  background: var(--darkGrey);
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
  padding-left: 15px;

  .l__logo {
    // width: 40px;
    // height: 40px;

    img {
      max-width: 100%;
      width: 90px;
    }
  }

  .l__title {
    p {
      color: var(--whiteMediumEmp);
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}
