.searchBox {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  background: var(--darkGrey);
  align-items: center;
  border-radius: 25px;

  span {
    padding-right: 10px;
    color: var(--whiteMediumEmp);
  }

  .search--icon {
    color: #999;
  }

  input {
    width: 100%;
    color: var(--whiteMediumEmp);
    border: 0;
    padding: 5px;
    outline: none;
    background: transparent;

    &::placeholder {
      color: #666;
    }
  }
}
