

.email--list--wrap{
    padding-top: 15px; 
    // display: flex;
    
    .delete--wrap{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 10px;

        &:last-child{
            border: 0;
        }
    }

    h3{
        font-size: 15px;
        color: #777;
        font-weight: normal;
    }

    p{
        font-size: 13px;
        color: #888;
    }
}

.clientEmailsWrap{

    width: 100%;

    h4{
        padding: 15px 0 0;
    }
    
        .btn{
            border: transparent;
            padding: 10px;
            border-radius: 3px;
            margin-left: 0;
            margin-top: 15px;
        
            &.btn--delete{
                background-color: #ff9f43; 
                margin-top: 0;
            }
            
            &.btn--add{
                background: #ee5253;
            }
    }
    
    .email--input--wrap{
        
        padding-top: 10px;

        label{
            display: block;
            font-size: 13px;
            color: #666;
        }
        
        .email--input{
            margin-top: 10px;
            width: 100%;
        }
    }
}