#profileOptions{
    .userProfileWrap{
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .userName{
        margin: 0 10px;
    }

    .userAvatar img{
        border-radius: 50%;
        box-shadow: 0 0 2px 0 #d3d3d3;
        background: #fff;
        width: 28px;
        border-radius: 50%;
    }
    
    img{
        width: 10px;
        max-width: 100%;
    }

    .icon-uniE954{
        color: var(--whiteMediumEmp);
    }

    .user--options{ 
        position: relative;
        cursor: pointer;
        justify-content: flex-end;
        background: #34495e;
        border-radius: 50%;
        height: 42px;
        width: 42px;
        line-height: 47px;
        box-shadow: 1px 2px 8px 1px rgba(52, 73, 94, 0.3);
        text-align: center;
        margin-bottom: 20px;

        i{
            font-size: 20px;
        }
    }
}