.topList {
  overflow-y: scroll;
  height: 100%;
}

#rime__topEvents__eventCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  .rime__topEvents__eventCardList {
    background: var(--cardBackground) !important;
    border-radius: 0px 0px 0px 0px;
  }
  .rime__topEvents__eventCardList:hover {
    background: var(--cardBackground) !important;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
  }
  .topEvents__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 0px 0px;
    justify-content: space-between;
  }
  .topEvents__pill {
    background-color: white;
    display: flex;
    align-items: center;
    min-height: 20px;
    padding: 1px 5px;
    border-radius: 4px;

    &.low {
      background-color: var(--globalLightLow);
    }

    &.medium {
      background-color: var(--globalLightMedium);
    }

    &.high {
      background-color: var(--globalLightHigh);
    }
  }
  .topEvents__cat__pill {
    color: #111826;
    font-size: calc(5px + 0.4vmin) !important;
    .topEvents__cat__pill__space {
      margin-right: 2px;
    }
  }
  .topEvents__card__innercolumn {
    display: flex;
    justify-content: space-between;
    .rime__topEvents__eventDate {
      color: var(--highlightText) !important;
      font-weight: normal;
      padding: 0px 0;
      font-size: calc(5px + 0.4vmin) !important;
      display: inline;
    }
    .rime__topEvents__eventDate::after {
      content: '';
      height: 100%;
      border-left: 1px solid var(--whiteHighEmp);
      margin: 0px 5px;
    }
    .rimeupdate__topEvents__date {
      font-size: calc(5px + 0.4vmin) !important;
      color: var(--highlightText) !important;
    }
  }
  .topEvents__card__row1 {
    display: flex;
    flex-direction: row;
    .topEvents__card__innercolumn1 {
      width: 30%;
      min-width: 30%;
      height: 100%;
      min-height: 100%;
      margin-right: 7px;
      .topEvents__event__img {
        width: 100% !important;
        min-height: 100% !important;
        height: 100% !important;
        border-radius: 10px;
      }
    }
    .topEvents__card__innercolumn2 {
      width: 100%;
      height: 100%;
    }
  }
  .topEvents__card__row2 {
    .topEvents__card__innercolumn {
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
    }
  }
  .topEvents_row_2 {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    .topEvents__eventbody__subHead {
      font-size: calc(3px + 1vmin) !important;
      line-height: 1.25 !important;
      padding-top: 3px;
      font-weight: 500 !important;
      color: var(--highlightText) !important;
      display: inline;
    }
    .topEvents__eventbody__location_wrap {
      color: var(--highlightText) !important;
      font-weight: normal;
      padding: 0px 0;
      font-size: calc(3px + 1vmin) !important;
      display: inline;
    }
    .topEvents__eventbody__location_wrap::after {
      content: '';
      height: 100%;
      border-left: 1px solid;
      margin: 0px 5px;
    }
    .topEvents__eventbody__wrap {
      color: var(--highlightText) !important;
      font-weight: normal;
      padding: 0px 0;
      font-size: calc(3px + 1vmin) !important;
      display: inline;
      div.topEvents__eventbody__wrap {
        line-height: 1.2 !important;
      }
    }
  }
  .topEvents__eventtitle__wrap {
    color: var(--highlightText) !important;
    font-weight: normal;
    padding: 0px 0;
    font-size: calc(7px + 1vmin) !important;
  }
  div.topEvents__eventtitle__wrap {
    line-height: 1.6 !important;
  }
  .topEvents__eventbody__wrap {
    color: var(--highlightText) !important;
    font-weight: normal;
    padding: 0px 0;
    font-size: calc(4px + 1vmin) !important;
    display: inline;
  }
  .topEvents__description {
    padding-top: 10px;
    line-height: 1;
  }
  .topEvents__card_footer {
    display: flex;
    justify-content: space-between;
  }
  .topEvents__article__content__pill {
    background-color: var(--pillColour);
    display: flex;
    border-radius: 4px;
    padding: 0px 7px;
    align-items: center;
    cursor: pointer;
  }
  .topEvents__article__content__pill:hover {
    background-color: #aac142;
    cursor: pointer;
  }
  .topEvents__eventbody__Head {
    font-size: calc(3px + 1vmin) !important;
    line-height: 1.25 !important;
    padding-top: 3px;
    font-weight: 500 !important;
    color: white !important;
    display: inline;
  }
  .tagsIcon,
  .eyeIcon {
    width: 13px !important;
    color: white !important;
  }
  .topEvents__rime__tags {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 2px;
    display: -webkit-box; //do not remove this line as it makes tags in 2 line
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    span {
      margin-right: 5px;
      color: var(--captionTextColour);
      line-height: 1.05rem;
      font-size: calc(2px + 1vmin) !important;
      padding: 3px 7px;
      border-radius: 4px;
    }
  }
}
