#riskExposure--wrap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  .riskExposure--wrap {
    flex: 33.33%;
    .riskExposure--map {
      padding: 5px;
    }
  }
&.light {
  background: #f2f2f2;

  .totalEvents {

    background-color: #E1E1E1;
    color: #343434;

    p {
      color: #343434;

    }
  }
}
}
