/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */
/* @import url('https://fonts.googleapis.com/css?family=Lato'); */
/* @import url('https://fonts.googleapis.com/css?family=Lato:400,900'); */
@import './assets/css/fontello.css';
/* @import url('https://fonts.googleapis.com/css?family=Rubik'); */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik&display=swap');
/* @import './sass/globalVariables.scss'; */
@font-face {
  font-family: 'Helvetica';
  src: url('./assets/font/fontello.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'helvetica-custom';
  font-style: normal;
  font-weight: 400;
  /* src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
  src: url('./assets/font/fontello.ttf');
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
} 

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* font-family: 'Rubik', sans-serif !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* font-family: 'Rubik', sans-serif !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  height: 20px;
  border-radius: 25px;
  opacity: 0.8;
}

::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}

:root {
  --font-size-p: 0.85rem;
  --font-size-li: 0.75rem;
  --font-size-span: 0.8rem;
  --font-size-h1: 1em;
  --font-size-h2: 0.85em;
  --font-size-label: 0.9rem;
  --modal-full-width: 100%;
  --modal-min-width: 770px;
  --modal-max-width: 786px;
  --modal-min-height: 500px;
  --modal-max-height: 500px;
  --modal-max-inner-height: 400px;
  --modalBackground: rgb(20, 33, 54);
  --darkGrey: rgba(20, 33, 54, 0.95);
  --darkGreyHigh: rgba(18, 18, 18, 1);
  --whiteHighEmp: rgba(255, 255, 255, 0.87);
  --whiteMediumEmp: rgba(255, 255, 255, 0.6);
  --whiteDisabled: rgba(255, 255, 255, 0.38);
  --darkActive: rgba(171, 193, 66, 1);
  --pills-pink: rgba(231, 150, 250, 0.67);
  --close-times-size: 24px;

  --lightGrey: rgba(31, 31, 31, 1);
  --lightWhite: rgba(255, 255, 255, 0.3);

  --lightBlue: rgba(0, 119, 182, 0.87); 
  --globalVeryLow: rgb(155,204,59);
  --globalLow: rgb(241,199,73);
  --globalMedium: rgb(255,127,0) ;
  --globalHigh: rgb(237,75,63) ;
  --globalVeryHigh: rgb(225,53,48);
}

h1 {
  font-size: var(--font-size-h1) !important;
}

p {
  font-size: var(--font-size-p) !important;
  font-weight: normal !important;
}

label {
  font-size: var(--font-size-label) !important;
}

span {
  font-size: var(--font-size-span) !important;
}

li {
  font-size: var(--font-size-li) !important;
}

#admin #rootTableList .tablelist__row p {
  color: #fff;
}
