@import '../../../../../../sass/globalVariables.scss';

.eventsearch__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px 10px 0px 10px;
  justify-content: center;
  background-color: var(--dashboardBackground) !important;
}

#eventsearch__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(129, 144, 153, 0.5);
  .eventsearch__header {
    display: flex;
    align-items: center;
    margin: 10px 10px 5px 10px;
    justify-content: space-between;
  }
  .eventsearch__pill {
    background-color: white;
    display: flex;
    align-items: center;
    min-height: 20px;
    padding: 1px 5px;
    border-radius: 4px;

    &.veryLow {
      background-color: var(--globalVeryLow);
    }

    &.low {
      background-color: var(--globalLow);
    }

    &.medium {
      background-color: var(--globalMedium);
    }

    &.high {
      background-color: var(--globalHigh);
    }

    &.veryHigh {
      background-color: var(--globalVeryHigh);
    }
  }
  .eventsearch__cat__pill {
    color: #111826;
    font-size: calc(7px + 0.5vmin) !important;
    .eventsearch__cat__pill__space{
      margin-right: 2px;
    }
  }
  .card_footer {
    display: flex;
    justify-content: space-between;
  }
  .article__content__pill {
    background-color: var(--pillColour);
    display: flex;
    border-radius: 4px;
    padding: 0px 7px;
    align-items: center;
    cursor: pointer;
  }
  .eventsearch__card__row1 {
    display: flex;
    flex-direction: row;
    .eventsearch__card__innercolumn1 {
      width: 30%;
      min-width: 30%;
      height: 100%;
      min-height: 100%;
      margin-right: 7px;

      .eventsearch__event__img {
        width: 100% !important;
        min-height: 100% !important;
        height: 100% !important;
        border-radius: 10px;
      }
    }
    .eventsearch__card__innercolumn2 {
      width: 100%;
      height: 100%;
    }
  }
  .eventsearch__card__row2 {
    .eventsearch__card__innercolumn {
      display: flex;
      justify-content: space-between;
    }
  }
}

.eventcard_row_2 {
  display: flex;
  justify-content: flex-start;
  padding-top: 4px;
}
.eventsearch__loadmore {
  display: flex;
  justify-content: center;
  background-color: var(--darkGreySolid);
  margin-top: 10px;
  padding-bottom: 20px;
}
.eventsearch__rime__tags {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 2px;
  display: -webkit-box; //do not remove this line as it makes tags in 2 line
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  span {
    background-color: var(--darkBackground);
    margin-right: 5px;
    color: var(--captionTextColour);
    line-height: 1.05rem;
    font-size: calc(2px + 1vmin) !important;
    padding: 3px 7px;
    border-radius: 4px;
  }
}
.rime__eventSearch__spacing {
  padding-bottom: 2px;
}
.rime_eventCardList {
  border-radius: 10px 10px 0px 0px;
  background-color: var(--dashboardBackground) !important;
}
.rime__eventcard {
  margin-bottom: 5px;
}
.eventsearch__eventtitle__wrap {
  color: var(--highlightText) !important;
  font-weight: normal;
  padding: 0px 0;
  font-size: calc(10px + 1vmin) !important;
}
div.eventsearch__eventtitle__wrap {
  line-height: 1.6 !important;
}
.eventsearch__eventbody__wrap {
  color: var(--highlightText) !important;
  font-weight: normal;
  padding: 0px 0;
  font-size: calc(6px + 1vmin) !important;
  display: inline;
  .eventSearch--link {
    color: var(--link) !important;
  }
}
.eventsearch__description {
  padding-top: 6px;
}
.eventsearch__eventbody__location_wrap {
  color: var(--highlightText) !important;
  font-weight: normal;
  padding: 0px 0;
  font-size: calc(5px + 1vmin) !important;
  display: inline;
}
.eventsearch__eventbody__location_wrap::after {
  content: '';
  height: 100%;
  border-left: 1px solid;
  margin: 0px 5px;
}
div.eventsearch__eventbody__wrap {
  line-height: 1.2 !important;
}
.eventsearch__eventbody__Head {
  font-size: calc(3px + 1vmin) !important;
  line-height: 1.25 !important;
  padding-top: 3px;
  font-weight: 500 !important;
  color: white !important;
  display: inline;
  .title {
    margin-top: -1px;
  }
}
.eventsearch__eventbody__subHead {
  font-size: calc(5px + 1vmin) !important;
  line-height: 1.25 !important;
  padding-top: 3px;
  font-weight: 500 !important;
  color: var(--highlightText) !important;
  display: inline;
}
.tagsIcon,
.eyeIcon {
  width: 12px !important;
  color: white !important;
}
.css-1qaznj3-MuiCardContent-root {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.date--time {
  font-style: italic;
  font-size: var(--font-size-li) !important;
  color: var(--whiteMediumEmp);
}
.date__footerWrap {
  display: flex;
  justify-content: space-between;
  .flash {
    background-color: var(--highlightBackground);
    color: var(--highlightText);
    border-radius: 25px;
    animation-name: flash;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 12px !important;
    padding: 2px 7px;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.timeline--card {
  .pointer {
    position: absolute;
    z-index: 999;
    top: 8px;
    left: -30px;
    img {
      width: auto;
    }
  }
}
.rime_event_date {
  color: var(--highlightText) !important;
  font-weight: normal;
  padding: 0px 0;
  font-size: calc(4px + 1vmin) !important;
  display: inline;
}
.rime_event_date::after {
  content: '';
  height: 100%;
  border-left: 1px solid var(--whiteHighEmp);
  margin: 0px 5px;
}
.rimeupdate__date {
  font-size: calc(4px + 1vmin) !important;
  color: var(--highlightText) !important;
}
.anchor__text {
  color: var(--link);
  font-size: calc(6px + 1vmin) !important;
}
