.rootHeader {
  color: #eee;
  padding: 13px 30px;
  background-color: var(--highlightBackgroundDark);
}
.userLocationManagement {
  background: var(--backgroundSolid);
  margin: 15px;
  box-shadow: 0 3px 6px 0 #303030;
  border-radius: 5px;
  overflow-y: scroll;

  .btn {
    width: 143px !important;
    background-color: var(--darkActive) !important;
    border: 0px;
    border-bottom: 2px solid var(--reversebackgroundSolid) !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    .btn--create {
      margin-left: 10px;
      color: white;
    }
  }
  
  .more--options {
    padding: 15px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: var(--lightText);
      label {
        margin-left: 10px;
        font-weight: 500 !important;
      }
    }
  }
}