@import '../../../sass/globalVariables.scss';

#globalSearchBar {
  padding: 0px 15px;
  margin-top: -4px;

  .inputWrapper {
    padding: 2px 10px;
    border: 1px solid var(--lightTransparent);
    border-radius: 3px;
    background-color: var(--darkTransparent);
    opacity: 1;

    input {
      border: 0;
      background: transparent;
      color: var(--whiteHighEmp);
      outline: none;
      padding: 10px;
      font-size: 14px;
    }
  }

  .inputBtnWrapper {
    button {
      color: var(--whiteDisabled);
      font-size: 10px;
      border: 0;
      background: transparent;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background-color: var(--lightGrey);
      }
    }
  }

  .inputWrapper__icon {
    i {
      color: var(--darkActive);
      font-size: 14px;
      padding: 0 10px;
    }
  }
}
