.event--metrics{
    background: #30384c;
    padding: 15px;
    margin: 15px;
    /* max-width: 300px; */
    /* width: 100%; */
    border-radius: 5px;
    color: var(--whiteMediumEmp);

    .event__metrics{
        display: flex;
        flex-direction: column;
        flex-basis: 100px;
        align-items: center;
    }

    .label--value{
        font-size: 32px;
    }

    .label--txt{
        font-size:  20px;
    }
}