$loaderColor:#dff9fb;

#loader{
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    overflow: hidden;

    .spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: spin;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border-top: 2px solid $loaderColor;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid $loaderColor;
    }
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}