.corona-advisory-list{
    .list-title-corona{
        padding: 15px;
        background-color: rgba(188, 192, 196, 0.4);
        border-bottom: 0.001em solid rgba(188, 192, 196, 1);

        h4{
            text-align: center;
            color: #113255;
            font-size: 14px;
            padding-bottom: 2px;
        }
        p{
            text-align: center;
            color: #666;
            font-size: 13px;
        }
    }
}

#coronaAdvisoryModal{
    .close--times{
        color: var(--whiteMediumEmp);
        outline: none;
    }
}

.corona-adv-btn{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgba(188, 192, 196, 0.2);
    border: 1px solid rgba(188, 192, 196, 1);
    border-radius: 5px;
    padding: 15px;
    margin: 10px 15px 15px 10px;

    .notification--3{
        position: absolute;
        width: 20px;
        height: 20px;
        background: #A80002;
        right: -6px;
        top: -6px;
        color: var(--whiteMediumEmp);
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        border: 1px solid #F7FAFC;
    }

    &:hover{
        background: rgba(173, 178, 183, 0.4);
    }

    .box-one{
        margin-right: 10px;
    }

    .box-two{
        h4{
            font-size: 16px;
            color: #333;
        }

        p{
            color: #333;
            font-size: 14px;
            padding-top: 3px;
        }
    }

    .advisoryIcon{

        i{
            font-size: 32px;
            color: #113255;
        }
    }
}

.corona-advisory--list{
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;

    a{
        display: block;
        padding: 15px 10px;
        background: rgba(188, 192, 196, 0.2);
        border-bottom: 0.001em solid rgba(188, 192, 196, 1);

        &:nth-child(even){
            background: rgba(188, 192, 196, 0.4);
        }

        &:hover{
            background: rgba(188, 192, 196, 0.3);
        }

        &:last-child{
            border-bottom: none;
        }
    }

    li{
        .flexWrap{
            display: flex;
            align-items: center;

            i{
                color: #113255;
            }

            div{
                margin-right: 10px;
            }
        }
        h4{
            font-size: 14px;
            color: #444;
            font-weight: normal;
        }

        p{
            font-size: 12px;
            color: #888;
            display: flex;
            justify-content: flex-end;
        }
    }
}