#rimeScreening {
  padding: 20px;
  height: 92vh;
}
.rimeFilteredTopNavbar {
  display: flex;
  justify-content: flex-end;
  .form--control {
    width: 110px;
  }
}
.rimeFilteredDataBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rimeFilteredData__searchbox {
  max-width: 256px;
  margin-bottom: 5px;
}
.screeningEventList {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.rimeFilteredData_notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  color: white;
}
