@import '../../../../../../sass/globalVariables.scss';

#rimeFiltersModalCont {
  .rootFilters__body {
    padding: 15px;
    min-height: 450px;
  }
  .rootFilters__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid var(--whiteDisabled);
    h1 {
      color: var(--whiteHighEmp);
    }
    span {
      color: var(--whiteMediumEmp);
      padding: 8px 15px;
      border-radius: 3px;
      font-size: 22px !important;
      cursor: pointer;

      &:hover {
        background-color: var(--lightGrey);
        color: var(--whiteHighEmp);
      }
    }
  }
  .rootFilters__body {
    padding: 15px;
    .placesBoundWrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .moreOptions__wrap {
      display: flex;
      justify-content: flex-end;
      .downloadExcel {
        background-color: var(--darkActive);
      }
    }
    .filterDivider {
      display: flex;
      align-items: center;
      padding: 5px 0;
      max-width: 60%;
      margin: 0 auto;
      .filterDivider__line {
        height: 1px;
        width: 100%;
        background: var(--whiteMediumEmp);
        margin: 10px;
      }

      .filterDivider__text {
        color: var(--whiteHighEmp);
      }
    }
    &.modal__inner {
      max-height: 600px !important;
      min-height: 600px !important;
    }

    .selectAllCats {
      display: flex;
      align-items: left;
      .filtersWrapBox__arrow {
        color: var(--darkActive);
      }
    }
  }
  .rootFilters__footer {
    display: flex;
    justify-content: center;
    padding-top: 5px;
  }
}

#rimeEventArchivesModalCont {
  background: var(--darkGreyModal);

  &.modal__inner {
    max-height: 600px !important;
    min-height: 300px !important;
    overflow-y: scroll;
  }

  .rootFilters__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid var(--whiteDisabled);
    h1 {
      color: var(--whiteHighEmp);
    }

    span {
      color: var(--whiteMediumEmp);
      padding: 8px 15px;
      border-radius: 3px;
      font-size: 22px !important;
      cursor: pointer;

      &:hover {
        background-color: var(--highlightBackgroundLight);
        color: var(--whiteHighEmp);
      }
    }
  }
  .rootFilters__body {
    padding: 15px;

    .body__downloadOption {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 3px;
      margin: 30px 0;
    }
    .filterLabelWrap {
      label {
        color: var(--whiteHighEmp);
        font-weight: bold;
      }
    }
  }
}
.drawer_header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: var(--whiteMediumEmp);
  position: relative;
  background: var(--backgroundSolid);

  .close_drawer--btn {
    cursor: pointer;
  }
}
.rimeFilter_Heading {
  color: rgba(218, 218, 218, 0.9);
  font-size: 14px;
  margin-top: 2vh;
}

.css-17ahht0-placeholder {
  color: rgb(122, 122, 122) !important;
  font-size: calc(6px + 1.2vmin);
}

@media only screen and (max-width: 1300px) {
  .css-17ahht0-placeholder {
    top: 40% !important;
  }
}

.multiple_EventLocations {
  border: 1px solid var(--whiteDisabled) !important;
  border-radius: 3px !important;
}

.eventSearch__multipleLocation {
  width: 15vw;
  margin-top: 0.5vh;
  scrollbar-width: 0;
}

.selectAllEventCats {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 45px !important;
  .filtersWrapBox__arrow {
    color: white;
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: white !important;
  }
}

.selectAllEventCatsWhiteRisk {
  background-color: var(--backgroundSolid) !important;
  color: var(--whiteHighEmp);
  .filtersWrapBox__arrow {
    color: var(--whiteHighEmp);
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
  .icon {
    color: black !important;
  }
}

.selectAllEventCatsWhite {
  background-color: white;
  color: black;
  .filtersWrapBox__arrow {
    color: black;
    padding-left: 7px !important;
    padding-top: 0.5vh;
  }
}
.Event_datePicker {
  display: flex;
  flex-direction: row;
  margin-top: 0.5vh;
  height: 5vh !important;
  color: white !important;
  border-color: white;
  padding-left: 10px;
  padding-right: 5px;
  width: 15vw !important;
  label {
    color: white !important;
    font-size: calc(5px + 1vmin) !important;
    width: 15vw !important;
  }
  .MuiInputBase-input {
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    font-size: calc(6px + 1vmin) !important;
    color: rgba(218, 218, 218, 0.9) !important;
    height: 3vh !important;
    border-color: white !important;
  }
}

.Event_ManualTags {
  margin-top: 0.5vh;
  height: 2vh !important;
  color: var(--whiteHighEmp) !important;
  border-color: white;
  padding-left: 10px;
  padding-right: 5px;
  label {
    color: var(--whiteHighEmp) !important;
    font-size: calc(5px + 1vmin) !important;
    width: 15vw !important;
  }
  .MuiInputBase-input {
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    font-size: calc(6px + 1vmin) !important;
    color: var(--whiteHighEmp);
    height: 2vh !important;
    border-color: white !important;
  }
}

.eventFilter__Button {
  margin: 0.5vh;
  border-radius: 5px;
  margin-right: 1vw;
}

.toggleOperations {
  margin-top: 0.5vh;
  background-color: white !important;
  height: 5vh !important;
  max-height: 5vh;
  border-radius: 3px !important;
  margin-left: 5px;
  .css-d9c359-MuiButtonBase-root-MuiToggleButton-root {
    padding: 1vh 12px 0.7vh 12px !important;
    height: 5vh !important;
    font-size: calc(5px + 1vmin) !important;
  }
}

.search__Tags {
  max-width: 13.5vw;
  margin-top: 0.5vh;
  background-color: var(--backgroundSolid) !important;
  height: 5.1vh !important;
  max-height: 5.1vh;
  margin-left: 5px;
  border-radius: 3px !important;
  .multiple-value-text-input input {
    border-radius: 3px !important;
    height: 5vh !important;
    padding-top: 8px;
    padding-left: 8px;
  }
}

.Filter__MultipleLocations {
  overflow-x: hidden;
}

//************ New CSS **********************//

.eventSearch__filterDrawer {
  display: flex;
  flex-direction: column;
  .srchBtn {
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .eventSearchStyle {
      background-color: #02385a !important;
      color: white !important;
      height: 42px !important;
      width: 170px !important;
      margin-left: 10px !important;
      &:hover {
        background: #a0b63c !important;
      }
    }
    .eventSearch__CancelBtn {
      background-color: #111826 !important;
      color: white !important;
      height: 42px !important;
      width: 115px !important;
      padding-right: 20px !important;
      &:hover {
        background-color: #e35a5a !important;
      }
    }
  }
  .eventSearchFilter__row {
    display: flex;
    flex-direction: row;

    .css-z8kcju-control {
      height: 100px !important;
      background-color: var(--darkerBackground) !important;
    }
    .css-1c7lrkp-control {
      height: 100px !important;
      box-shadow: none !important;
      border: 1px solid rgba(255, 255, 255, 0.4);
      background-color: var(--darkerBackground) !important;
      border-radius: 3px !important;
    }
    .filter__mLocations {
      margin-left: 10px;
      width: calc(50% - 20px);
      position: relative;
      .eventSearch__multipleLocationsParent {
        position: relative;
        width: inherit;
        .eventSearch__multipleLocations {
          height: 100px !important;
          background-color: none;
          position: fixed;
          width: inherit;
          .css-1hwfws3 {
            max-height: 96px;
            overflow-y: scroll !important;
          }
        }
      }
    }
    .filter__otherFilters {
      padding-left: 2vw;
      .css-kj6f9i-menu {
        height: 50vh !important;
      }
      .filter__subRow1 {
        display: flex;
        flex-direction: row;
        height: 45px;
        .css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
          background-color: #02385a !important;
          color: white;
        }
        .eventSearch__toggleOperations {
          background-color: white !important;
          height: 45px !important;
          border-radius: 5px !important;
          .css-d9c359-MuiButtonBase-root-MuiToggleButton-root {
            height: 45px !important;
            font-size: calc(5px + 1vmin) !important;
          }
        }

        .eventSearchFilter__tagsDuration {
          display: flex;
          flex-direction: row;
          width: 40vw !important;
          margin-left: 1vw;
          margin-right: 1vw;
          .rime__tags {
            color: var(--whiteDisabled) !important;
            border-color: rgba(255, 255, 255, 0.5);
            height: 45px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: var(--darkerBackground) !important;
            margin-right: 10px;
            margin-top: 0px !important;
            border-radius: 3px !important;
            border: 1px solid rgba(255, 255, 255, 0.4);
            width: 23vw;
            label {
              color: var(--whiteDisabled) !important;
              font-size: calc(5px + 1vmin) !important;
              width: 15vw !important;
            }
            .MuiInputBase-input {
              padding-top: 0px !important;
              padding-bottom: 2px !important;
              font-size: calc(6px + 1vmin) !important;
              color: var(--whiteHighEmp) !important;
              height: 20px !important;
              width: 22vw;
            }
            .multiple-value-text-input input {
              border-radius: 3px !important;
              height: 5vh !important;
              padding-top: 8px;
              padding-left: 8px;
            }
          }
          .rimeFilter__Language {
            width: 40%;
            background-color: var(--darkerBackground) !important;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 3px;
            padding: 0px !important;
            .rimeFilter__languageChild {
              position: fixed;
              z-index: 10;
              max-height: 55vh;
              overflow-y: scroll;
              width: 15%;
              background-color: var(--darkerBackground) !important;
            }
          }
        }
      }
      .filter__subRow2 {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        margin-right: 1vw;
        height: 55px;
        .eventSearchFilter__RiskCategory {
          width: 32%;
          background-color: var(--darkerBackground) !important;
          border: 1px solid rgba(255, 255, 255, 0.4);
          border-radius: 3px;
          padding: 0px !important;
          .eventSearchFilter__RiskCategorychild {
            position: fixed;
            height: auto;
            overflow-y: scroll;
            width: 14.7%;
            max-height: 55vh;
            background-color: var(--darkerBackground) !important;
          }
          .filtersWrapBox__arrow {
            margin-left: 7px !important;
            color: var(--whiteDisabled);
          }
        }
        .eventSearchFilter__Relevancy {
          width: 32%;
          background-color: var(--darkerBackground) !important;
          border: 1px solid rgba(255, 255, 255, 0.4);
          margin-left: 10px;
          border-radius: 3px;
          .eventSearchFilter__RelevancyChild {
            position: fixed;
            width: 14.7%;
          }
          .filtersWrapBox__arrow {
            margin-left: 7px !important;
            color: var(--whiteDisabled);
          }
        }
        .Event_RefreshDuration {
          display: flex;
          flex-direction: row;
          width: 36%;
          .date {
            width: 50%;
            color: var(--whiteDisabled) !important;
            border-color: rgba(255, 255, 255, 0.5);
            background-color: var(--darkerBackground) !important;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 3px;
            height: 45px;
            padding-left: 10px;
            padding-right: 5px;
            margin-left: 10px;
            label {
              color: var(--whiteDisabled) !important;
              font-size: calc(5px + 1vmin) !important;
            }
            .MuiInputBase-input {
              padding-top: 0px !important;
              font-size: calc(5px + 1vmin) !important;
              color: var(--whiteHighEmp) !important;
              border-color: var(--whiteDisabled) !important;
            }
          }
        }
      }
    }
  }
}
