.edit-states-form{
    padding: 10px;
    text-align: center;

    img{
        width: auto !important;
    }
}

.submit--btn--stateForm{
    // text-align: center;
}

.submit--btn--close{
    margin-right: 10px;
    background: #d3d3d3;
    border: 1px solid #d3d3d3;
    color: #666;
}