#monitoringScreen {
  padding: 20px;
  height: 92vh;
  display: flex;
  flex-direction: row;
}
.MonitoringScreenTopNavbar {
  display: flex;
  justify-content: flex-end;
  .form--control {
    width: 110px;
  }
}
.rimeFilteredDataBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.checkbox_icon {
  color: white;
}
.rimeFilteredData__searchbox {
  max-width: 256px;
  margin-bottom: 5px;
}
.monitoringScreenEventList {
  height: 100%;
  width: 80%;
  overflow-y: scroll;
}
.monitoringScreenRight_section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}
.monitoring_filters {
  height: 85%;
  width: 100%;
  overflow-y: scroll;
  border: 2px solid rgba(129, 144, 153, 0.5);
  color: white;
  .filters_header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.api_statistics {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(129, 144, 153, 0.5);
  padding: 5px;
  padding-top: 7px;
  .time {
    color: white !important;
    text-align: center;
    font-size: calc(25px + 1vmin);
  }
  .date {
    color: white !important;
    text-align: center;
    font-size: calc(6px + 1vmin);
  }
  .header {
    color: white !important;
    text-align: center;
    font-size: calc(4px + 1vmin);
    padding-top: 5px;
  }
}
.rimeFilteredData_notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  color: white;
}
