#covidFooter{
    background: rgba(0, 0, 0, 0.25);
    color: var(--whiteMediumEmp);
    font-size: 1rem;

    .social--icons{
        font-size: 1rem;
        padding: 0 5px;
    }

    .copyright--year{
        padding-left: 10px;
    }

    .footerWrapper{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        
        @media screen and (max-width: 786px){
            justify-content: center;
        }
    }
}

