@import '../../../../sass/globalVariables.scss';

.rime__card {
  // margin: 10px;
  margin-bottom: 10px;
  max-width: 320px;
  background: transparent !important;

  &:hover {
    background: #f6f6f6;
    color: var(--whiteMediumEmp);
  }
}

.rime__card__content {
  background: var(--darkGrey) !important;
  padding: 5px 10px 15px !important;
  border-radius: 15px !important;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
  .pillWrapper {
    margin-bottom: 10px;
  }
}

.cat__avatar {
}

.title__wrap {
  h3 {
    color: var(--whiteHighEmp);
    font-weight: normal;
    padding: 10px 0;
    font-size: var(--font-size-h1);
    line-height: 21px;
  }
}

.cat__pill {
  // color: var(--whiteHighEmp);
  border-radius: 2px;
  // padding: 2px 7px;
  display: inline-block;
  font-size: 14px;

  &.veryLow {
    color: var(--globalVeryLow);
  }

  &.low {
    color: var(--globalLow);
  }

  &.medium {
    color: var(--globalMedium);
  }

  &.high {
    color: var(--globalHigh);
  }

  &.veryHigh {
    color: var(--globalVeryHigh);
  }
}

.meta__data {
}

.cat__pill {
}

.date--time {
  font-style: italic;
  font-size: var(--font-size-li) !important;
  color: var(--whiteMediumEmp);
}

.date__footerWrap {
  display: flex;
  justify-content: space-between;

  .flash {
    background-color: var(--highlightBackground);
    color: var(--highlightText);
    border-radius: 25px;
    animation-name: flash;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 12px !important;
    padding: 2px 7px;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.timeline--card {
  // position: relative;
  // &:before{
  //     content: "";
  //     position: absolute;
  //     top: 8px;
  //     left: -16px;
  //     border-right: 8px solid rgba(0,0,0, 0.35);
  //     border-top: 8px solid transparent;
  //     border-bottom: 8px solid transparent;
  //     border-left: 8px solid transparent;
  // }

  .rime__card {
    box-shadow: none;
    // background: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
  }

  .pointer {
    position: absolute;
    // height: 10px;
    // width: 10px;
    // background: red;
    z-index: 999;
    top: 8px;
    // top: -140px;
    left: -30px;

    img {
      width: auto;
    }
  }
}
