#timeline {
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--darkActive);
    border-radius: 5px;
  }
  .timeline--wrap {
  }
  .timeline--data {
    padding: 10px 45px;
    .event--list {
      display: flex;
      justify-content: space-evenly;
      background: var(--darkGrey);
      padding: 12px;
      border-radius: 15px;
      margin: 0 0 10px 0;
      cursor: pointer;
      transition: all 0.1s ease-in;
      border: 2px solid transparent;
      box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
      // flex-direction: column;
      div {
        flex: 5 1;

        h1 {
          color: var(--whiteHighEmp);
          font-size: 14px;
          font-weight: normal;
        }
        p {
          color: var(--whiteMediumEmp); 
          font-size: 13px;
        }
        .pills {
          border-radius: 2px;
          padding: 2px 7px;
          display: inline-block;
          margin-top: 8px;
          color: var(--lightGrey);
        }
      }
    }
  }
}
