#covidSlider{
    padding: 35px;
    background: var(--backgroundSolid);
    .covid-slide{

    }

    .slick-dots li.slick-active button:before {
        color: var(--whiteMediumEmp);
        opacity: 1;
    }

    .covid-slide-inner{
        max-width: 320px;
        margin: 0 auto;
        background: var(--backgroundSolid);
        padding: 20px;

        @media screen and (min-width: 1024px){
            max-width: 720px;
        }
    }

    .infoPills{
        display: flex;
        justify-content: center;
    }

    .info-pills{
        padding: 5px 10px;
        margin: 15px 15px 0;
        border-radius: 25px;
        color: var(--whiteMediumEmp);

        @media screen and (max-width: 1024px){
            margin: 15px 5px 0;
        }
    }

    .btn-active{
        background: rgba(66, 75, 84, 1);
    }

    .btn-recovered{
        background: rgba(6, 144, 165, 1);
    }

    .btn-death{
        background: rgba(186, 39, 37, 1);
    }
}