#covidDisclaimer{
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .disclaimer--title, .disclaimer--subtitle{
        color: var(--whiteMediumEmp);
        font-weight: bold;
        font-size: 0.9rem;
    }

    .disclaimer--subtitle{

    }

    @media screen and (min-width: 1024px){
        align-items: flex-end;
    }
}