$red: #A80002;

.indicator-cont{

    top: 5px;
    position: absolute;
    left: 0;
    background: $red;
    color: var(--whiteMediumEmp);
    padding: 1px;
    font-size: 10px;


    &:after{
        content: "";
        position: absolute;
        right: -12px;
        border-left: 6px solid $red;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid transparent;
        top: 50%;
        transform: translateY(-50%);

    }
}