$hover--color: rgba(80, 175, 80, 1);
$green: rgba(80, 175, 80, 1);

#covidTimeline{
    padding: 15px 0 0;

    .timeline--title{
        text-align: center;
        color: var(--whiteMediumEmp);
        font-weight: bold;
    }

    .timeline--wrapper{
        max-height: 480px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px 15px 15px;

        &::-webkit-scrollbar{
            width: 0;
        }
    
        &::-webkit-scrollbar-track{
            background: 'transparent';
        }
        
        &::-webkit-scrollbar-thumb{
            background-color: transparent;
        }
    }

    #timelineAdvisory{
        position: relative;
        max-width: 786px;
        margin: 0 auto;
        padding: 0 30px;

        &:after{
            content: "";
            position: absolute;
            background: #fff;
            width: 1px;
            top: 0;
            bottom: 0;
            left: 5%;

            @media screen and (min-width: 786px){
                left: 50%;
                transform: translateX(-50%);
            }
        }

    }
}