.c-location-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #dee2e6;

  p {
    margin-right: 10px;
    color: #666;
    font-size: 14px;
  }

  .btn--delete {
    background: transparent;
    border: transparent;
    color: #e55039;
    font-size: 17px;
    cursor: pointer;
  }

  &:last-child {
    border-bottom: none;
  }
}

.existing--location {
  clear: both;
  border: 1px solid #ccc;
  margin-bottom: 10px;

  h3 {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    padding: 8px;
    border-bottom: 2px solid #dee2e6;
    background: #f6f6f6;
  }
}

.location-table-head {
  display: flex;
  justify-content: space-between;
}

.location-services-wrap {
  ul {
    padding: 0;
    margin: 0;
  }
}

.cancel-edit-btn {
  margin-right: 15px;
}

.title-loc {
  input {
    width: 100%;
    margin-top: 10px !important;
  }

  label {
    color: #666;
    font-size: 14px;
  }
}

.btn-add-loc {
  border: 1px solid var(--backgroundSolid);
  background: transparent;
  color: var(--backgroundSolid) !important;
  display: block;
  width: 100% !important;
  box-sizing: border-box;
  margin: 0 !important;
  font-size: 15px;
  text-transform: capitalize;
  outline: none;
}

.google-places-loc {
  padding-top: 15px;

  .location--txt {
    margin-bottom: 0 !important;
  }

  .location-search-input {
    margin-top: 15px;
  }
}

.clientDetailsWrap {
  position: relative;

  .close-edit-details {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      color: #27ae60;
    }
  }
}

.subscribtionDetails {
  padding: 10px 0;

  h4 {
    padding: 10px 0;
    color: #333;
    font-weight: 600;
    font-size: 16px;
  }

  .btn {
    &.btn-sub {
      border: 1px solid var(--backgroundSolid);
      background: transparent;
      color: var(--backgroundSolid) !important;
      margin-left: 0;
      width: 100%;
      padding: 10px;
    }
  }
}

h4 {
  color: #333;
}

.location-submit {
  padding: 15px 0;
}

button.btn-add-loc[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

.rootTravelSubscription {
  padding: 10px 0;

  h3 {
    font-size: 15px;
    font-weight: normal;
    color: #666;
    padding-right: 10px;
  }

  .formGroup {
    align-items: center;
  }
}

#reactGooglePlaces {
  &.google--places {
    .location-search-input {
      background: transparent;
    }
  }
}
