.hollowBtn{
    background: transparent;
    border: 1px solid #fff;
    color: var(--whiteMediumEmp);
    padding: 8px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover{
        background: #fff;
        color: rgba(0, 0, 0, 0.8);
    }
}

.solidBtn{
    background: #34495e;
    border: 1px solid #fff;
    color: var(--whiteMediumEmp);
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover{
        background: #fff;
        color: #34495e;
        border-color: #34495e;
    }
}

.btn{
    &.btn--create{
        background-color: rgba(26,115,232,0.1);
        border-color: transparent;
        color: #1565cf;
        padding: 10px;
        border-radius: 4px;
    }
  }