.modal-paper{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 400px;
    background: #fff;
    border-radius: 3;
    max-height: 600px;
    overflow-y: auto;
    padding: 10px 30px;
    border-radius: 5px;

    &.client-details-modal{
        width: 600px;
        // min-height: 500px;
    }
}

.btn--label{
    margin-left: 10px;
    font-size: 12px;
}

.transparent-title{ 
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.01em;
}
