.customListWrap {
  position: absolute;
  max-width: 300px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.customlist--item {
  display: flex;
  justify-content: space-evenly;
  background: var(--darkGrey);
  padding: 12px;
  border-radius: 15px;
  margin: 0 0 10px 0;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border: 2px solid transparent;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);

  &:hover {
    border: 2px solid #2b354a;
  } 

  &.veryLow {
    border-left: 4px solid var(--globalVeryLow);
  }

  &.low {
    border-left: 4px solid var(--globalLow);
  }

  &.medium {
    border-left: 4px solid var(--globalMedium);
  }

  &.high {
    border-left: 4px solid var(--globalHigh);
  }

  &.veryHigh {
    border-left: 4px solid var(--globalVeryHigh);
  }
}

.tense--list {
  .timestamp--list {
    color: var(--whiteMediumEmp);
    font-size: 13px;
  }
}

.left--list {
  flex: 0.5;

  img {
    width: 18px;
  }
}

.right--list {
  flex: 5;
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;

  // img{
  //     width: 24px;
  // }
}

.list--title {
  color: var(--whiteHighEmp);
  font-size: 14px;
  font-weight: normal;
}

.tense--list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 8px 0;

  li {
    flex: 1;
    color: var(--whiteMediumEmp);
  }
}

.customlist--item .update--icon {
  margin-top: 4px;
  display: block;
}

.customlist--item__pills {
  // color: var(--pills-pink);
  // border: 1px solid var(--pills-pink);
  //border-radius: 2px;
  display: inline-block;
  margin-top: 8px;
  // color: var(--whiteMediumEmp);
  // padding: 2px 7px;
  &.veryLow {
    color: var(--globalVeryLow);
  }

  &.low {
    color: var(--globalLow);
  }

  &.medium {
    color: var(--globalMedium);
  }

  &.high {
    color: var(--globalHigh);
  }

  &.veryHigh {
    color: var(--globalVeryHigh);
  }
}

.list--time--tense {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .flash {
    background-color: rgba(171, 193, 66, 1);
    border-radius: 25px;
    animation-name: flash;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 12px !important;
    padding: 2px 7px;
  }
}

.watchListBtnWrap{
  cursor: pointer;

  i{
    color: #FFDC34;
  }
}

.watchListBtnInner{
  width: 23%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.watchListBtnInner{
  // &.watcListItem{

  // }
  // width: 23%;
  // justify-content: space-between;
  // align-items: center;
  // display: flex;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.watchListItem-desc-list{
  padding: 5px;
  p{
    color: var(--lightText);
    font-size: 12px !important;
    padding: 5px 0;
  }
}

.list--description{
  color: var(--lightText);
  padding: 5px;
  font-size: 12px !important;
  
}

.fa-trash{
  color: var(--whiteHighEmp) !important;
}

.watchListItem-desc-listWrap{

  &.updates{
    background-color: var(--darkiestBackground);
  }
 
  padding: 1px;
  border-radius: 5px;
  margin: 5px;
  margin-left: 0;
}

.watchListItem-heading{
  color: var(--whiteMediumEmp);
  font-size: 12px;
  margin: 5px 0 0 0;
}

.timestamp--updates {
  color: var(--whiteMediumEmp);
  font-size: 11px !important;
}

.watchListItem-desc-list-item{
  border-bottom: 1px solid var(--border);
  padding: 2px 0;

  &:last-child{
    border-bottom: none;
  }
}

.fa-trash-remove{
  padding-left: 5px;
}
