#totalData {
  height: 17vh;
  /* position: absolute; */
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  z-index: 9;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  /* bottom: 0; */
  /* left: 30%; */
  /* background: rgba(255, 255, 255, 0); */

  .total__wrap {
    background: var(--darkGrey);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
    p:first-child {
      border-right: 1px solid #273135;
    }
    p {
      flex: 1 50%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      span {
        font-weight: 100;
        color: #9a9a9a;
      }
      span:first-child {
        font-size: 27px !important;
        color: var(--darkActive);
        margin-bottom: 10px;
      }
    }
  }
}
