@import '../../../../sass/globalVariables.scss';

#resetPassword {
  background-color: var(--backgroundSolid);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .resetPassword__customMsg {
    color: var(--whiteHighEmp);
  }

  .resetPassword__box {
    background: rgba(225, 225, 255, 0.1);

    padding: 15px 40px;
    border-radius: 15px;

    .resetPassword__header__info {
      margin-bottom: 20px;
    }
  }

  .resetPassword__header__info {
    h1 {
      font-size: 22px !important;
      padding-bottom: 15px;
      color: var(--whiteHighEmp);
    }

    p {
      // font-size: var(----font-size-p);
      padding-bottom: 15px;
      color: var(--whiteHighEmp);
    }
  }

  .resetPassword__footer {
    padding: 15px 0;

    button {
      background: var(--darkActive);
      color: var(--whiteMediumEmp);
      padding: 10px;
      border-radius: 3px;
      border: none;
      width: 100%;
      cursor: pointer;
    }
  }

  .resetPassword__wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    label {
      padding-bottom: 5px;
      color: var(--whiteHighEmp);
    }

    input {
      padding: 10px;
      background: var(--backgroundSolid);
      border-bottom: 1px solid #fff;
      border: none;
      color: var(--whiteMediumEmp);
    }
  }

  .resetPassword__backBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    color: var(--whiteMediumEmp);

    i {
      padding-right: 3px;
    }
  }
}
