.compare__wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  padding: 0 10px;

  .compare__box {
    flex: 50%;
    position: relative;
    max-width: 50%;
    .compare__btn {
      height: 10px;
      .btnEllipsis {
        background: #090d13;
        color: var(--whiteMediumEmp);
        border: none;
        border-radius: 5px;
        padding: 10px 25px;
        cursor: pointer;
      }
      .float-right {
        float: right;
      }
    }

    #eventList {
      position: relative;
      top: 0;
      height: 58vh;
      z-index: 9;
      width: 100%;
      max-width: 100%;
    }

    #topRiskList {
      height: 40vh;
      position: relative;
      z-index: 9;
      width: 100%;
      max-width: 100%;
    }

    #riskCategoryDistribution {
      height: 60vh;
      position: relative;
      z-index: 9;
      width: 100%;
      max-width: 100%;
      padding: 10px;
      bottom: 0;
      right: 0;
      background: transparent;

      .RiskCategories--wrap {
        height: 100%;
      }
    }
    #riskLevelDistribution {
      height: 60vh;
      position: relative;
      z-index: 9;
      width: 100%;
      max-width: 100%;
      padding: 10px;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0);
    }
    #riskDistribution {
      height: 35vh;
      position: relative;
      z-index: 9;
      width: 100%;
      max-width: 100%;
      padding: 10px;
      bottom: 0;
      left: 0;
    }
  }
}
