#controlOptions{
    
    .control--button{
        position: absolute;
        right: 1%;
        top: 30px;
        display: flex;
        flex-direction: column;

        button{
            background: rgba(0, 0, 0, 0.5);
            border: none;
            box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.3);
            width: 50px;
            height: 50px;
            z-index: 999;
            border-radius: 15px;
            cursor: pointer;
            &:hover{
                background: rgba(0,0,0,0.7);
            }
        }
    }

}

.control--modal{
    height: 100%;
    // background: rgba(32, 32, 49, 0.9);
    background: rgba(0, 0, 0, 0.9);
}

.close--icon{

}

.control-txt{
    color: var(--whiteMediumEmp);
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}

.control--close-times{
    color: var(--whiteMediumEmp);
    background: #2D2C45;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: none;
    position: absolute;
    top: 12px;
    right: 1%;
    font-size: 24px;
    cursor: pointer;
}