@import '../../../../sass/globalVariables.scss';

#trackDispatch {
  margin: 20px;
  background: var(--backgroundSolid);
  border-radius: 4px;
  //border: 1px solid #d3d3d3;
  padding: 15px;

  .tlist__head {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        color: var(--whiteMediumEmp);
      }
    }
  }

  .circleDispatched {
    i {
      font-size: 24px;
    }

    &.isDispatched {
      color: var(--globalVeryLow);
    }

    &.notDispatched {
      color: var(--globalHigh);
    }
  }
}
