#rimeScreening {
  padding: 20px;
  height: 92vh;
}
.screeningTopNavbar {
  display: flex;
  justify-content: space-between;
  .rightNav {
    display: flex;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
    .Screening_button {
      margin: 0;
      border: 1px solid #2980b9;
      background: transparent;
      text-transform: uppercase;
      padding: 8px;
      color: white !important;
      border-radius: 3px;
      cursor: pointer;
      margin-left: 15;
    }
  }
  .leftNav {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    .submit_button {
      margin: 0;
      border: 1px solid #2980b9;
      background: transparent;
      text-transform: uppercase;
      padding: 8px;
      color: white !important;
      border-radius: 3px;
      cursor: pointer;
      margin-left: 15;
    }
  }
}
.screeningEventList {
  height: 100%;
  overflow-y: scroll;
}

.event_screening_notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  color: white;
}
