.kfilters__wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: inherit;
  min-height: inherit;
  padding: 10px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.kfilters__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;

  .filter__title {
    text-transform: uppercase;
    color: var(--whiteMediumEmp);
    font-size: 14px;
  }

  .filter__close {
    color: var(--whiteMediumEmp);
    padding: 5px 10px;
    font-size: 20px !important;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background: rgba(108, 117, 133, 0.1);
    }
  }
}
