
#KOptions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &.selectedEventWrapper {
    justify-content: space-between;
  }

  .selectedEvent {
    h3 {
      color: var(--whiteMediumEmp);
    }
  }

  .KOptionsWrapper {
    display: flex;
    justify-content: space-between;
    min-width: 80px;

    .infoBtnWrapper {
      button {
        padding: 7px;
        margin: 0 6px;
        background: transparent;
        border: 1px solid var(--whiteHighEmp);
        border-radius: 3px;
        text-transform: uppercase;
        color: var(--whiteHighEmp);
      }
    }

    .infoBtn,
    .filterBtn {
      cursor: pointer;
      i.fas.fa-info,
      i.fas.fa-filter,
      .fas.fa-info {
        font-size: 14px;
        color: var(--whiteHighEmp);
        margin-left: 8px;
      }
    }
  }
}

.sliderMainWrapper {
  max-height: 400px;
  min-height: 400px;
}

.koptions__filters {
  max-width: 270px;
  min-width: 270px;
  min-height: auto;
  max-height: 460px;
  background-color: var(--backgroundSolid) !important;
}

.sliderMain {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.miniSlider {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;

  .miniSlider__slide {
    margin: 0 10px;
    cursor: pointer;

    img {
      width: 120px;
      height: 100px;
      border-radius: 2px;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }
}

.KCloseTimes {
  color: var(--whiteMediumEmp);
  font-size: 25px !important;
  padding: 10px 15px;
  position: absolute;
  right: 25px;
  top: 7%;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}
