.createEvent__inner {
  background: var(--modalBackground);
  
  .field--create--event {
    height: auto;
    min-height: 300px;
    max-height: 380px;
    overflow: auto;
    padding: 0 10px;
    padding-bottom: 60px;
  }

  h3 {
    padding: 10px;
    margin: 0 0 10px;
    font-size: 15px;
    color: var(--whiteMediumEmp);
    background: var(--backgroundSolid);
  }

  .actionables {
    padding: 15px;
    border-top: 1px solid #d3d3d3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dateWrapper,
  .twoColWrap {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }

  .twoColWrap.radios--cont {
    padding: 15px 10px;
  }

  .dateWrapper {
    flex-direction: row;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .date,
  .col-2 {
    flex: 1;
    margin: 0 10px 0 0;
  }

  .date {
    margin-bottom: 15px;
  }

  .select--options {
    width: 100%;
  }

  .colThreeWrap {
    display: flex;
  }

  .col-3 {
    flex: 1;
    margin: 0 10px 0 0;
  }
}

#reactGooglePlaces {
  .icon-uniE9F1 {
    color: var(--whiteMediumEmp);
    font-size: 16px;
  }

  .location--txt {
    color: var(--whiteMediumEmp);
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }

  .location-search-input {
    height: 46px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #d3d3d3;
    padding: 10px;
    width: 100%;
    color: #666;
  }

  .autocomplete-dropdown-container {
    border:none;
    border-radius: 3px;
  }

  .list--item {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    display: block;
    padding: 10px;

    color: #777;
    font-size: 14px;

    &:hover {
      background: #eee;
    }
  }

  .loader-places {
    p {
      color: #666;
      font-size: #666;
      font-size: 14px;
      padding: 10px;
    }
  }
}

.event-head--title {
  font-size: 14px;
  padding: 10px 0 0;
  color: var(--whiteMediumEmp);
  font-weight: normal;
}

.icon-uniE90E,
.icon-uniE99D,
.icon-uniE9F4,
.icon-uniE905,
.icon-uniE9EC {
  font-size: 16px;
  color: var(--whiteMediumEmp);
}

.twoColWrap.single--selects {
  padding: 15px 0 10px;
  margin-bottom: 0;
}

.twoColWrap.multi--selects {
  padding: 15px 0;
  margin: 0;
}

.status__wrap {
  padding: 0 0 20px 0;
  width: 35%;
}

.label-input {
  display: block;
  padding: 10px 5px;
  color: var(--whiteMediumEmp);
  font-size: 14px;
}

.error--text {
  padding: 10px 5px;
  display: block;
  color: #f44336;
  font-size: 12px;
}

.form__group {
  border-radius: 3px;
  margin-top: 15px;

  .event-head--title {
    margin-bottom: 15px;
  }

  .groupBtnWrap {
    margin-top: 8px;
    display: flex;
  }

  .mg {
    margin: 0 10px 0 0;
  }

  .btn--addListItem {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--whiteMediumEmp);
    width: 100%;
    border: 1px solid #fff;
    margin: 0;

    &.add {
      width: 10%;
    }
  }
}

.bullet--list {
  margin: 15px 0px;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background: #c0392b;
    border: transparent;
    color: var(--whiteMediumEmp);
    padding: 6px 8px;
    border-radius: 3px;
    cursor: pointer;
  }

  p {
    color: #666;
    font-size: 12px;
  }
}

.bullet--list {
  .fa.fa-check {
    padding-right: 10px;
    font-size: 10px;
  }
}

.fa-circle {
  font-size: 4px;
  padding-right: 4px;
}

.asterisk {
  padding-left: 2px;
  font-size: 15px;
}

.modal--section {
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #eee;
  padding: 20px;
  margin-bottom: 15px;
}

.event--bg {
  display: flex;
  align-items: center;

  button.btn--addListItem {
    margin-left: 10px;
    padding: 18px;
    text-transform: uppercase;
    width: 5% !important;
  }
}

.activeIndex,
.sortable-chosen {
  opacity: 0.5;
  background: #c8ebfb;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.6);
  transform: rotateZ(2deg);
}

.sortable-drag {
  opacity: 0;
}
