.bulletList {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0;
    display: flex;
    // align-items: center;

    &:last-child {
      border-bottom: 0;
    }

    p,
    a {
      color: var(--whiteMediumEmp);
      line-height: 20px;
      font-size: var(--font-size-p) !important;
    }

    a {
      cursor: pointer;
      &:hover {
        color: var(--whiteHighEmp);
      }
    }
  }

  .b-list--icon {
    padding-right: 10px;
    i {
      color: #adadad;
      font-size: 11px;
    }
  }
}
