@import '../../../../../../sass/globalVariables.scss';

#kMetrics {
  .kMetricsItem {
    margin: 10px;
    border-radius: 5px;
    background: var(--darkSolid);
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
    min-width: 370px;

    .kMetricsItem__title {
      color: #f1f1f1;
      font-weight: 100;
      padding: 8px 15px;
      background: rgba(0, 0, 0, 0.3);
    }

    .kMetricsItem__info {
      color: var(--whiteHighEmp);
      padding: 10px 12px;
      border-bottom: 1px solid var(--glowingBlue);
      white-space: pre-line;
      overflow: scroll;
      max-height: inherit;
      min-height: inherit;
      background: var(--darkGrey);

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #abc123;
        border-radius: 5px;
      }
    }

    .limit--dots {
    }

    .readmore--btn {
      cursor: pointer;
      background: transparent;
      border: 0;
      border-radius: 3px;
      padding: 0;
      color: var(--darkActive);
      margin: 5px 0;
      float: right;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.modal--kMetrics {
  background: #14142b;
  .kMetricsItem__info,
  .kMetricsItem__title {
    color: var(--whiteMediumEmp);
  }

  .kMetricsItem__title {
  }

  .kMetricsItem__info {
    white-space: pre-line;
  }

  .modal--kMetrics__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .modal--kMetrics__body {
    padding: 10px;
  }

  .modal--kMetrics__close {
    font-size: 24px !important;
    color: var(--whiteMediumEmp);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background: rgba(117, 127, 154, 0.1);
    }
  }
}
