@import '../../../../../../sass/globalVariables.scss';

#headerKClient {
  display: flex;
  border-bottom: 1px solid var(--glowingBlue);
  transition: 0.4s all ease-in-out;
  min-height: 60px;
  max-height: 60px;
  padding: 0 15px;

  .kClient-title {
  }

  .leftGrid {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .logo__wrap img {
      height: 45px;
      width: auto;
    }
    .client__logo {
      padding-top: 10px;
      border-right: 1px solid #f1f1f1;
      margin-right: 10px;
      padding-right: 5px;
    }
  }
  .rightGrid.filter {
    margin-left: 25px;
  }

  .centerGrid {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kClient-title {
    color: var(--whiteHighEmp);
    font-size: var(--font-size-h1);
    letter-spacing: 0.05rem;
    font-weight: 100;
  }

  .rightGrid {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    .btnEllipsis,
    .btnAvatar {
      outline: none;
      background: transparent;
      border: 0;
      height: 60px;
      font-size: 20px;
      color: var(--whiteMediumEmp);
      padding: 0 15px;
      cursor: pointer;
    }
  }
}
