@import '../../../../sass/globalVariables.scss';

.multipleSearchInput{
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 512px;
    height: 32px;
    padding: 0 12px;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    outline: none;
    text-overflow: ellipses;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.pac-container{
    z-index: 9999 !important;
}

#multipleLocationSearchBox{
    
}

#multipleAddressList{
    position: absolute;
    top: 15%;
    right: 20px;
    background: rgba(255,255,255,0.9);
    min-width: 200px;
    max-width: 200px;
    height: 300px;
    border-radius: 3px;
    overflow-y: auto;

    ul{
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            padding: 10px;
            &:nth-child(odd){
                background-color: #f1faee;
            }
        }
    }

    .btnRemove{
        color: #023047;
        padding: 1px;
        border: none;
        margin: 10px 0;
        font-size: 12px;
        width: 28px;
        height: 28px;
    }
}