.rimeTimeline {
  position: absolute;
  bottom: 0;
  right: 325px;
  max-height: 45vh !important;
  padding: 0 0 0 15px;
  overflow-y: hidden;

  &:hover {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.timelineWrap {
  position: relative;

  // &:before{
  //     content: "";
  //     width: 2px;
  //     background: rgba(255,255,255, 0.2);
  //     position: absolute;
  //     top: 0;
  //     bottom: 0;
  //     left: -25px;
  //     border-radius: 5px;
  //     z-index: 998;
  // }

  ul {
    padding: 0;
    list-style: none;
    margin-top: 0 !important;
  }
}
