#timelapse {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--darkActive);
    border-radius: 5px;
  }
  .timelapse--wrap {
    h1 {
      float: right;
    }
    button {
      margin-right: 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 5px;
      padding: 7px 10px;
      color: #121212;
      cursor: pointer;
    }
    .play {
      background-color: #9bcc3b;
    }
    .stop {
      background-color: #e13530;
    }
  }
}
