.labelWrap{
    padding: 10px 0 0;
    
    label{
        color: var(--whiteMediumEmp);
        font-size: 0.9em;
        text-transform: capitalize;
    }

    &.select--label{
        padding: 10px 4px 8px;
    }
}