#impactRadiusForm {
  margin-top: 10px;
  color: #999;

  .submitBtn {
    background: transparent;
    border: 1px solid #283242 !important;
    color: var(--whiteMediumEmp);
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;

    &:hover {
      background: #fff;
      color: #34495e;
      border-color: #34495e;
    }
  }
}
