#keywordMonitor {
  .rootHeader {
    color: var(--lightText);
    padding: 13px 30px;
    background-color: var(--darkSolid);
    flex: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .keywordMonitor__wrap {
    padding: 0px;
    display: flex;
    width: 100%;

    .keywordMonitor__data {
      padding-top: 20px;
      background-color: var(--darkGreySolid);
      flex: 100%;
      max-width: 100%;
      min-height: 92vh;

      .btnEllipsis {
        outline: none;
        background: transparent;
        border: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 14px;
        color: var(--darkActive);
        padding: 13px;
        margin: 0px 0;
        box-shadow: 0 0 0px 9px rgba(255, 255, 255, 0.1%);
        -webkit-animation: white 2s infinite;
        -moz-animation: white 2s infinite;
        -o-animation: white 2s infinite;
        animation: white 2s infinite;

        &:hover {
          color: var(--whiteHighEmp);
          cursor: pointer;
        }

        &:disabled {
          color: var(--whiteMediumEmp);
          cursor: not-allowed;
        }
      }

      .totalResult {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #fff;
        margin-bottom: 15px;
        background-color: #02385a;
        width: 180px;
        height: 45px;
        border-radius: 6px;
        padding: 15px;
      }

      .keywordMonitor__result {
        border-bottom: 5px solid var(--whiteDisabled);
        overflow-y: scroll;
        &:hover {
          overflow-y: scroll;
          cursor: pointer;
          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--primarylight);
            border-radius: 5px;
          }
        }

        &::-webkit-scrollbar {
          width: 0;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: '#ccc';
          border-radius: 5px;
        }

        .articles-box {
          width: 100%;
          padding: 15px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          //border-bottom: 1px solid var(--whiteDisabled);
          color: var(--whiteHighEmp);
          float: left;
          //width: 50%;
          //height: 300px;
          overflow: hidden;

          .articles-img {
            width: 20%;
            display: flex;
            justify-content: center;
            .img-inside {
              height: 175px;
              width: 175px;
              border-radius: 12px;
            }
          }
          .articles-data {
            width: 80%;
            padding-left: 5px;
            padding-right: 5px;
            .articles-dateTime {
              color: var(--whiteMediumEmp);
              margin-top: 15px;
            }
            .articles-title {
              font-size: 20px;
              margin-bottom: 15px;
              font-weight: 400;
            }
            .articles-description {
              text-align: justify;
              margin-bottom: 15px;
              font-size: 14px;
              line-height: 20px;
            }
            .articles-newslink {
              //color: var(--lightBlue);
              font-size: 12px;
              color: var(--link);
            }
          }
        }
      }
      .keywordMonitor__result:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
  .keywordMonitor__filterRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
  }
}

.pagination {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
// .paginationUl {
//   height: 20px;
//   list-style: none;
//   .page-item {
//     display: inline-block;
//     padding: 14px;
//     cursor: pointer;
//     .page-link {
//     }
//     &:hover {
//       background-color: var(--highlightBackground);
//     }
//     &.active {
//       background-color: var(--highlightBackground) !important;
//     }
//     &.disabled {
//       background-color: var(--whiteDisabled) !important;
//     }
//   }
// }

.rime__KeywordMonitor__Event_datePicker {
  display: flex;
  flex-direction: row;
  height: 40px !important;
  margin-left: 10px;
  .keyword__Monitor__startDate {
    background-color: var(--darkerBackground) !important;
    border-color: rgba(255,255,255,0.40);
    padding-left: 10px;
    padding-right: 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin-right: 5px;
    label {
      color: var(--whiteDisabled);
      font-size: calc(5px + 1vmin) !important;
    }
    .MuiInputBase-input {
      padding-top: 0px !important;
      padding-bottom: 1px;
      font-size: calc(6px + 1vmin) !important;
      color: var(--whiteMediumEmp);
      height: 18px !important;
      border-color: rgba(255,255,255,0.40) !important;
    }
  }
  .keyword__Monitor__endDate {
    color: white !important;
    background-color: var(--darkerBackground) !important;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    label {
      color: var(--whiteDisabled);
      font-size: calc(5px + 1vmin) !important;
    }
    .MuiInputBase-input {
      padding-top: 0px !important;
      padding-bottom: 1px;
      font-size: calc(6px + 1vmin) !important;
      color: var(--whiteMediumEmp);
      height: 18px !important;
      border-color: rgba(255,255,255,0.40) !important;
    }
  }
}

.eventMonitor__filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  height: 70px !important;
  .eventMonitor__filter__search {
    width: 70%;
    display: flex;
    flex-direction: row;
    .rime__KeywordMonitor__search__Tags {
      width: 70%;
      .rime__KeywordMonitor__Event_ManualTags {
        height: 40px !important;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        width: 100%;
        background-color: var(--darkerBackground) !important;
        padding-left: 10px;
        padding-right: 5px;
        label {
          color: var(--whiteDisabled) !important;
          font-size: calc(5px + 1vmin) !important;
          width: 90% !important;
        }
        .MuiInputBase-input {
          padding-top: 0px !important;
          padding-bottom: 1px;
          font-size: calc(6px + 1vmin) !important;
          color: var(--whiteMediumEmp);
          height: 18px !important;
          border-color: white !important;
          width: 45vw !important;
        }
      }
    }
    .rime__KeywordMonitor__Event_datePicker {
      display: flex;
      justify-content: space-evenly;
    }
  }
  .keywordMonitorsrch__Btns {
    width: 25%;
    display: flex;
    justify-content: flex-end;
  }
}
.KeywordMonitor--no-found{
  height: 94vh;
  width: 100%;
}
.KeywordMonitor--no-found-image{
  height: 45vh;
  width: 60%;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

div.keywordMonitor__result>div:nth-of-type(even) {
  background: var(--evenRow);
}