#india_map_btn{

i{
    padding: 0 10px;
}

&.fixed-element-1 {
    position: fixed;
    width: 225px;
    background-color: #2d2d2d;
    -ms-transform: rotate(20deg);
    transform: rotate(-90deg);
    transform-origin: 0 0;
    left: 0;
    top: 50%;
    color: var(--whiteHighEmp);
    padding: 2px 15px;
    z-index: 9999;
}

&.blinking{
    animation: blinkingText 3s infinite;
}

.fas, .fab {cursor: pointer;}

.new-banner {
    animation: bannerBlinking 3s infinite;
    position: absolute;
    right: -10px;
    top: 10px;
    background-color: #ce0707;
    -ms-transform: rotate(20deg);
    transform: rotate(90deg);
    font-size: 0.7rem;
    padding: 0px 5px;
}

.map-box {
    color: var(--backgroundSolid);
    font-size: 0.9rem;
    font-weight: bold;
}

// .advisory-badge {
// 	animation: bannerBlinking 3s infinite;
//     top: -2px;
//     position: absolute;
//     left: -6px;
// }
.tile-img {
    position: absolute;
    height: 113px;
    top: 0px;
    opacity: 0.05;
    left: 0;
} 
@keyframes bannerBlinking{
    0%{     background-color: #ce0707;   }
    25%{    background-color: #ff7381; }
    50%{    background-color: #ce0707; }
    75%{    background-color:#ff7381;  }
    100%{   background-color: #ce0707;   }
} 

@keyframes blinkingText{
    0%{     background-color: #ffffff;   }
    25%{    background-color: #bdbdbd; }
    50%{    background-color: #ffffff; }
    75%{    background-color:#bdbdbd;  }
    100%{   background-color: #ffffff;   }
} 

}