.alertView__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid var(--whiteDisabled);
  h1 {
    color: var(--whiteHighEmp);
  }
  span {
    color: var(--whiteMediumEmp);
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 22px !important;
    cursor: pointer;

    &:hover {
      background-color: var(--lightGrey);
      color: var(--whiteHighEmp);
    }
  }
}
.btn--close {
  font-size: 17px;
  font-weight: normal;
  border: none;
  color: var(--whiteMediumEmp);
  padding: 5px 8px;
  border-radius: 3px;
  background: transparent;

  &:hover {
    background: var(--highlightBackgroundLight);
    border-radius: 3px;
    cursor: pointer;
  }
}
.alertViewTable {
  display: flex;
  width: 100%;
  height: 100%;
  .rime_alerts {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 50%;
    h1 {
      color: var(--whiteHighEmp);
      padding-bottom: 7px;
    }

    .tablelist__head {
      display: flex;
      border-bottom: 1px solid #f1f1f1;
      padding: 0 0 15px;
      width: 95%;
      // text-align: center;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }

      .tl__title {
        flex: 3;
      }

      label {
        font-size: 13px;
        // text-align: center;
        color: var(--whiteMediumEmp);
      }
    }
  }

  .riskTracker_alerts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    h1 {
      color: var(--whiteHighEmp);
      padding-bottom: 7px;
    }
    .tablelist__head {
      display: flex;
      border-bottom: 1px solid #f1f1f1;
      padding: 0 0 15px;
      width: 95%;
      // text-align: center;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }

      .tl__title {
        flex: 3;
      }

      label {
        font-size: 13px;
        // text-align: center;
        color: var(--whiteMediumEmp);
      }
    }
    .riskTrackerTable {
      width: 95% !important;
    }
  }
}
.anchor__text_title {
  color: #0c62f6;
  font-size: calc(3px + 1vmin) !important;
}
