@import '../../../sass/globalVariables.scss';

.tableItems {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #d3d3d3;

  div {
    text-align: center;
  }

  &:last-child {
    border-bottom: 0;
  }
}

.user--list--inner {
  width: 100%;
}

#user-list-table {
  width: 100%;
  border-collapse: collapse;

  .labelTxt {
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 25px;
    color: var(--whiteMediumEmp);

    &.nep {
      background-color: #6ab04c;
    }

    &.pum {
      background-color: #f0932b;
    }

    &.rpc {
      background-color: var(--lightBlue);
    }

    &.rpa {
      background-color: var(--glowingGreen);
    }
  }

  input {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    width: 100%;
    color: var(--whiteHighEmp);
    background: var(--backgroundSolid);
  }

  thead {
    border-bottom: 1px solid #d3d3d3;

    th {
      text-align: left;
    }
  }

  th {
    font-size: 14px;
    font-weight: normal;
    color: var(--whiteMediumEmp);
  }

  td,
  th {
    padding: 10px;
  }

  tr {
    border-bottom: 1px solid #d3d3d3;
    color: var(--whiteHighEmp);
    font-size: 14px;
  }

  tr:last-child {
    border-bottom: none;
  }

  & thead tr:nth-child(1) {
    background: transparent !important;
    border-bottom: 1px solid #d3d3d3;
  }
}

button.deleteLocation {
  padding: 5px;
  font-size: 12px;
  width: 100px;
  background: #ef5350;
  color: #fff;
  text-transform: none;

  &:hover {
    color: var(--whiteMediumEmp);
    border: 1px solid #d3d3d3;
  }
}
