@import '../../../../sass/globalVariables.scss';

#termsOfService {
  padding: 15px 30px;
  .termsOfService-title {
    margin-bottom: 5px;
    color: var(--lightBlue);
  }
  .termsOfService-detail {
    margin-bottom: 25px;
    text-align: justify;
    color: var(--whiteMediumEmp);
    white-space: pre-line;
  }
}
