.create__user__inner form {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px;
}

.customMsg__icon {
  padding-right: 10px;
}

.solidBtn.createUserBtn {
  margin: 15px 10px 0;
  background-color: #2d3436;
  border: 1px solid #2d3436;

  &:hover {
    color: #2d3436;
  }
}

.create__user__inner {
  display: flex;
}

.form__wrap,
.info__wrap {
  flex: 1;
}

.info__wrap {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 200px;
    max-width: 100%;
  }

  .user--text {
    padding-top: 20px;
  }
}

.submit-wrap {
  display: flex;
  justify-content: center;
}

.form__wrap {
  // background-color: #384561;

  h2 {
    font-size: 20px;
    padding: 15px;
    border-bottom: 1px solid #d3d3d3;
    font-weight: normal;
    color: #666;
    text-align: center;
  }
}
