// @import './sass/createUser.scss';

#admin{
    &.adminWrap{
        min-height: 100vh;
        display: flex;

        .userManagement{
            .more--options{
                padding: 15px;
                border-bottom: 1px solid #d3d3d3;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span{
                    i.fas.fa-users{
                        color: var(--whiteMediumEmp);
                    }
                    color: var(--whiteMediumEmp);
                    label{
                        margin-left: 10px;
                    }
                }
            }
            border-radius: 3px;
            .fa-users{
                color: var(--whiteMediumEmp) !important;
            }

            .user--list-wrap{
                padding: 15px;
                overflow: auto;
                // min-height: 200px;
                // max-height: 400px;
            }

            i, .btn--label{
                color: var(--whiteMediumEmp) !important;
            }
        }

        .nav-list-item{
            display: flex;
            // justify-content: space-between;
            align-items: baseline;
            padding-left: 30px !important;
            
            p{
                padding-left: 15px; 
            }
        }

        .list-title{
            background: #4b4b4b;
        }

        .logo--wrap{
            padding: 20px 10px;
            text-align: center;

            img{
                width: 128px;
            }
        }

        .nav__inner__wrap{
            position: fixed;
            min-height: 100vh;
            width: 256px;
        }

        .main__header{
            padding: 20px 30px;

            h1{
                font-size: 20px;
            }
        }

        .navActionsWrap{ 
            flex: 0.5;
            background: rgba(52, 73, 94, 1);
            color: var(--whiteMediumEmp);
        }

        .crudActionsWrap{
            flex: 2;
            background: #fff;
        }

        .header__filter{
            padding: 15px 30px;
            border-bottom: 1px solid #d3d3d3;
            border-top: 1px solid #d3d3d3;
        }

        .crud__inner{
            background-color: #f5f6fa;
            padding: 30px;
            min-height: 100vh;

            .bodyWrap{
                background-color: var(--whiteMediumEmp);
                border-radius: 3px;
                border: 1px solid #d3d3d3;
            }
        }

        .navlistWrap{
            ul{
                list-style: none;
                padding: 0;
                margin: 0;

                a{
                    text-decoration: none;
                }

                .active{
                    li{
                        background: rgba(75, 75, 75, 0.2);
                    }
                }

                li{
                    padding: 15px 10px;
                    color: var(--whiteMediumEmp);
                    
                    &:hover{
                        background-color: rgba(75, 75, 75, 0.2);
                    }

                    &.active{
                        background-color: #4b4b4b;
                    }
                }
            }
        }

        .view--btn{
            padding: 10px;
            border-radius: 3px;
            border: 1px solid #d3d3d3;
            background: #fff;
            cursor: pointer;
            color: #666;
            margin-right: 10px;

            &:hover{
                background: #f1f1f1;
                color: #666;
            }
        }
    }
}