.clientDetailsWrap {
  .errorTxt {
    color: red;
    padding: 10px 0;
    font-size: 13px;
  }

  .fileUploadWrap {
    margin-top: 15px;
    width: 100%;

    label {
      display: inline-block;
      padding: 12px 10px;
      cursor: pointer;
      border: 1px solid #d3d3d3;
      border-radius: 3px;
      color: var(--backgroundSolid) !important;
      border: 1px solid var(--backgroundSolid);
      text-align: center;

      &:hover {
        background-color: #f1f1f1;
      }
    }

    input[type='file'] {
      display: none;
    }

    span {
      // padding-left: 15px;
      color: #666;
      padding-top: 10px;
      font-size: 12px;
    }
  }

  h2 {
    font-size: 16px;
    // padding: 20px;
    margin-bottom: 10px;
    // border-bottom: 1px solid #d3d3d3;
    // text-align: center;
    font-weight: bold;
    color: #333;
  }

  .textInputs {
    display: flex;
    padding-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: column;

    label {
      color: #666;
      font-size: 14px;
      display: block;
      margin-top: 10px;
    }
  }

  .dateInput {
    display: flex;
    padding-bottom: 20px;
  }

  input[type='text'] {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    padding: 16px 10px;
    font-size: 14px;
    color: #333;
    flex: 1;
    margin: 15px 0 0;

    &:nth-child(3) {
      margin-right: 10px;
    }
  }

  input[type='email'] {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    padding: 16px 10px;
    font-size: 14px;
    color: #333;
    flex: 1;
    margin: 40px 0 0;
  }

  .selectWrapper {
    width: 100%;
    padding-top: 10px;
    label {
      display: block;
      padding-bottom: 10px;
    }
  }

  .select--options {
    width: 100%;
  }
}

.submit-btn {
  // justify-content: space-evenly;
  justify-content: center;
  display: flex;
  margin: 15px auto;
  max-width: 200px;
  button {
    margin: 0 10px;
  }
}

.radioWrapper {
  display: flex;
  flex-direction: row !important;
}

.input--primaryContact {
  margin: 15px 0 !important;
}

.divider-pd-15 {
  margin-bottom: 15px !important;
}
