$infoColor: #4F59A6;
$infoBgColor: rgba(215, 218, 235, 0.4);

.notice{
    margin: 10px;
    padding: 8px;
    border: 1px solid $infoColor;
    border-radius: 3px;
    background-color: $infoBgColor;
    
    &.notice--information{
        h4{
            color: $infoColor;
        }
        p{
            color: $infoColor;
        }
    }

    h4{
        padding-bottom: 6px;
        font-size: 14px;        
    }

    p{       
        font-size: 12px;
        line-height: 1.3em;
    }
}