.WeeklyDispatchList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0px;

  &:last-child {
    border-bottom: none;
  }

  .WeeklyDispatchList__title {
  }
  .WeeklyDispatchList__checkbox {
  }
}
