#weeklyForecastDataBox {
  display: flex;
  justify-content: space-between;
  background-color: var(--backgroundSolid);
  #weeklyList {
    padding: 15px;
    flex: 40%;

    .weeklyList {
      display: flex;
      flex-direction: column;
      min-height: 100%;

      ul {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: 0px;
        margin-top: 10px;
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;

      // chrome
      &::-webkit-scrollbar {
        display: none;
      }
      
      // moz
      scrollbar-width: none;
        li {
          list-style: none;

          .eventDetails {
            padding: 12px;
            cursor: pointer;
            display: block;
            position: relative;
            background: var(--darkGreySolid);
            margin-bottom: 10px;
            border-radius: 15px;

            &.active {
              border: 1px solid var(--darkActive);
              color: var(--darkGrey);

              &:hover {
                border: 1px solid var(--darkActive);
                box-shadow: none;
              }

            }

            .eventTitle,
            h1 {
              //font-size: var(--font-size-h1) !important;
              font-weight: 400;
              color: var(--whiteHighEmp);
            }

            p {
              margin-bottom: 8px;

              span {
                border-radius: 2px;
                // padding: 2px 7px;
                display: inline-block;
                margin-top: 8px;
                color: var(--lightGrey);
                font-size: var(--font-size-span) !important;
              }

              .date {
                float: right;
                font-size: var(--font-size-li) !important;
                font-weight: 100;
                color: var(--whiteMediumEmp); 
              }
            }

            img {
              position: absolute;
              bottom: 10px;
              width: 45px;
              right: 10px;
              opacity: 0.5;
            }
          }

          .eventDetails:hover {
            background: rgba(104, 104, 104, 0.05);
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            border-radius: 15px;
            border-bottom: none;
          }
        }
      }
    }
  }

  #weeklyListData {
    flex: 60%;
    max-height: 82vh;
    min-height: 82vh;
    padding: 15px;
    color:  var(--whiteHighEmp);
    background: var(--backgroundSolid);

    img {
      position: absolute;
      width: 100%;
    }
    .weeklyListData {
      background: var(--backgroundSolid);
      padding: 15px;
      position: relative;
      min-height: 55vh;
      max-height: 80vh;
      overflow-y: scroll;
      border-radius: 15px 15px;

      .weeklyListData__Header {
        margin-bottom: 15px;

        h1 {
          margin-bottom: 10px;
          font-size: var(--font-size-h1) !important;
          font-weight: 400;
        }
        .weeklyListData__Date {
          margin: 10px 0;
          font-size: var(--font-size-p) !important;
          line-height: 17px;
          display: flex;
          justify-content: space-between;
        }
        p {
          margin: 10px 0;
          font-size: var(--font-size-p) !important;
          line-height: 17px;

          strong {
            font-weight: 500;
          }
        }
        .separator {
          margin: 0 5px;
        }
      }
      .weeklyListData__forecast {
        p {
          margin: 10px 0;
          font-size: var(--font-size-p) !important;
          line-height: 19px;
        }
      }
      .weeklyListData__map {
        margin-top: 15px;
      }
    }
  }

  .emptyBox {
    display: flex;
    align-items: center;
    justify-items: center;
    min-height: 75vh;

    div {
      align-items: center;
      width: 100%;
    }
  }
}
