[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon--food beverage { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.icon-Tonepay { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe900;&nbsp;'); }
.icon-cross-circle { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe901;&nbsp;'); }
.icon-scheme { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe902;&nbsp;'); }
.icon--food beverage-grey { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe903;&nbsp;'); }
.icon-coming-soon-grey { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe904;&nbsp;'); }
.icon-coming-soon { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe905;&nbsp;'); }
.icon-home-care-grey { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe906;&nbsp;'); }
.icon-home-care { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe907;&nbsp;'); }
.icon-personal-care-grey { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe908;&nbsp;'); }
.icon-personal-care { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe909;&nbsp;'); }
.icon-staples-grey { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90a;&nbsp;'); }
.icon-staples { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90b;&nbsp;'); }
.icon-uniE90C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90c;&nbsp;'); }
.icon-jio { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe90d;&nbsp;'); }
.icon-uniE901 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea21;&nbsp;'); }
.icon-uniE902 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea22;&nbsp;'); }
.icon-uniE903 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea23;&nbsp;'); }
.icon-uniE904 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea24;&nbsp;'); }
.icon-uniE905 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea25;&nbsp;'); }
.icon-uniE906 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea26;&nbsp;'); }
.icon-uniE907 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea27;&nbsp;'); }
.icon-uniE908 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea28;&nbsp;'); }
.icon-uniE909 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea29;&nbsp;'); }
.icon-uniE90A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2a;&nbsp;'); }
.icon-uniE90B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2b;&nbsp;'); }
.icon-uniE90D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2d;&nbsp;'); }
.icon-uniE90E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2e;&nbsp;'); }
.icon-uniE90F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea2f;&nbsp;'); }
.icon-uniE910 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea30;&nbsp;'); }
.icon-uniE911 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea31;&nbsp;'); }
.icon-uniE912 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea32;&nbsp;'); }
.icon-uniE913 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea33;&nbsp;'); }
.icon-uniE914 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea34;&nbsp;'); }
.icon-uniE915 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea35;&nbsp;'); }
.icon-uniE916 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea36;&nbsp;'); }
.icon-uniE917 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea37;&nbsp;'); }
.icon-uniE918 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea38;&nbsp;'); }
.icon-uniE919 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea39;&nbsp;'); }
.icon-uniE91A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3a;&nbsp;'); }
.icon-uniE91B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3b;&nbsp;'); }
.icon-uniE91C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3c;&nbsp;'); }
.icon-uniE91D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3d;&nbsp;'); }
.icon-uniE91E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3e;&nbsp;'); }
.icon-uniE91F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea3f;&nbsp;'); }
.icon-uniE920 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea40;&nbsp;'); }
.icon-uniE921 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea41;&nbsp;'); }
.icon-uniE922 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea42;&nbsp;'); }
.icon-uniE923 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea43;&nbsp;'); }
.icon-uniE924 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea44;&nbsp;'); }
.icon-uniE925 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea45;&nbsp;'); }
.icon-uniE926 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea46;&nbsp;'); }
.icon-uniE927 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea47;&nbsp;'); }
.icon-uniE928 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea48;&nbsp;'); }
.icon-uniE929 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea49;&nbsp;'); }
.icon-uniE92A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4a;&nbsp;'); }
.icon-uniE92B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4b;&nbsp;'); }
.icon-uniE92C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4c;&nbsp;'); }
.icon-uniE92D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4d;&nbsp;'); }
.icon-uniE92E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4e;&nbsp;'); }
.icon-uniE92F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea4f;&nbsp;'); }
.icon-uniE930 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea50;&nbsp;'); }
.icon-uniE931 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea51;&nbsp;'); }
.icon-uniE932 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea52;&nbsp;'); }
.icon-uniE933 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea53;&nbsp;'); }
.icon-uniE934 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea54;&nbsp;'); }
.icon-uniE935 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea55;&nbsp;'); }
.icon-uniE936 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea56;&nbsp;'); }
.icon-uniE937 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea57;&nbsp;'); }
.icon-uniE938 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea58;&nbsp;'); }
.icon-uniE939 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea59;&nbsp;'); }
.icon-uniE93A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea5a;&nbsp;'); }
.icon-uniE93B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea5b;&nbsp;'); }
.icon-uniE93C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea5c;&nbsp;'); }
.icon-uniE93D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea5d;&nbsp;'); }
.icon-uniE93E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea5e;&nbsp;'); }
.icon-uniE93F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea5f;&nbsp;'); }
.icon-uniE940 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea60;&nbsp;'); }
.icon-uniE941 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea61;&nbsp;'); }
.icon-uniE942 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea62;&nbsp;'); }
.icon-uniE943 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea63;&nbsp;'); }
.icon-uniE944 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea64;&nbsp;'); }
.icon-uniE945 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea65;&nbsp;'); }
.icon-uniE946 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea66;&nbsp;'); }
.icon-uniE947 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea67;&nbsp;'); }
.icon-uniE948 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea68;&nbsp;'); }
.icon-uniE949 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea69;&nbsp;'); }
.icon-uniE94A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6a;&nbsp;'); }
.icon-uniE94B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6b;&nbsp;'); }
.icon-uniE94C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6c;&nbsp;'); }
.icon-uniE94D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6d;&nbsp;'); }
.icon-uniE94E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6e;&nbsp;'); }
.icon-uniE94F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea6f;&nbsp;'); }
.icon-uniE950 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea70;&nbsp;'); }
.icon-uniE951 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea71;&nbsp;'); }
.icon-uniE952 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea72;&nbsp;'); }
.icon-uniE953 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea73;&nbsp;'); }
.icon-uniE954 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea74;&nbsp;'); }
.icon-uniE955 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea75;&nbsp;'); }
.icon-uniE956 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea76;&nbsp;'); }
.icon-uniE957 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea77;&nbsp;'); }
.icon-uniE958 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea78;&nbsp;'); }
.icon-uniE959 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea79;&nbsp;'); }
.icon-uniE95A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7a;&nbsp;'); }
.icon-uniE95B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7b;&nbsp;'); }
.icon-uniE95C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7c;&nbsp;'); }
.icon-uniE95D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7d;&nbsp;'); }
.icon-uniE95E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7e;&nbsp;'); }
.icon-uniE95F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea7f;&nbsp;'); }
.icon-uniE960 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea80;&nbsp;'); }
.icon-uniE961 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea81;&nbsp;'); }
.icon-uniE962 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea82;&nbsp;'); }
.icon-uniE963 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea83;&nbsp;'); }
.icon-uniE964 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea84;&nbsp;'); }
.icon-uniE965 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea85;&nbsp;'); }
.icon-uniE966 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea86;&nbsp;'); }
.icon-uniE967 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea87;&nbsp;'); }
.icon-uniE968 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea88;&nbsp;'); }
.icon-uniE969 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea89;&nbsp;'); }
.icon-uniE96A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8a;&nbsp;'); }
.icon-uniE96B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8b;&nbsp;'); }
.icon-uniE96C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8c;&nbsp;'); }
.icon-uniE96D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8d;&nbsp;'); }
.icon-uniE96E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8e;&nbsp;'); }
.icon-uniE96F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea8f;&nbsp;'); }
.icon-uniE970 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea90;&nbsp;'); }
.icon-uniE971 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea91;&nbsp;'); }
.icon-uniE972 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea92;&nbsp;'); }
.icon-uniE973 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea93;&nbsp;'); }
.icon-uniE974 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea94;&nbsp;'); }
.icon-uniE975 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea95;&nbsp;'); }
.icon-uniE976 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea96;&nbsp;'); }
.icon-uniE977 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea97;&nbsp;'); }
.icon-uniE978 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea98;&nbsp;'); }
.icon-uniE979 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea99;&nbsp;'); }
.icon-uniE97A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9a;&nbsp;'); }
.icon-uniE97B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9b;&nbsp;'); }
.icon-uniE97C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9c;&nbsp;'); }
.icon-uniE97D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9d;&nbsp;'); }
.icon-uniE97E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9e;&nbsp;'); }
.icon-uniE97F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xea9f;&nbsp;'); }
.icon-uniE980 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa0;&nbsp;'); }
.icon-uniE981 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa1;&nbsp;'); }
.icon-uniE982 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa2;&nbsp;'); }
.icon-uniE983 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa3;&nbsp;'); }
.icon-uniE984 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa4;&nbsp;'); }
.icon-uniE985 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa5;&nbsp;'); }
.icon-uniE986 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa6;&nbsp;'); }
.icon-uniE987 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa7;&nbsp;'); }
.icon-uniE988 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa8;&nbsp;'); }
.icon-uniE989 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaa9;&nbsp;'); }
.icon-uniE98A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaaa;&nbsp;'); }
.icon-uniE98B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaab;&nbsp;'); }
.icon-uniE98C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaac;&nbsp;'); }
.icon-uniE98D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaad;&nbsp;'); }
.icon-uniE98E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaae;&nbsp;'); }
.icon-uniE98F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaaf;&nbsp;'); }
.icon-uniE990 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab0;&nbsp;'); }
.icon-uniE991 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab1;&nbsp;'); }
.icon-uniE992 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab2;&nbsp;'); }
.icon-uniE993 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab3;&nbsp;'); }
.icon-uniE994 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab4;&nbsp;'); }
.icon-uniE995 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab5;&nbsp;'); }
.icon-uniE996 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab6;&nbsp;'); }
.icon-uniE997 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab7;&nbsp;'); }
.icon-uniE998 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab8;&nbsp;'); }
.icon-uniE999 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeab9;&nbsp;'); }
.icon-uniE99A { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaba;&nbsp;'); }
.icon-uniE99B { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabb;&nbsp;'); }
.icon-uniE99C { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabc;&nbsp;'); }
.icon-uniE99D { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabd;&nbsp;'); }
.icon-uniE99E { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabe;&nbsp;'); }
.icon-uniE99F { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeabf;&nbsp;'); }
.icon-uniE9A0 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac0;&nbsp;'); }
.icon-uniE9A1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac1;&nbsp;'); }
.icon-uniE9A2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac2;&nbsp;'); }
.icon-uniE9A3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac3;&nbsp;'); }
.icon-uniE9A4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac4;&nbsp;'); }
.icon-uniE9A5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac5;&nbsp;'); }
.icon-uniE9A6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac6;&nbsp;'); }
.icon-uniE9A7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac7;&nbsp;'); }
.icon-start_billing2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac8;&nbsp;'); }
.icon-uniE9A9 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeac9;&nbsp;'); }
.icon-uniE9AA { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaca;&nbsp;'); }
.icon-uniE9AB { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacb;&nbsp;'); }
.icon-uniE9AC { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacc;&nbsp;'); }
.icon-uniE9AD { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacd;&nbsp;'); }
.icon-uniE9AE { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeace;&nbsp;'); }
.icon-uniE9AF { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeacf;&nbsp;'); }
.icon-uniE9B0 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead0;&nbsp;'); }
.icon-uniE9B1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead1;&nbsp;'); }
.icon-uniE9B2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead2;&nbsp;'); }
.icon-uniE9B3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead3;&nbsp;'); }
.icon-uniE9B4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead4;&nbsp;'); }
.icon-uniE9B5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead5;&nbsp;'); }
.icon-uniE9B6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead6;&nbsp;'); }
.icon-uniE9B7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead7;&nbsp;'); }
.icon-uniE9B8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead8;&nbsp;'); }
.icon-uniE9B9 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xead9;&nbsp;'); }
.icon-uniE9BA { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeada;&nbsp;'); }
.icon-uniE9BB { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadb;&nbsp;'); }
.icon-uniE9BC { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadc;&nbsp;'); }
.icon-uniE9BD { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadd;&nbsp;'); }
.icon-uniE9BE { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeade;&nbsp;'); }
.icon-uniE9BF { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeadf;&nbsp;'); }
.icon-uniE9C0 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae0;&nbsp;'); }
.icon-uniE9C1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae1;&nbsp;'); }
.icon-uniE9C2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae2;&nbsp;'); }
.icon-uniE9C3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae3;&nbsp;'); }
.icon-uniE9C4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae4;&nbsp;'); }
.icon-uniE9C5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae5;&nbsp;'); }
.icon-uniE9C6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae6;&nbsp;'); }
.icon-uniE9C7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae7;&nbsp;'); }
.icon-uniE9C8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae8;&nbsp;'); }
.icon-uniE9C9 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeae9;&nbsp;'); }
.icon-uniE9CA { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaea;&nbsp;'); }
.icon-uniE9CB { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaeb;&nbsp;'); }
.icon-uniE9CC { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaec;&nbsp;'); }
.icon-uniE9CD { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaed;&nbsp;'); }
.icon-uniE9CE { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaee;&nbsp;'); }
.icon-uniE9CF { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaef;&nbsp;'); }
.icon-uniE9D0 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf0;&nbsp;'); }
.icon-uniE9D1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf1;&nbsp;'); }
.icon-uniE9D2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf2;&nbsp;'); }
.icon-uniE9D3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf3;&nbsp;'); }
.icon-uniE9D4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf4;&nbsp;'); }
.icon-uniE9D5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf5;&nbsp;'); }
.icon-uniE9D6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf6;&nbsp;'); }
.icon-uniE9D7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf7;&nbsp;'); }
.icon-uniE9D8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf8;&nbsp;'); }
.icon-uniE9D9 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaf9;&nbsp;'); }
.icon-uniE9DA { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafa;&nbsp;'); }
.icon-uniE9DB { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafb;&nbsp;'); }
.icon-uniE9DC { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafc;&nbsp;'); }
.icon-uniE9DD { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafd;&nbsp;'); }
.icon-uniE9DE { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeafe;&nbsp;'); }
.icon-uniE9DF { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeaff;&nbsp;'); }
.icon-uniE9E0 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb00;&nbsp;'); }
.icon-uniE9E1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb01;&nbsp;'); }
.icon-uniE9E2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb02;&nbsp;'); }
.icon-uniE9E3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb03;&nbsp;'); }
.icon-uniE9E4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb04;&nbsp;'); }
.icon-uniE9E5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb05;&nbsp;'); }
.icon-uniE9E6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb06;&nbsp;'); }
.icon-uniE9E7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb07;&nbsp;'); }
.icon-uniE9E8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb08;&nbsp;'); }
.icon-uniE9E9 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb09;&nbsp;'); }
.icon-uniE9EA { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0a;&nbsp;'); }
.icon-uniE9EB { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0b;&nbsp;'); }
.icon-uniE9EC { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0c;&nbsp;'); }
.icon-uniE9ED { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0d;&nbsp;'); }
.icon-uniE9EE { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0e;&nbsp;'); }
.icon-uniE9EF { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb0f;&nbsp;'); }
.icon-uniE9F0 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb10;&nbsp;'); }
.icon-uniE9F1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb11;&nbsp;'); }
.icon-uniE9F2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb12;&nbsp;'); }
.icon-uniE9F3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb13;&nbsp;'); }
.icon-uniE9F4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb14;&nbsp;'); }
.icon-sales_return { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb15;&nbsp;'); }
.icon-uniE9F6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb16;&nbsp;'); }
.icon-uniE9F7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb17;&nbsp;'); }
.icon-uniE9F8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb18;&nbsp;'); }
.icon-uniE9F9 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb19;&nbsp;'); }
.icon-uniE9FA { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1a;&nbsp;'); }
.icon-uniE9FB { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1b;&nbsp;'); }
.icon-uniE9FC { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1c;&nbsp;'); }
.icon-uniE9FD { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1d;&nbsp;'); }
.icon-uniE9FE { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1e;&nbsp;'); }
.icon-record_sales2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xeb1f;&nbsp;'); }