
.icon--food beverage:before { content: '\e800'; } /* '' */
.icon-Tonepay:before { content: '\e900'; } /* '' */
.icon-cross-circle:before { content: '\e901'; } /* '' */
.icon-scheme:before { content: '\e902'; } /* '' */
.icon--food beverage-grey:before { content: '\e903'; } /* '' */
.icon-coming-soon-grey:before { content: '\e904'; } /* '' */
.icon-coming-soon:before { content: '\e905'; } /* '' */
.icon-home-care-grey:before { content: '\e906'; } /* '' */
.icon-home-care:before { content: '\e907'; } /* '' */
.icon-personal-care-grey:before { content: '\e908'; } /* '' */
.icon-personal-care:before { content: '\e909'; } /* '' */
.icon-staples-grey:before { content: '\e90a'; } /* '' */
.icon-staples:before { content: '\e90b'; } /* '' */
.icon-uniE90C:before { content: '\e90c'; } /* '' */
.icon-jio:before { content: '\e90d'; } /* '' */
.icon-uniE901:before { content: '\ea21'; } /* '' */
.icon-uniE902:before { content: '\ea22'; } /* '' */
.icon-uniE903:before { content: '\ea23'; } /* '' */
.icon-uniE904:before { content: '\ea24'; } /* '' */
.icon-uniE905:before { content: '\ea25'; } /* '' */
.icon-uniE906:before { content: '\ea26'; } /* '' */
.icon-uniE907:before { content: '\ea27'; } /* '' */
.icon-uniE908:before { content: '\ea28'; } /* '' */
.icon-uniE909:before { content: '\ea29'; } /* '' */
.icon-uniE90A:before { content: '\ea2a'; } /* '' */
.icon-uniE90B:before { content: '\ea2b'; } /* '' */
.icon-uniE90D:before { content: '\ea2d'; } /* '' */
.icon-uniE90E:before { content: '\ea2e'; } /* '' */
.icon-uniE90F:before { content: '\ea2f'; } /* '' */
.icon-uniE910:before { content: '\ea30'; } /* '' */
.icon-uniE911:before { content: '\ea31'; } /* '' */
.icon-uniE912:before { content: '\ea32'; } /* '' */
.icon-uniE913:before { content: '\ea33'; } /* '' */
.icon-uniE914:before { content: '\ea34'; } /* '' */
.icon-uniE915:before { content: '\ea35'; } /* '' */
.icon-uniE916:before { content: '\ea36'; } /* '' */
.icon-uniE917:before { content: '\ea37'; } /* '' */
.icon-uniE918:before { content: '\ea38'; } /* '' */
.icon-uniE919:before { content: '\ea39'; } /* '' */
.icon-uniE91A:before { content: '\ea3a'; } /* '' */
.icon-uniE91B:before { content: '\ea3b'; } /* '' */
.icon-uniE91C:before { content: '\ea3c'; } /* '' */
.icon-uniE91D:before { content: '\ea3d'; } /* '' */
.icon-uniE91E:before { content: '\ea3e'; } /* '' */
.icon-uniE91F:before { content: '\ea3f'; } /* '' */
.icon-uniE920:before { content: '\ea40'; } /* '' */
.icon-uniE921:before { content: '\ea41'; } /* '' */
.icon-uniE922:before { content: '\ea42'; } /* '' */
.icon-uniE923:before { content: '\ea43'; } /* '' */
.icon-uniE924:before { content: '\ea44'; } /* '' */
.icon-uniE925:before { content: '\ea45'; } /* '' */
.icon-uniE926:before { content: '\ea46'; } /* '' */
.icon-uniE927:before { content: '\ea47'; } /* '' */
.icon-uniE928:before { content: '\ea48'; } /* '' */
.icon-uniE929:before { content: '\ea49'; } /* '' */
.icon-uniE92A:before { content: '\ea4a'; } /* '' */
.icon-uniE92B:before { content: '\ea4b'; } /* '' */
.icon-uniE92C:before { content: '\ea4c'; } /* '' */
.icon-uniE92D:before { content: '\ea4d'; } /* '' */
.icon-uniE92E:before { content: '\ea4e'; } /* '' */
.icon-uniE92F:before { content: '\ea4f'; } /* '' */
.icon-uniE930:before { content: '\ea50'; } /* '' */
.icon-uniE931:before { content: '\ea51'; } /* '' */
.icon-uniE932:before { content: '\ea52'; } /* '' */
.icon-uniE933:before { content: '\ea53'; } /* '' */
.icon-uniE934:before { content: '\ea54'; } /* '' */
.icon-uniE935:before { content: '\ea55'; } /* '' */
.icon-uniE936:before { content: '\ea56'; } /* '' */
.icon-uniE937:before { content: '\ea57'; } /* '' */
.icon-uniE938:before { content: '\ea58'; } /* '' */
.icon-uniE939:before { content: '\ea59'; } /* '' */
.icon-uniE93A:before { content: '\ea5a'; } /* '' */
.icon-uniE93B:before { content: '\ea5b'; } /* '' */
.icon-uniE93C:before { content: '\ea5c'; } /* '' */
.icon-uniE93D:before { content: '\ea5d'; } /* '' */
.icon-uniE93E:before { content: '\ea5e'; } /* '' */
.icon-uniE93F:before { content: '\ea5f'; } /* '' */
.icon-uniE940:before { content: '\ea60'; } /* '' */
.icon-uniE941:before { content: '\ea61'; } /* '' */
.icon-uniE942:before { content: '\ea62'; } /* '' */
.icon-uniE943:before { content: '\ea63'; } /* '' */
.icon-uniE944:before { content: '\ea64'; } /* '' */
.icon-uniE945:before { content: '\ea65'; } /* '' */
.icon-uniE946:before { content: '\ea66'; } /* '' */
.icon-uniE947:before { content: '\ea67'; } /* '' */
.icon-uniE948:before { content: '\ea68'; } /* '' */
.icon-uniE949:before { content: '\ea69'; } /* '' */
.icon-uniE94A:before { content: '\ea6a'; } /* '' */
.icon-uniE94B:before { content: '\ea6b'; } /* '' */
.icon-uniE94C:before { content: '\ea6c'; } /* '' */
.icon-uniE94D:before { content: '\ea6d'; } /* '' */
.icon-uniE94E:before { content: '\ea6e'; } /* '' */
.icon-uniE94F:before { content: '\ea6f'; } /* '' */
.icon-uniE950:before { content: '\ea70'; } /* '' */
.icon-uniE951:before { content: '\ea71'; } /* '' */
.icon-uniE952:before { content: '\ea72'; } /* '' */
.icon-uniE953:before { content: '\ea73'; } /* '' */
.icon-uniE954:before { content: '\ea74'; } /* '' */
.icon-uniE955:before { content: '\ea75'; } /* '' */
.icon-uniE956:before { content: '\ea76'; } /* '' */
.icon-uniE957:before { content: '\ea77'; } /* '' */
.icon-uniE958:before { content: '\ea78'; } /* '' */
.icon-uniE959:before { content: '\ea79'; } /* '' */
.icon-uniE95A:before { content: '\ea7a'; } /* '' */
.icon-uniE95B:before { content: '\ea7b'; } /* '' */
.icon-uniE95C:before { content: '\ea7c'; } /* '' */
.icon-uniE95D:before { content: '\ea7d'; } /* '' */
.icon-uniE95E:before { content: '\ea7e'; } /* '' */
.icon-uniE95F:before { content: '\ea7f'; } /* '' */
.icon-uniE960:before { content: '\ea80'; } /* '' */
.icon-uniE961:before { content: '\ea81'; } /* '' */
.icon-uniE962:before { content: '\ea82'; } /* '' */
.icon-uniE963:before { content: '\ea83'; } /* '' */
.icon-uniE964:before { content: '\ea84'; } /* '' */
.icon-uniE965:before { content: '\ea85'; } /* '' */
.icon-uniE966:before { content: '\ea86'; } /* '' */
.icon-uniE967:before { content: '\ea87'; } /* '' */
.icon-uniE968:before { content: '\ea88'; } /* '' */
.icon-uniE969:before { content: '\ea89'; } /* '' */
.icon-uniE96A:before { content: '\ea8a'; } /* '' */
.icon-uniE96B:before { content: '\ea8b'; } /* '' */
.icon-uniE96C:before { content: '\ea8c'; } /* '' */
.icon-uniE96D:before { content: '\ea8d'; } /* '' */
.icon-uniE96E:before { content: '\ea8e'; } /* '' */
.icon-uniE96F:before { content: '\ea8f'; } /* '' */
.icon-uniE970:before { content: '\ea90'; } /* '' */
.icon-uniE971:before { content: '\ea91'; } /* '' */
.icon-uniE972:before { content: '\ea92'; } /* '' */
.icon-uniE973:before { content: '\ea93'; } /* '' */
.icon-uniE974:before { content: '\ea94'; } /* '' */
.icon-uniE975:before { content: '\ea95'; } /* '' */
.icon-uniE976:before { content: '\ea96'; } /* '' */
.icon-uniE977:before { content: '\ea97'; } /* '' */
.icon-uniE978:before { content: '\ea98'; } /* '' */
.icon-uniE979:before { content: '\ea99'; } /* '' */
.icon-uniE97A:before { content: '\ea9a'; } /* '' */
.icon-uniE97B:before { content: '\ea9b'; } /* '' */
.icon-uniE97C:before { content: '\ea9c'; } /* '' */
.icon-uniE97D:before { content: '\ea9d'; } /* '' */
.icon-uniE97E:before { content: '\ea9e'; } /* '' */
.icon-uniE97F:before { content: '\ea9f'; } /* '' */
.icon-uniE980:before { content: '\eaa0'; } /* '' */
.icon-uniE981:before { content: '\eaa1'; } /* '' */
.icon-uniE982:before { content: '\eaa2'; } /* '' */
.icon-uniE983:before { content: '\eaa3'; } /* '' */
.icon-uniE984:before { content: '\eaa4'; } /* '' */
.icon-uniE985:before { content: '\eaa5'; } /* '' */
.icon-uniE986:before { content: '\eaa6'; } /* '' */
.icon-uniE987:before { content: '\eaa7'; } /* '' */
.icon-uniE988:before { content: '\eaa8'; } /* '' */
.icon-uniE989:before { content: '\eaa9'; } /* '' */
.icon-uniE98A:before { content: '\eaaa'; } /* '' */
.icon-uniE98B:before { content: '\eaab'; } /* '' */
.icon-uniE98C:before { content: '\eaac'; } /* '' */
.icon-uniE98D:before { content: '\eaad'; } /* '' */
.icon-uniE98E:before { content: '\eaae'; } /* '' */
.icon-uniE98F:before { content: '\eaaf'; } /* '' */
.icon-uniE990:before { content: '\eab0'; } /* '' */
.icon-uniE991:before { content: '\eab1'; } /* '' */
.icon-uniE992:before { content: '\eab2'; } /* '' */
.icon-uniE993:before { content: '\eab3'; } /* '' */
.icon-uniE994:before { content: '\eab4'; } /* '' */
.icon-uniE995:before { content: '\eab5'; } /* '' */
.icon-uniE996:before { content: '\eab6'; } /* '' */
.icon-uniE997:before { content: '\eab7'; } /* '' */
.icon-uniE998:before { content: '\eab8'; } /* '' */
.icon-uniE999:before { content: '\eab9'; } /* '' */
.icon-uniE99A:before { content: '\eaba'; } /* '' */
.icon-uniE99B:before { content: '\eabb'; } /* '' */
.icon-uniE99C:before { content: '\eabc'; } /* '' */
.icon-uniE99D:before { content: '\eabd'; } /* '' */
.icon-uniE99E:before { content: '\eabe'; } /* '' */
.icon-uniE99F:before { content: '\eabf'; } /* '' */
.icon-uniE9A0:before { content: '\eac0'; } /* '' */
.icon-uniE9A1:before { content: '\eac1'; } /* '' */
.icon-uniE9A2:before { content: '\eac2'; } /* '' */
.icon-uniE9A3:before { content: '\eac3'; } /* '' */
.icon-uniE9A4:before { content: '\eac4'; } /* '' */
.icon-uniE9A5:before { content: '\eac5'; } /* '' */
.icon-uniE9A6:before { content: '\eac6'; } /* '' */
.icon-uniE9A7:before { content: '\eac7'; } /* '' */
.icon-start_billing2:before { content: '\eac8'; } /* '' */
.icon-uniE9A9:before { content: '\eac9'; } /* '' */
.icon-uniE9AA:before { content: '\eaca'; } /* '' */
.icon-uniE9AB:before { content: '\eacb'; } /* '' */
.icon-uniE9AC:before { content: '\eacc'; } /* '' */
.icon-uniE9AD:before { content: '\eacd'; } /* '' */
.icon-uniE9AE:before { content: '\eace'; } /* '' */
.icon-uniE9AF:before { content: '\eacf'; } /* '' */
.icon-uniE9B0:before { content: '\ead0'; } /* '' */
.icon-uniE9B1:before { content: '\ead1'; } /* '' */
.icon-uniE9B2:before { content: '\ead2'; } /* '' */
.icon-uniE9B3:before { content: '\ead3'; } /* '' */
.icon-uniE9B4:before { content: '\ead4'; } /* '' */
.icon-uniE9B5:before { content: '\ead5'; } /* '' */
.icon-uniE9B6:before { content: '\ead6'; } /* '' */
.icon-uniE9B7:before { content: '\ead7'; } /* '' */
.icon-uniE9B8:before { content: '\ead8'; } /* '' */
.icon-uniE9B9:before { content: '\ead9'; } /* '' */
.icon-uniE9BA:before { content: '\eada'; } /* '' */
.icon-uniE9BB:before { content: '\eadb'; } /* '' */
.icon-uniE9BC:before { content: '\eadc'; } /* '' */
.icon-uniE9BD:before { content: '\eadd'; } /* '' */
.icon-uniE9BE:before { content: '\eade'; } /* '' */
.icon-uniE9BF:before { content: '\eadf'; } /* '' */
.icon-uniE9C0:before { content: '\eae0'; } /* '' */
.icon-uniE9C1:before { content: '\eae1'; } /* '' */
.icon-uniE9C2:before { content: '\eae2'; } /* '' */
.icon-uniE9C3:before { content: '\eae3'; } /* '' */
.icon-uniE9C4:before { content: '\eae4'; } /* '' */
.icon-uniE9C5:before { content: '\eae5'; } /* '' */
.icon-uniE9C6:before { content: '\eae6'; } /* '' */
.icon-uniE9C7:before { content: '\eae7'; } /* '' */
.icon-uniE9C8:before { content: '\eae8'; } /* '' */
.icon-uniE9C9:before { content: '\eae9'; } /* '' */
.icon-uniE9CA:before { content: '\eaea'; } /* '' */
.icon-uniE9CB:before { content: '\eaeb'; } /* '' */
.icon-uniE9CC:before { content: '\eaec'; } /* '' */
.icon-uniE9CD:before { content: '\eaed'; } /* '' */
.icon-uniE9CE:before { content: '\eaee'; } /* '' */
.icon-uniE9CF:before { content: '\eaef'; } /* '' */
.icon-uniE9D0:before { content: '\eaf0'; } /* '' */
.icon-uniE9D1:before { content: '\eaf1'; } /* '' */
.icon-uniE9D2:before { content: '\eaf2'; } /* '' */
.icon-uniE9D3:before { content: '\eaf3'; } /* '' */
.icon-uniE9D4:before { content: '\eaf4'; } /* '' */
.icon-uniE9D5:before { content: '\eaf5'; } /* '' */
.icon-uniE9D6:before { content: '\eaf6'; } /* '' */
.icon-uniE9D7:before { content: '\eaf7'; } /* '' */
.icon-uniE9D8:before { content: '\eaf8'; } /* '' */
.icon-uniE9D9:before { content: '\eaf9'; } /* '' */
.icon-uniE9DA:before { content: '\eafa'; } /* '' */
.icon-uniE9DB:before { content: '\eafb'; } /* '' */
.icon-uniE9DC:before { content: '\eafc'; } /* '' */
.icon-uniE9DD:before { content: '\eafd'; } /* '' */
.icon-uniE9DE:before { content: '\eafe'; } /* '' */
.icon-uniE9DF:before { content: '\eaff'; } /* '' */
.icon-uniE9E0:before { content: '\eb00'; } /* '' */
.icon-uniE9E1:before { content: '\eb01'; } /* '' */
.icon-uniE9E2:before { content: '\eb02'; } /* '' */
.icon-uniE9E3:before { content: '\eb03'; } /* '' */
.icon-uniE9E4:before { content: '\eb04'; } /* '' */
.icon-uniE9E5:before { content: '\eb05'; } /* '' */
.icon-uniE9E6:before { content: '\eb06'; } /* '' */
.icon-uniE9E7:before { content: '\eb07'; } /* '' */
.icon-uniE9E8:before { content: '\eb08'; } /* '' */
.icon-uniE9E9:before { content: '\eb09'; } /* '' */
.icon-uniE9EA:before { content: '\eb0a'; } /* '' */
.icon-uniE9EB:before { content: '\eb0b'; } /* '' */
.icon-uniE9EC:before { content: '\eb0c'; } /* '' */
.icon-uniE9ED:before { content: '\eb0d'; } /* '' */
.icon-uniE9EE:before { content: '\eb0e'; } /* '' */
.icon-uniE9EF:before { content: '\eb0f'; } /* '' */
.icon-uniE9F0:before { content: '\eb10'; } /* '' */
.icon-uniE9F1:before { content: '\eb11'; } /* '' */
.icon-uniE9F2:before { content: '\eb12'; } /* '' */
.icon-uniE9F3:before { content: '\eb13'; } /* '' */
.icon-uniE9F4:before { content: '\eb14'; } /* '' */
.icon-sales_return:before { content: '\eb15'; } /* '' */
.icon-uniE9F6:before { content: '\eb16'; } /* '' */
.icon-uniE9F7:before { content: '\eb17'; } /* '' */
.icon-uniE9F8:before { content: '\eb18'; } /* '' */
.icon-uniE9F9:before { content: '\eb19'; } /* '' */
.icon-uniE9FA:before { content: '\eb1a'; } /* '' */
.icon-uniE9FB:before { content: '\eb1b'; } /* '' */
.icon-uniE9FC:before { content: '\eb1c'; } /* '' */
.icon-uniE9FD:before { content: '\eb1d'; } /* '' */
.icon-uniE9FE:before { content: '\eb1e'; } /* '' */
.icon-record_sales2:before { content: '\eb1f'; } /* '' */