.createCovidAlert__body, .createCovidAlert__header, .createCovidAlert__footer{
    padding: 15px;
}

.createCovidAlert__body{
    height: 320px;
    overflow: auto;
}

.createCovidAlert__header{
    display: flex;
    justify-content: flex-end;

    .timesClose{
        outline: none;
        background: transparent;
        border: 0;
        font-size: 20px;
        padding: 0 5px;
        color: #333;
        cursor: pointer;
        &:hover{
            background-color: #f1f1f1;
        }
    }
}

.createCovidAlert__footer__btnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    button{
        margin: 0 10px;
        &.btnSubmit, &.btnClose{
            outline: none;
            border: 1px solid #2980b9;
            background: transparent;
            text-transform: uppercase;
            color: #2980b9;
        }
    }
}

.createCovidAlert__footer{
    padding: 50px;
}

.vaccinatedTextField{
    color: #333 !important;
}

#countryReadyList, #countriesCovid{
    margin: 30px;

    .btnEdit{
        background-color: transparent;
        border: 1px solid #f1f1f1;
        outline: none;
    }
}

#editCovidCountry{
    
}