@import '../../../../sass/globalVariables.scss';

.rootViewSwitch {
  background: #111826;
  position: fixed;
  z-index: 999;
  padding: 0 15px;
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    transition: ease-in !important;
    transition-delay: 0.1s !important;
  }
  .topGrid {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mitkatTransparentLogo__wrap {
      margin-top: 15px;
      margin-bottom: 15px;
      img {
        width: 45px;
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  .centerGrid {
    flex: 1;
    display: flex;
    justify-content: center;

    .centerGrid__heading {
      width: 150px;
      color: var(--darkActive);
      height: 60px;
      margin: 0 8px;
      display: flex;
      transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      align-items: center;
      flex-direction: column;
      justify-content: center;
      border-bottom: 3px solid rgba(171, 193, 66, 1);
    }
    .centerGrid__heading-icon {
      padding-bottom: 5px;
    }
    .centerGrid__heading-label {
      font-size: 13px !important;
    }
  }

  .bottomGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rootViewSwitch_active {
    color: var(--darkActive);
    border-bottom: 3px solid var(--darkActive);
  }

  .rootViewSwitch_link {
    min-width: 100px;
    margin: 0 15px;
    text-align: center;
    line-height: 60px;
  }

  .btnEllipsis,
  .btnGlobalSearch {
    outline: none;
    background: transparent;
    border: 0;
    height: 60px;
    font-size: 20px;
    color: var(--whiteMediumEmp);
    padding: 0 15px;
    &:hover {
      color: var(--whiteHighEmp);
      cursor: pointer;
    }

    &:disabled {
      color: var(--whiteMediumEmp);
      cursor: not-allowed;
    }
  }
}

.btnAvatar,
.btnDownload {
  line-height: 60px;
  background: transparent;
  border: currentColor;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
  padding: 0 15px;
  // border-left: 1px solid rgba(255, 255, 255, 0.2);
  &:hover {
    color: #f9f9f9;
    cursor: pointer;
  }
}

.marginLft {
  margin-left: 10px;
  display: block;
}

i.dropIcons {
  font-size: 13px !important;
}

.drawer--header {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  color: var(--whiteMediumEmp);
  .mitKat--Logo--Switch {
    height: 70px;
    width: 115px;
    margin-left: 15px;
  }
  .sanctuary--Logo--Switch {
    height: 30px;
    width: 135px;
    margin-left: 15px;
    margin-top: 15px;
  }
  .blackpearl--Logo--Switch {
    height:40px;
    width: 100px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
  }

  .close--drawer--btn {
    padding: 20px;
    cursor: pointer;
  }
}
