.expandableImageCard{
    flex-basis: 33.33%;
    margin: 0 15px 0 0;
    position: relative;

    .default-img{
        cursor: pointer;
        width: 100%;
        object-fit: cover;

        &:hover{
            opacity: 0.3;
        }
    }

    .cardContent{
        padding: 0 !important;
        display: flex;
        height: 100%;
    }
}

.closeTimes{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--whiteMediumEmp);
    font-size: 35px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: normal;
    outline: none;

    &:hover{
        background: rgba(0, 0, 0, 0.3);
    }
}

.expanded-img{
    width: 100%;
    height: 100%;
    padding: 50px; 
}

.expand-modal-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    max-width: 500px;
    transform: translate(-50%,-50%);
    outline: none;
    min-width: 1024px;
    max-height: 600px;
    height: 100%;
}