.tablelist__wrap {
  overflow-y: auto;

  ::-webkit-scrollbar {
    width: 0;
  }
}

.tablelist__row {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #777777;

  &:last-child {
    border-bottom: 0;
  }

  &.highlight {
    border-bottom: 1px solid #244f6d;
  }
}
.tablelist__item:first-of-type {
  justify-content: start;
  padding-left: 8px;
  p {
    color: var(--whiteMediumEmp);
    font-weight: 500 !important;
  }
}
.tablelist__item {
  flex: 1;
  // text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 12px;
    color: var(--whiteMediumEmp);
    // overflow-x: scroll;
    max-width: 200px;
    // text-overflow: ellipsis;
  }

  input[type='checkbox'] {
    cursor: pointer;
  }
}

.fas.fa-star {
  color: #f9ca24;
}

.tablelist__item {
  p {
    color: var(--whiteMediumEmp);
  }
}

#corona {
  .coronaListWrap {
    .tablelist__item {
      p {
        color: var(--whiteMediumEmp);
      }
    }
  }

  //   .tablelist__row .tablelist__item {
  //     p {
  //       color: var(--whiteMediumEmp);
  //     }
  //   }
}
