@import '../../../../sass/globalVariables.scss';

#kscopeUpdateEvent {
  .kscopeUpdateEvent__header {
    padding: 10px;
    border-bottom: 1px solid var(--glowingBlue);
    h3 {
      color: var(--whiteMediumEmp);
      font-size: small;
    }
  }

  .kscopeUpdateEvent__body {
    padding: 10px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
  }

  .modal__inner {
  }

  .kscopeUpdateEvent__footer {
    border-top: 1px solid var(--glowingBlue);
  }
  .btnCancel,
  .btnUpdate {
    margin: 0 8px;
    padding: 5px;
    cursor: pointer;
  }

  .sliderWapper {
    padding: 0 10px;
  }

  .divider {
    background-color: var(--glowingBlue);
  }

  .label {
    padding: 10px 0;
  }
}

#kaleidoscope {
  .kaleidoscope__wrapper {
    margin: 15px;
    border: 1px solid var(--glowingBlue);
    border-radius: 3px;
  }

  .kaleidoscope-table-row {
    border-bottom: 1px solid var(--glowingBlue);

    .kaleidoscope-btnWrapper {
      display: flex;
      justify-content: space-evenly;

      button {
        margin: 0 10px;
        color: var(--whiteMediumEmp);
        border-radius: 2px;
        cursor: pointer;
      }
    }
  }
}

#kaleidoscope-header {
  margin: 15px;
  display: flex;
  justify-content: space-between;

  .btnCreateEvent {
    color: var(--whiteMediumEmp);
    border-radius: 3px;
    padding: 8px;
    border: 1px solid var(--glowingBlue);
    background: transparent;
    cursor: pointer;
  }
}

#dataPointList {
  .kaleidoscope-table-list {
    max-height: 100px;
  }

  .kaleidoscope-btnWrapper {
    button {
      margin: 0 10px;
      cursor: pointer;
      color: var(--whiteMediumEmp);
      border-radius: 3px;
    }
  }
}

.historicDataWrapper {
  display: flex;
  padding: 0 0 15px 0;

  button {
    padding: 8px;
    cursor: pointer;
  }
}

.dateWrapper {
  padding: 10px 0;
}
