.onScreenFilters {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--cardBackground) !important;
  margin-top: -40px;
  margin-left: auto !important;
  margin-right: auto !important;
  .css-dmmspl-MuiFormGroup-root {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    color: var(--whiteMediumEmp) !important;
    font-size: calc(4px + 1vmin) !important;
  }
}
