.infoGraphCorona{
    background: #fff;
    height: 92px;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    margin: 6px 0;
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 3px 3px 1px rgba(0,0,0,0.2);
    text-align: center;

    h1{
        text-transform: uppercase;
        font-size: 10px;
        color: #666666;
        font-weight: normal;
        font-weight: 600;
    }

    .iconWrapper{
        i{
            font-size: 18px;
        }
    }

    p{
        font-size: 1em;
        color: #666;
    }

    .infograph--meta{
        font-size: 11px;
        color: rgba(0,0,0,0.45);
    }
}