
.metrics-box{

    .metrics--title{
        font-size: 17px;
        font-weight: normal;
        line-height: 20px;
    }

    .metrics--total{
        font-size: 27px;
        font-weight: normal;
    }

    .metrics--per{
        font-size: 12px;
        font-weight: normal;
    }
}