.dark {
  --darkSolid: rgb(20, 33, 54);
  --lightText: rgb(255, 255, 255);
  --backgroundSolid: rgb(20, 33, 54, 0.9);
  --reverseBackgroundSolid: rgb(245, 245, 245);
  --darkGreySolid: rgb(6, 12, 20);
  --darkGrey: rgba(6, 12, 20, 0.9);
  --whiteHighEmp: rgba(255, 255, 255, 0.87);
  --whiteMediumEmp: rgba(255, 255, 255, 0.6);
  --whiteDisabled: rgba(255, 255, 255, 0.38);
  --darkActive: rgba(171, 193, 66, 1);
  --lightBlue: rgba(83, 193, 203, 0.8);
  --glowingGreen: rgba(171, 193, 66, 0.5);
  --globalVeryLow: rgb(155, 204, 59);
  --globalLow: rgb(241, 199, 73);
  --globalMedium: rgb(255, 127, 0);
  --globalHigh: rgb(237, 75, 63);
  --globalVeryHigh: rgb(225, 53, 48);
  --glowingBlue: #101e33;
  --highlightBackground: rgba(171, 193, 66, 1);
  --highlightBackgroundDark: #0c131f;
  --highlightBackgroundLight: #0c131f;
  --highlightText: rgba(230, 230, 231, 0.87);
  --darkTransparent: transparent;
  --lightTransparent: rgb(20, 33, 54);
  --darkGreyModal: rgba(20, 33, 54, 0.9);
  --mapWater: #060c14;
  --darkiestBackground: #111826;
  --dashboardBackground: #0C1324;
  --darkerBackground: #111826;
  --darkBackground: #060c14;
  --rimeEventBackground: rgb(20, 33, 54, 0.9);
  --tableHead: #0c131f;
  --tableEvenRow: rgb(20, 33, 54, 0.92);
  --tableOddRow: #101e33;
  --tableFooter: #0c131f;
  --captionTextColour: #b5bdcd;
  --titleColor: #e6e6e7;
  --pillColour: #212a3d;
  --pillTextColour: #e7e7e7;
  --eyeIconColour: #e7e7e7;
  --textHeader: #fff;
  --filterBackground: #060c14;
  --tableFooter: #0c131f;
  --eventCardBackground: #060c14;
  --captionTextColour: #b5bdcd;
  --titleColor: #e6e6e7;
  --pillColour: #212a3d;
  --pillTextColour: #e7e7e7;
  --eyeIconColour: #e7e7e7;
  --textHeader: #fff;
  --link: #0d99ff;
  --evenRow: #111826;
  --globalLightLow: #f3d66e;
  --globalLightMedium: #e3a35a;
  --globalLightHigh: #e35a5a;
  --solidBackground: rgb(20, 33, 54, 0.9);
  --cardBackground: #060c14;
  --border: #FFFFFF60;
  --iconsColor: #CECECE;
  --legendColor: #E7E7E7;
}

.light {
  --darkSolid: rgb(20, 33, 54);
  // --lightText: rgb(255, 255, 255);
  --lightText: rgb(0, 0, 0);
  --backgroundSolid: rgb(245, 245, 245);
  --reverseBackgroundSolid: rgb(20, 33, 54, 0.9);
  --darkGreySolid: rgb(255, 255, 255);
  --darkGrey: rgba(255, 255, 255, 0.9);
  --whiteHighEmp: rgba(0, 0, 0, 0.95);
  --whiteMediumEmp: rgba(0, 0, 0, 0.85);
  --whiteDisabled: rgba(0, 0, 0, 0.38);
  --darkActive: rgba(17, 24, 38, 1);
  --lightBlue: rgba(41, 146, 224, 0.8);
  --glowingGreen: rgba(171, 193, 66, 0.5);
  --globalVeryLow: rgb(155, 204, 59);
  --globalLow: rgb(241, 199, 73);
  --globalMedium: rgb(255, 127, 0);
  --globalHigh: rgb(237, 75, 63);
  --globalVeryHigh: rgb(225, 53, 48);
  --glowingBlue: #101e33;
  --highlightBackground: rgba(116, 168, 17, 1);
  --highlightBackgroundDark: #0c131f;
  --highlightBackgroundLight: #d3d3d3;
  --highlightText: rgba(0, 0, 0, 0.95);
  --darkTransparent: #fff;
  --lightTransparent: #eeeeee;
  --dashboardBackground: #EFEFEF;
  --darkGreyModal: rgba(255, 255, 255, 0.9);
  --mapWater: #9baac4;
  --darkiestBackground: #fff;
  --darkerBackground: #ffffff;
  --darkBackground: #fff;
  --rimeEventBackground: #fff;
  --tableHead: rgba(20, 33, 54, 1);
  --tableEvenRow: #fff;
  --tableOddRow: rgba(219, 233, 254, 0.5);
  --tableFooter: #fff;
  --eventCardBackground: #eeeeee;
  --captionTextColour: #35607b;
  --titleColor: #000000;
  --pillColour: #1b5478;
  --pillTextColour: #ffffff;
  --eyeIconColour: #ffffff;
  --textHeader: #02385a;
  --filterBackground: #eeeeee;
  --evenRow: #eeeeee;
  --globalLightLow: #f3d66e;
  --globalLightMedium: #e3a35a;
  --globalLightHigh: #e35a5a;
  --solidBackground: #eeeeee;
  --cardBackground: #fff;
  --link: #0D99FF;
  --border: #00000060;
  --iconsColor: #CECECE;
  --legendColor: #2e2e2e;
}

$globalVeryLow: #9bcc3b;
$globalLow: #f1c749;
$globalMedium: #ff7f00;
$globalHigh: #ed4b3f;
$globalVeryHigh: #e13530;
$glowingBlue: #101e33;
$globalLightLow: #f3d66e;
$globalLightMedium: #e3a35a;
$globalLightHigh: #e35a5a;
$globalHighlightBackgroundDark: rgba(116, 168, 17, 1);
$themeBlue: #02385a;
$themeGreen: #aac142;

:export {
  globalVeryLow: $globalVeryLow;
  globalLow: $globalLow;
  globalMedium: $globalMedium;
  globalHigh: $globalHigh;
  globalVeryHigh: $globalVeryHigh;
}
