@import '../../../../../../sass/globalVariables.scss';

#rimeSearchBar {
  padding: 0px 0px;
  margin-right: 10px;
  background-color: var(--darkiestBackground);
  .inputWrapper {
    display: flex;
    align-items: center;
    padding: 2px 10px;
    border: 1px solid #CECECE;
    border-radius: 6px;
    background-color: var(--darkTransparent);
    opacity: 1;
    input {
      border: 0;
      background: transparent;
      color: var(--whiteHighEmp);
      outline: none;
      padding: 10px;
      font-size: 14px;
    }
    ::placeholder{
      color: #CECECE;
    }
    .search_icon{
      color: var(--iconsColor);
      width: 21px;
    }
  }

  .inputBtnWrapper {
    button {
      color: var(--whiteDisabled);
      font-size: 10px;
      border: 0;
      background: transparent;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background-color: var(--lightGrey);
      }
    }
  }

  .inputWrapper__icon {
    i {
      color: var(--darkActive);
      font-size: 14px;
      padding: 0 10px;
    }
  }
}
