.subscribeBoxWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    .iconWrap{

        border: 0.2em solid #969696;
        width: 64px;
        border-radius: 50%;
        text-align: center;

        i{
            color: #34495e;
            font-size: 50px;
            font-style: normal;
        }
    }

    .titleWrap{
        color: #444;
        font-weight: normal;
    }

    .descWrap, .callToAction, .titleWrap{
        margin-top: 20px;
    }

    .descWrap{
        color: #777;
        font-size: 14px;
        text-align: center;
    }

    .callToAction{
        .btn{
            border-radius: 25px;
            border: transparent;
            width: auto;
            cursor: pointer;
            padding: 10px;
            font-weight: 600;
            
            &.btn-notify{
                background: #34495e;
                color: var(--whiteMediumEmp);
            }
        }
    }

    .close-box{
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;

        i{
            font-size: 20px;
            font-style: normal;
        }

        &:hover{
            
            i{
                color: #34495e;
            }
        }
    }

}