@import '../../../../../../sass/Barclays/css-variables.css';

#barclaysEventList {
  //   margin: 10px;
  padding: 15px;

  .barclaysEventList__Box {
    padding: 15px;
    border: 1px solid #ccc;
  }
  .date-picker-wrapper {
    display: flex;
    //border-bottom: 1px solid #777777;
    justify-content: space-between;
    padding-bottom: 15px;
    line-height: 45px;

    h2 {
      line-height: 48px;
      align-items: center;
    }
  }

  .tablelist__row {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #777777;
    background: var(--whiteBackground);
  }

  .tablelist__item p,
  .tablelist__item:first-of-type p {
    color: #000;
    font-weight: 500 !important;
  }
  .btn {
    color: var(--whiteBackground) !important;
  }
  .btnEdit {
    background-color: var(--edit) !important;
    margin-right: 5px !important;
  }
  .btnDelete {
    background-color: var(--delete) !important;
  }
  .btnSubmit {
    background-color: var(--primaryDark) !important;
  }
  .btnUpload {
    background-color: var(--primarylight) !important;
    margin-right: 5px !important;
  }
}
