#navMenu {
  .navMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    .riskAlerts {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .notification__options {
    position: relative;
    cursor: pointer;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    height: 50px;
    width: 50px;
    line-height: 42px;
    box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.3);

    i {
      margin: 0;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  .profile__options {
    margin-right: 30px;
  }
}
