.eventlist--item {
  display: flex;
  justify-content: space-evenly;
  background: var(--darkGrey);
  padding: 12px;
  border-radius: 8px;
  margin: 0 0 10px 0;
  cursor: pointer;
  transition: all 0.1s ease-in;
  border: 2px solid transparent;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);

  div {
    flex: 5 1;

    .eventlist--title {
      color: var(--whiteHighEmp); 
      font-size: 14px;
      font-weight: normal;
    }

    .eventlist--item__pills {
      border-radius: 2px;
      padding: 2px 7px;
      display: inline-block;
      margin-top: 8px;
    }

    .eventlist--datetime {
      color: rgba(255, 255, 255, 0.65);
      font-size: 13px;
      margin-top: 10px;
    }
  }
}
