/* @font-face {
    font-family:'Expert';
    src:local("Expert Sans Regular"),url("../../assets/font/Barclays/thesans-expert.ttf") format("ttf");
    font-display:block;
    font-weight:400;
    font-stretch:normal;
    font-style:normal
}
@font-face {
    font-family:'Expert';
    src:local("Expert Sans Bold"),url("../../assets/font/Barclays/thesans-bold-expert.ttf") format("ttf");
    font-display:block;
    font-weight:500;
    font-stretch:normal;
    font-style:normal
}

@font-face {
    font-family:'Expert';
    src:local("Expert Sans Light"),url("../../assets/font/Barclays/TheSans_Light_Expert.ttf") format("ttf");
    font-display:block;
    font-weight:300;
    font-stretch:normal;
    font-style:normal
}
@font-face {
    font-family:'Expert';
    src:local("Expert Sans Light-Italic"),url("../../assets/font/Barclays/TheSans_Light_Expert_Italic.ttf") format("woff");
    font-display:block;
    font-weight:300;
    font-stretch:normal;
    font-style:italic
} */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* body {
  margin: 0;
  padding: 0;
  font-family: Expert , sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   overflow-y: hidden; 
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Expert Sans Regular' , sans-serif !important;

} */

:root {
  --font-p: 0.85rem;
  --font-li: 0.85rem;
  --font-span: 0.85rem;
  --font-h1: 1rem;
  --font-h2: 0.85rem;
  --font-label: 0.9rem;
  --modal-min-width: 770px;
  --modal-max-width: 786px;
  --modal-min-height: 500px;
  --modal-max-height: 500px;
  --modal-max-inner-height: 400px;
  --whiteBackground: rgb(241, 241, 241);
  --text: rgb(75, 75, 75);
  --primarylight: rgb(0, 174, 239);
  --primaryDark: rgb(0, 57, 93);
  --textLight: rgb(102, 102, 102);
  --edit: rgb(0, 131, 18);
  --delete: rgb(157, 6, 59);
  --leftWidth: 250px;
}
