//Primary
$whiteBackground: rgb(241, 241, 241); //Background
$text: rgb(0, 0, 0);
$primarylight: rgb(0, 174, 239); //Button
$primaryDark: rgb(0, 57, 93); //Button
$textLight: rgb(102, 102, 102);

//Secondary

// Status
$statusSuccess: rgb(0, 131, 18);
$statusWarning: rgb(235, 128, 0);
$statusDanger: rgb(224, 0, 0);

//Button
$edit: rgb(0, 131, 18);
$delete: rgb(157, 6, 59);

:export {
  statusSuccess: $statusSuccess;
  statusWarning: $statusWarning;
  statusDanger: $statusDanger;
  whiteBackground: $whiteBackground;
  text: $text;
  textLight: $textLight;
  primaryDark: $primaryDark;
  primarylight: $primarylight;
}
