.search--toolbar {
  background: #fff;
  min-height: 50px;
  border-radius: 5px;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
}

.mapCont {
  border-radius: 5px;
  min-height: 100vh;
  background: #fff;
  margin: 0 10px 10px;
  overflow: hidden;
}

.riskTracker__infoCont {
  display: flex;
  .riskTracker__boxes {
    display: flex;
    max-width: 256px;
    max-height: 128px;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
  }
  .alert--title {
    padding-bottom: 10px;
  }
}

// Keep this commented code as it generates Pulse Effect on Map, Temperary been asked to stop - Shubham Khandhar - 01st Nov, 2022

// div[title='highRisk'] {
//   animation: pulsate 3.5s ease-in-out infinite;
//   height: 20px;
//   width: 20px;
//   border-radius: 50%;
//   background: rgba(255, 26, 26, 0.4);
// }
