#topRiskList {
  height: 40vh;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  max-width: 25%;
  padding: 10px;
  bottom: 0;
  background: rgba(255, 255, 255, 0);

  &:hover {
    overflow-y: hidden;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primarylight);
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5px;
  }

  .topRiskListItem--wrap {
    background: rgba(6, 14, 27, 0.95);
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: auto;
    overflow-y: scroll;

    // chrome
    &::-webkit-scrollbar {
      display: none;
    }

    // moz
    scrollbar-width: none;

    h1 {
      color: var(--whiteHighEmp); 
      font-weight: 100;
      text-transform: capitalize;
      margin-bottom: 10px;

      i {
        color: #2b3a54;
      }
    }
    .topRiskListItem--list {
      padding-left: 10px;

      .topRiskListItem--item {
        display: flex;
        .indicators {
          border-radius: 50%;
          display: block;
          width: 15px;
          height: 15px;
          line-height: 22px;
          margin-right: 10px;
        }
      }

      // .topRiskListItem--item:nth-child(1) {
      //   &:before {
      //     background-color: #00b37c;
      //   }
      // }

      // .topRiskListItem--item:nth-child(2) {
      //   &:before {
      //     background-color: #8f68c3;
      //   }
      // }
      // .topRiskListItem--item:nth-child(3) {
      //   &:before {
      //     background-color: #ff6769;
      //   }
      // }
      // .topRiskListItem--item:nth-child(4) {
      //   &:before {
      //     background-color: #dda536;
      //   }
      // }
      // .topRiskListItem--item:nth-child(5) {
      //   &:before {
      //     background-color: #d13fa1;
      //   }
      // }
      .topRiskListItem--item {
        list-style: none;
        padding: 0 0 15px 25px;
        position: relative;
        color: var(--whiteHighEmp); 
      }

      // .topRiskListItem--item:nth-child(1) {
      //   &:before {
      //     background-color: #00395d;
      //   }
      // }
      // .topRiskListItem--item:nth-child(2) {
      //   &:before {
      //     background-color: #194c6d;
      //   }
      // }
      // .topRiskListItem--item:nth-child(3) {
      //   &:before {
      //     background-color: #194c6d;
      //   }
      // }
      // .topRiskListItem--item:nth-child(4) {
      //   &:before {
      //     background-color: #4c748d;
      //   }
      // }
      // .topRiskListItem--item:nth-child(5) {
      //   &:before {
      //     background-color: #66889d;
      //   }
      // }
      .topRiskListItem--item {
        list-style: none;
        padding: 0 0 15px 25px;
        position: relative;

        &:before {
          border-radius: 50%;
          color: var(--whiteHighEmp);
          content: '';
          //counter-increment: numbered-list;
          display: block;
          width: 21px;
          height: 21px;
          margin-top: -0.5em;
          line-height: 22px;
          position: absolute;
          left: -12.25px;
          text-align: center;
          top: 3px;
          font-size: 11px;
          font-weight: 100;
        }
      }
    }
  }
}
