#categories {
  flex: 33% 1;
  padding: 10px;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0);

  .categories--wrap {
    background: var(--darkGrey);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: 100%;
  }

  h1 {
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
    i {
      color: #2b3a54;
    }
  }
  ul {
    margin: 20px 7px;
    padding: 0;
    display: inline-block;
    width: 100%;
    max-height: 44vh;
    overflow-y: scroll;

    &:hover {
      overflow-x: hidden;
      cursor: pointer;

      &::-webkit-scrollbar {
        width: 0px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #abc123;
        border-radius: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }
  }
  li {
    color: rgba(255, 255, 255, 0.74);
    list-style: none;
    margin: auto;
    min-height: 35px;
    /*background: rgba(255,255,0,0.1);*/
    // border-left: 1px dashed rgba(27, 42, 68, 0.74);
    padding: 0 0 7px 0;
    margin-bottom: 7px;
    position: relative;
    border-bottom: 1px solid rgba(27, 42, 68, 0.74);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      font-size: 15px !important;
      color: #aaaeb5;
      font-weight: 100;
      margin-bottom: 10px;
    }
    .riskrating-box {
      text-align: right;
      p {
        font-size: 13px !important;
        margin-bottom: 5px;
        color: #5b6472;
      }
    }

    span {
      span {
        color: #000;
        padding: 0 10px;
        font-size: 5px !important;
        margin-right: 3px;
        border-radius: 5px;
      }
      span:last-child {
        margin-right: 0 !important;
      }
    }
  }
  li:last-child {
    border-left: 0;
    border-bottom: 0;
  }
}
