
@import '../../../..//sass/globalVariables.scss';

#sessionPage{
    color: var(--whiteHighEmp);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .session__popup{
        box-shadow: 0 4px 5px 5px rgba(0,0,0,0.3);
        padding: 10px;
        border-radius: 3px;
        text-align: center;
    }

    .session__title{
        padding: 0 0 15px 0;
    }

    .session__btn{
        cursor: pointer;
        border: 1px solid var(--darkActive);
        background: transparent;
        color: var(--darkActive);
        padding: 10px;
        border-radius: 3px;
        font-weight: 600;
    }

    .session__heading{
        padding: 15px 0;
    }
}