@import '../../../../../../sass/Barclays/css-variables.css';

.createEvent__innerBox {
  background: var(--modalBackground);

  .field--create--event {
    height: auto;
    min-height: 300px;
    max-height: 380px;
    overflow: auto;
    padding: 0 10px;
    padding-bottom: 60px;
  }

  h3 {
    padding: 10px;
    margin: 0 0 10px;
    font-size: 15px;
    color: var(--text);
    background: var(--whiteBackground);
  }

  .actionables {
    padding: 15px;
    border-top: 1px solid #757575;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dateWrapper,
  .twoColWrap {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 10px;
    // justify-content: space-between;
  }

  .twoColWrap.radios--cont {
    // padding-top: 15px;
    padding: 15px 10px;
  }

  .dateWrapper {
    flex-direction: row;
    padding-top: 10px;
    margin-bottom: 0;
  }

  .date,
  .col-2 {
    flex: 1;
    margin: 0 10px 0 0;
  }

  .date {
    margin-bottom: 15px;
  }

  .select--options {
    width: 100%;
    // z-index: 996;
  }

  .colThreeWrap {
    display: flex;
  }

  .col-3 {
    flex: 1;
    margin: 0 10px 0 0;
  } 

  .labelWrap{
    padding: 10px 0 0;
    
    label{
        color: #000 !important;
        font-size: 0.9em;
        text-transform: capitalize;
    }
  
    &.select--label{
        padding: 10px 4px 8px;
    }
  } 
  .icon-uniE9F1 {
    color: var(--text);
    font-size: 16px;
  }

  .location--txt {
    color: var(--text);
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }

  .location-search-input {
    height: 46px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #757575;
    padding: 10px;
    width: 100%;
    color: var(--text);
  }
  
  .event-head--title {
    font-size: 14px;
    padding: 10px 0 0;
    color: var(--text);
    font-weight: normal;
  }

  .icon-uniE90E,
  .icon-uniE99D,
  .icon-uniE9F4,
  .icon-uniE905,
  .icon-uniE9EC {
    font-size: 16px;
    color: var(--text);
  } 
  .addLocationBtn {
    padding: 10px;
    cursor: pointer;
    background: var(--primaryDark) !important;
    border-right: 1px solid var(--primaryDark);
    color: var(--whiteHighEmp); 
    border:none;
  
    .addLocationBtn__icon { 
      border-right: 1px solid var(--primaryDark);
      padding: 10px 10px 10px 0;
      color: var(--whiteHighEmp); 
    }
    .addLocationBtn__text {
      padding-left: 10px;
    }
  }
}

#reactGooglePlaces {
  &.google--places {
    // border-bottom: 1px solid #f1f1f1;
    // padding-bottom: 15px;
  }

  

  .autocomplete-dropdown-container {
    // box-shadow: 0 0 4px 3px #f1f1f1;
    border: none;
    border-radius: 3px;
  }

  // .suggestion-item{
  // }

  .list--item {
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    display: block;
    padding: 10px;

    color: #777;
    font-size: 14px;

    &:hover {
      background: #eee;
    }
  }

  .loader-places {
    p {
      color: var(--whiteHighEmp); 
      //font-size: #666;
      font-size: 14px;
      padding: 10px;
    }
  }
}


.twoColWrap.single--selects {
  padding: 15px 0 10px;
  margin-bottom: 0;
}

.twoColWrap.multi--selects {
  padding: 15px 0;
  margin: 0;
}

.status__wrap {
  padding: 0 0 20px 0;
  width: 35%;
}

.label-input {
  display: block;
  padding: 10px 5px;
  color: var(--whiteHighEmp); 
  font-size: 14px;
}

.error--text {
  padding: 10px 5px;
  display: block;
  color: #f44336;
  font-size: 12px;
}

.form__group {
  // border: 1px solid #d3d3d3;
  border-radius: 3px;
  // padding: 10px;
  margin-top: 15px;

  .event-head--title {
    margin-bottom: 15px;
  }

  .groupBtnWrap {
    margin-top: 8px;
    display: flex;
  }

  .mg {
    margin: 0 10px 0 0;
  }

  .btn--addListItem {
    background-color: rgba(255, 255, 255, 0.3);
    color: var(--whiteHighEmp); 
    width: 100%;
    border: 1px solid var(--whiteBackground);
    margin: 0;

    &.add {
      width: 10%;
    }
  }
}

.bullet--list {
  margin: 15px 0px;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    background: #c0392b;
    border: transparent;
    color: var(--whiteHighEmp); 
    padding: 6px 8px;
    border-radius: 3px;
    cursor: pointer;
  }

  p {
    color: #666;
    font-size: 12px;
  }
}

.bullet--list {
  .fa.fa-check {
    padding-right: 10px;
    font-size: 10px;
  }
}

.fa-circle {
  font-size: 4px;
  padding-right: 4px;
}

.asterisk {
  // color: #f44336;
  padding-left: 2px;
  font-size: 15px;
}

.modal--section {
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 #eee;
  padding: 20px;
  margin-bottom: 15px;
}

.event--bg {
  display: flex;
  align-items: center;

  button.btn--addListItem {
    margin-left: 10px;
    padding: 18px;
    text-transform: uppercase;
    width: 5% !important;
  }
}



#multipleLocationMap {
  .multipleLocationList {
    li p {
      color: #333;
    }
  }
}

.updateBarclaysEvent__title-icon {
  margin-right: 10px;
}

