#headerCovid{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    img{
        width: 125px;
    }

    button{
        background: rgba(0, 0, 0, 0.5);
        border-radius: 28px;
        margin-left: 29px;
        text-transform: uppercase;
        font-size: 0.85rem;
        padding: 0.5rem 1rem;
        border: 0;
        color: var(--whiteMediumEmp);
        font-weight: bold;
        cursor: pointer;
    }
}