#organizationRiskRating {
  height: 46vh;
  /* position: absolute; */
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  z-index: 9;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  /* bottom: 0; */
  /* right: 26%; */
  /* background: rgba(255, 255, 255, 0); */

  .riskRating--wrap {
    background: var(--darkGrey);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: 100%;

    &:hover {
      overflow-y: scroll;
      cursor: pointer;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #abc123;
        border-radius: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }
  }

  h1 {
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
    i {
      color: #2b3a54;
    }
  }

  .riskLevel--wrap {
    margin-bottom: 15px;
  }
}
