#employeeTrackingData {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;

  .employeeTracking {
    display: flex;
    height: 26.5vh;
    flex-direction: column;
    background-color: var(--backgroundSolid);

    .affectedOffices--wrap {
      background: var(--backgroundSolid);
      padding: 12px;
      box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
      height: 25vh;
      position: relative;

      h1 {
        color: var(--whiteMediumEmp);
        font-weight: 100;
        text-transform: capitalize;
        margin-bottom: 15px;
        i {
          color: #e01059;
        }
      }

      span {
        border-radius: 3px;
        padding: 2px;
        color: var(--whiteMediumEmp);
        float: right;
      }
    }
  }
  .employeeTrackingList {
    display: flex;
  }
}

#employeeTrackingMap {
  flex: 50% 1;
}
