#topics {
  height: 40vh;
  /* position: absolute; */
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  /* bottom: 0; */
  /* right: 0; */
  /* background: rgba(6, 14, 27, 0); */

  .topics--wrap {
    background: var(--darkGrey);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    ul {
      margin: 20px 7px;
      padding: 0;
      display: inline-block;
      overflow-y: scroll;
      max-height: 25vh;
      width: 100%;
      &:hover {
        overflow-y: scroll;
        cursor: pointer;
        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #abc123;
          border-radius: 5px;
        }
      }

      &::-webkit-scrollbar {
        width: 0;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: '#ccc';
        border-radius: 5px;
      }
    }
    li {
      color: rgba(105, 105, 105, 0.74);
      list-style: none;
      margin: auto;
      min-height: 35px;
      /*background: rgba(255,255,0,0.1);*/
      // border-left: 1px dashed rgba(27, 42, 68, 0.74);
      padding: 0 0 7px 0;
      margin-bottom: 7px;
      position: relative;
      border-bottom: 1px solid rgba(27, 42, 68, 0.74);

      p {
        font-size: 13px !important;
        margin-bottom: 5px;
        color: var(--whiteHighEmp);
      }
      span {
        font-size: 21px !important;
        color: #00b1ea;
      }
    }
    li:last-child {
      border-left: 0;
      border-bottom: 0;
    }
  }

  h1 {
    color: var(--whiteHighEmp);
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
    i {
      color: #2b3a54;
    }
  }
  h5 {
    color: var(--highlightText);
    list-style: none;
    margin: auto;
    min-height: 35px;
    padding: 0 0 7px 0;
    margin-bottom: 7px;
    position: relative;
    font-weight: 300;
    border-bottom: 1px solid rgba(27, 42, 68, 0.74);
  }

  .riskLevel--wrap {
    margin-bottom: 15px;
  }
}
.eventList--wrap {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
