.biz-actions{
    // background: 'red',
    height: 500px;
    width: 300px;
    // position: absolute;
    top: 20px;
    left: 32px;

    .statesWrap{
        margin: '15px 0';
        label{
            color: rgba(0, 0, 0, 0.54);
            font-size: 14px;
            margin: 10px 0;
            display: block;
        }
    }

    .start--date, .end--date{
        margin-top: 15px
    }

    .bizFiltersWrap{
        padding: 15px 15px 0;
        // box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
        // border-radius: 5px;
        .biz--filters{
            padding: 10px;
            border-radius: 3px;
            // background: #FAFBFC;
            background: rgba(255,255,255, 0.9);
            // background: rgba(52, 73, 94, 0.4);
            min-height: 180px;
            // border-bottom-right-radius: 0;
            // border-bottom-left-radius: 0;
            h4{
                color: #777;
                font-weight: 600;
                font-size: 12px;
                text-transform: uppercase;
            }

            .filters__header{
                display: flex;
                justify-content: space-between;
                align-items: center;    

                button{
                    color: var(--whiteMediumEmp);                    
                    padding: 4px 10px;
                    border-radius: 3px;
                    cursor: pointer;
                    background: transparent;
                    border: 1px solid #fff;
                    text-transform: uppercase;
                    font-size: 11px;
                    font-weight: 600;
                }
            }
        }

        .biz--states{
            margin: 15px 0 0;
            max-height: 290px;
            overflow-y: scroll;  
            padding: 0 5px 0 0;                   

            &::-webkit-scrollbar{
                width: 4px;
            }
              
            &::-webkit-scrollbar-track{
                background: transparent;
            }
            
            &::-webkit-scrollbar-thumb{
                background-color: '#ccc';
                border-radius: 5px; 
            }

            &:hover{
                overflow-y: scroll;

                
            }
        }
    }

    .state-list-item{
        padding: 10px;
        background: rgba(255,255,255, 0.9);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        margin: 10px 0;

        &:nth-child(1){
            margin-top: 0;
        }

        .state--title{
            p{
                font-size: 13px;
            }
        }

        .state--number{
            p{
                font-size: 13px;
                font-weight: 600;
                // color: #34495e;
                color: #C9532E;
            }
        }
    }

    .biz--title{
        color: var(--whiteMediumEmp);
        margin: 10px 0 0;

        &.stats{
            // margin: 0 0 10px 15px;            
        }   
    }
}

.biz--graph--wrap{
    position: absolute;
    margin: 0 15px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    width: 390px;
    bottom: 32px;
    right: 20px;

    .statsWrap{
        display: flex;
        margin: 10px 15px;
        justify-content: space-between;
        align-items: center;

        .biz--title{
            &.stats{
                margin: 0;
                color: #777;
                font-weight: 500;
            }
        }

        button{
            color: var(--whiteMediumEmp);                    
            padding: 4px 10px;
            border-radius: 3px;
            cursor: pointer;
            background: transparent;
            border: 1px solid #fff;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
        }
    }
}

.modal--inner--stats{
    position: relative;
    background: #fff;
    /* margin: 15px; */
    max-width: 800px;
    margin: 60px auto;
    max-height: 600px;
    padding: 15px;
    .stats-close-button{
        position: absolute;
        top: 5px;
        right: 5px;

        button{
            cursor: pointer;
            background: transparent;
            border: transparent;
            font-size: 20px;
            &:hover{
                color: rgba(201, 83, 46, 1);
            }
        }
    }
}