.firstRow {
  background-color: var(--cardBackground) !important;
  padding: 5px 0px;
  .numbers {
    color: var(--highlightText) !important;
    text-align: center;
    font-size: calc(30px + 1vmin);
    padding: 2px 0px;
  }
  .header {
    color:  var(--highlightText) !important;
    text-align: center;
    font-size: calc(4px + 1vmin);
    padding-bottom: 5px;
  }
}

.secondrow {
  background-color: var(--cardBackground) !important;
  margin-top: 7px;
  padding: 5px;
  .time {
    color:  var(--highlightText) !important;
    text-align: center;
    font-size: calc(25px + 1vmin);
  }
  .date {
    color:  var(--highlightText) !important;
    text-align: center;
    font-size: calc(6px + 1vmin);
  }
  .header {
    color:  var(--highlightText) !important;
    text-align: center;
    font-size: calc(4px + 1vmin);
    padding-top: 5px;
  }
}


@media screen and (min-width: 1366px)  and (max-width: 1920){
  .firstRow {
    background-color: var(--cardBackground) !important;
    padding: 5px 0px;
    .numbers {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(20px + 1vmin);
      padding: 2px 0px;
    }
    .header {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(4px + 1vmin);
      padding-bottom: 5px;
    }
  }

  .secondrow {
    background-color: var(--cardBackground) !important;
    margin-top: 7px;
    padding: 8px;
    .time {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(18px + 1vmin);
    }
    .date {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(4px + 1vmin);
    }
    .header {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(3px + 1vmin);
      padding-top: 5px;
    }
  }
}
@media screen and (min-width: 200px) and (max-width: 1240px) {
  .firstRow {
    background-color: var(--cardBackground) !important;
    padding: 5px 0px;
    .numbers {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(20px + 1vmin);
      padding: 2px 0px;
    }
    .header {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(4px + 1vmin);
      padding-bottom: 5px;
    }
  }

  .secondrow {
    background-color: var(--cardBackground) !important;
    margin-top: 4px;
    padding: 4px;
    .time {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(18px + 1vmin);
    }
    .date {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(4px + 1vmin);
    }
    .header {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(3px + 1vmin);
      padding-top: 5px;
    }
  }
}

@media screen and (min-width: 1920px) {
  .firstRow {
    background-color: var(--cardBackground) !important;
    padding: 7px 0px;
    .numbers {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(40px + 1vmin);
      padding: 2px 0px;
    }
    .header {
      color: #a0a0a0 !important;
      text-align: center;
      font-size: calc(15px + 1vmin);
      padding-bottom: 8px;
    }
  }

  .secondrow {
    background-color: var(--cardBackground) !important;
    margin-top: 12px;
    padding: 10px;
    .time {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(40px + 1vmin);
    }
    .date {
      color:  var(--highlightText) !important;
      text-align: center;
      font-size: calc(15px + 1vmin);
    }
    .header {
      color: #a0a0a0 !important;
      text-align: center;
      font-size: calc(15px + 1vmin);
      padding-top: 5px;
      padding-bottom: 7px;
    }
  }
}