#editEvents{
    margin: 20px;
    background: var(--backgroundSolid);
    border-radius: 4px;
    //border: 1px solid #d3d3d3;
    padding: 10px;
    overflow: hidden;
    height: 88vh;

    .no--updates--txt{
        color: var(--whiteMediumEmp);
    }

    .head--filters{
        font-size: 14px;
        color: var(--whiteMediumEmp);
        font-weight: normal;
        margin-bottom: 15px;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .filters{
        flex: 0.5;
        border: 1px solid #eee;
        border-radius: 6px;
        padding: 10px 6px;
        box-shadow: 0 0 2px 0 #eee;
        margin-bottom: 15px;

        .editEventFilters{
            display: flex;
            justify-content: space-around;
            align-items: center;

            div{
                flex: 1;
                // margin: 0 5px;
            }

            .filter--fields{
                margin-bottom: 20px;
                width: 100%;
                color:#fff;
                // margin: 0 5px;
            }
        }
    }

    .content{
        flex: 3;
        // padding: 0 10px;
        // overflow-y: scroll;
        // overflow-x: hidden;
        // min-height: 350px;
        // max-height: 350px;
        border: 1px solid #c2cfd6;

        h3{
            color: var(--whiteMediumEmp);
            font-size: 14px;
            font-weight: normal; 
            padding-bottom: 15px;
            border-bottom: 1px solid #f1f1f1;
            margin-bottom: 10px;
        }
    }

    .btn--apply, .btn--reset, .btn--loadmore{
        margin: 0;
        // border: transparent;
        border: 1px solid #2980b9;
        // background: #2980b9;
        background: transparent;
        text-transform: uppercase;
        padding: 8px;
        color: #2980b9;
        // width: 100%;
    }

    .btn--loadmore{ width: 20%; }

    .table--footer{
        padding: 15px;
        text-align: center;
    }

    .table--body{
        overflow-y: scroll;
        overflow-x: hidden;
        // min-height: 350px;
        // max-height: 350px;
        height: 60vh;
    }

    .btn--reset{
        // background: #f1f1f1;
        margin-left: 15px;
        // color: #666;
    }

    .eventTable{

        .table--head{
            display: flex;
            // justify-content: space-between;
            border-bottom: 2px solid var(--backgroundSolid);
            padding-bottom: 10px;
            background: var(--backgroundSolid);
            padding: 8px;

            div{
                flex: 1;
            }

            label{
                font-size: 13px;
                color: var(--whiteMediumEmp);
            }
        }

        .t--item{
            border-bottom: 1px solid #d3d3d3;
            padding: 10px;
            display: flex;
            align-items: center;
            // justify-content: space-between;

            .btn--delete, .btn--edit{
                color: var(--whiteMediumEmp);
                border-radius: 3px;
                padding: 4px;
                margin: 0 5px;
                cursor: pointer;
            }

            div{
                flex: 1;
            }

            .date label{
                flex-basis: 65px;
                overflow: hidden;
                font-size: 12px;
                color: var(--whiteMediumEmp);
            }
            
            .title{
                p{
                    font-size: 12px;
                    color: var(--whiteMediumEmp);
                    overflow: hidden;
                    max-width: 100px;
                    text-overflow: ellipsis;
                }
            }

            .country, .status, .state, .city, .creator, .storytype{
                p{
                    overflow: hidden;
                    max-width: 100px;
                    color: var(--whiteMediumEmp);
                    font-size: 12px;
                }
            }
        }

    }

}

.fieldWrap{
    margin: 0 5px;
    text-align: right;
}

#edit-event--modal{
    min-width: 1024px;
    max-height: 600px;
    overflow-y: hidden;
}

.status{
    display: flex;
    align-items: center;
}

.approve--status{
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 10px;

    &.approved{
        color: #2ecc71;
    }

    &.pending{
        color: #f1c40f;
    }

    &.rejected{
        color: #e74c3c;
    }

}

