.amd__wrap {
  margin: 20px;
  background: var(--backgroundSolid);
  border-radius: 4px;
  border: 1px solid #293b58;
  padding: 15px;

  h2 {
    font-size: 15px;
    // border-bottom: 1px solid #d3d3d3;
    // padding: 0 0 10px;
    margin: 0 0 15px;
    color: var(--whiteMediumEmp);
    text-transform: uppercase;
  }

  .amd--title {
    flex: 3;
  }

  .btn--edit,
  .btn--delete {
    color: var(--whiteMediumEmp);
    border-radius: 3px;
    padding: 4px;
    margin: 0 5px;
    cursor: pointer;
  }

  .tablelist__head {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 0 15px;
    // text-align: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    .tl__title {
      flex: 3;
    }

    label {
      font-size: 13px;
      // text-align: center;
      color: var(--whiteMediumEmp);
    }
  }

  .approve--status {
    p {
      color: var(--whiteMediumEmp);
      border-radius: 5px;
      padding: 5px;
    }
    &.approved {
      p {
        background: #20bf6b;
      }
    }
    &.rejected {
      p {
        background: #fa8231;
      }
    }
  }

  .btn--actions--wrap {
  }
}

.isImportantWrap {
  padding-bottom: 35px;

  label {
    margin-right: 10px;
    color: var(--whiteMediumEmp);
  }
}

// @rinku please change this later, this is just a hotfix hack
.darkBlue {
  .tablelist__row {
    background-color: transparent;
  }
}

.darkBlue {
  .tablelist__row {
    &.highlight {
      background-color: #296893;
    }
  }
}
