@import '../../../../../../sass/globalVariables.scss';

.btnAvatarLeftMenu {
  line-height: 8vh;
  background: transparent;
  border: currentColor;
  color: #e2e2e2;
  font-size: 17px;
  cursor: pointer;
  padding: 0 7px;
  margin-top: 5px;
  &:hover {
    color: #f9f9f9;
    cursor: pointer;
  }
}
.menu-icon{
  color: var(--textHeader);
 }
.marginLft {
  margin-left: 10px;
  display: block;
}

i.dropIcons {
  font-size: 13px !important;
}

.drawer--header {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  color: var(--whiteMediumEmp);
  .mitKat--Logo--Switch {
    height: 70px;
    width: 115px;
    margin-left: 15px;
  }

  .close--drawer--btn {
    padding: 20px;
    cursor: pointer;
  }
}
