.model--inner {
  background: var(--darkGreyModal);
  min-width: var(--modal-min-width);
  max-width: var(--modal-max-width);
  min-height: var(--modal-max-height);
  max-height: var(--modal-max-height);
  overflow-y: scroll;
  overflow-x: hidden;
  .modal--table {
    background: var(--highlightBackgroundLight) !important;
  }
  .daily--risk--model--header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px;
    align-items: center;
    border-bottom: 1px solid var(--whiteMediumEmp);
    .title {
      padding-top: 10px;
      color: var(--whiteMediumEmp) !important;
    }
  }
  .table--data {
    background-color: transparent !important;
    color: var(--whiteMediumEmp) !important;
  }
  .daily--risk--noData--model {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 5px;
    font-size: 10px;
    align-items: center;
    padding-top: 10px;
    color: var(--whiteMediumEmp) !important;
  }
  .daily--risk--btn--times {
    color: var(--whiteMediumEmp);
    font-size: var(--close-times-size) !important;
    cursor: pointer;
    padding: 5px 8px;
    margin: -10px -15px 0px 7px;
    border-radius: 3px;
  
    &:hover {
      color: #f6682f;
    }
  }
}
