@import '../../../../sass/globalVariables.scss';

.dispatchEmail__wrap {
  margin: 20px;
  background: var(--backgroundSolid);
  border-radius: 4px;
  padding: 15px;

  .form--control {
    min-width: 200px;
  }

  .product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;

    .product__title {
      h3 {
        font-size: 15px;
        color: var(--whiteMediumEmp);
      }
    }
  }

  .divider {
    margin-bottom: 15px;
  }

  .tlist__head {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        color: var(--whiteMediumEmp);
      }
    }
  }

  .info--txt {
    // text-align: center;
    color: #777;
  }

  .actionables__wrap {
    display: flex;
    padding: 0 0 30px;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 16px;
      color: var(--whiteMediumEmp);
      padding: 10px 0;
    }
    label {
      color: var(--whiteMediumEmp);
    }
    input {
      margin: 0 15px;
      cursor: pointer;
    }

    button {
      border: transparent;
      padding: 15px;
      color: var(--whiteMediumEmp);
      border-radius: 3px;
      background: #3d90d1;
      cursor: pointer;
    }
  }

  .product_select {
    min-width: 300px;
  }

  input[type='radio'] {
    cursor: pointer;
  }
}

#relevantClients {
  padding: 10px;
  color: #f1f1f1;
  .client__wrap {
  }

  .relevantClients__body {
    height: 370px;
    overflow-y: scroll;
  }

  .relevantClients__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
  }
}
.highlightClient {
  background-color: rgba(169, 191, 66, 0.2);
}

.relevantClientWrap {
  margin: 10px 0;
  border-radius: 3px;
  padding: 5px;
}

.clientDetailWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.btnDispatch {
  border: transparent;
  padding: 8px;
  color: var(--whiteMediumEmp);
  border-radius: 3px;
  background: #3d90d1;
  cursor: pointer;
}

button.btnClose {
  border: transparent;
  padding: 8px;
  color: var(--whiteMediumEmp);
  border-radius: 3px;
  background: var(--glowingGreen);
  cursor: pointer;
}

.relevantClients__footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
