.dmd__wrap{
    margin: 20px;
    background: var(--backgroundSolid);
    border-radius: 4px;
    border: 1px solid #293b58;
    padding: 15px;

    .form--control{
        min-width: 200px;
    }

    .product__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        
        .product__search{
            
        }

        .product__title{
            h3{
                font-size: 15px;
                color: var(--whiteMediumEmp);
                padding-bottom: 10px;
            }

            label{
                margin-right: 10px;
                color: var(--whiteMediumEmp);
            }
        }
    }

    .product__body{
        //border: 1px solid #f1f1f1;
        //padding: 10px;
    }

    .divider{
        margin-bottom: 15px;
    }

    .tlist__head{
        display: flex;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 10px;
        padding-bottom: 10px;
        div{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            label{
                color:var(--whiteMediumEmp);
            }
        }
    }

    .info--txt{
        // text-align: center;
        color: var(--whiteMediumEmp);
    }

    .actionables__wrap{
        display: flex;
        padding: 0 0 30px;
        justify-content: space-between;
        align-items: center;

        h3{
            font-size: 16px;
            color: var(--whiteMediumEmp);
            padding: 10px 0;
        }
        label {
            color: var(--whiteMediumEmp);
        }
        input{
            margin: 0 15px;
            cursor: pointer;
        }

        button{
            border: transparent;
            padding: 15px;
            color: var(--whiteMediumEmp);
            border-radius: 3px;
            background: #3d90d1;
            cursor: pointer;
        }
    }
}
