#eventListregion {
  flex: 30% 1;
  padding: 10px;
  background: rgba(255, 255, 255, 0);

  .eventList--wrap {
    background: var(--darkGrey);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: 100%;

    &:hover {
      overflow-y: scroll;
      cursor: pointer;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #abc123;
        border-radius: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }
  }

  h1 {
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
    i {
      color: #2b3a54;
    }
  }
  ul {
    margin: 20px 7px;
    padding: 0;
    display: inline-block;
    max-height: 500px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(16, 24, 38, 0.9);
    padding: 12px;
    border-radius: 15px;
    margin: 0 0 10px 0;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border: 2px solid transparent;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);

    h1 {
      color: var(--whiteHighEmp);
      font-size: 14px;
      padding: 0;
      font-weight: normal;
    }

    p {
      font-size: 13px !important;
      margin-bottom: 5px;
      color: #5b6472;
    }
    span {
      font-size: 21px !important;
      color: #e01059;
    }
  }
  li:last-child {
    border-left: 0;
    border-bottom: 0;
  }
}
