.btnViewGraph{
    background-color: #4E5D78;
    color: var(--whiteMediumEmp);

    &:hover{
        background-color: #5E7191;
    }
}

.coronaTableParams{
    display: flex;
}

.comment-label{
    font-weight: 600;
    text-align: center;
}

.btnViewComments{
    display: flex;
    align-items: center;
    justify-content: space-between;

    i{
        margin-left: 10px;
    }
}

#metaInfoData{
    &::-webkit-scrollbar{
        width: 2px;
        
    }

    &::-webkit-scrollbar-track{
        background: 'transparent';
    }
    
    &::-webkit-scrollbar-thumb{
        background-color: #ccc;
        border-radius: 5; 
    }
}

.highlight-icon{
    display: flex;
    i{
        font-size: 6px;
    }
}

.t-value{
    color: rgba(73, 54, 87, 1);
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    margin-left: 2px;
}

.highlight-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;;

    .new-cases{
        margin-right: 3px;

        .arrow-up{
            margin-right: 2px;
            i{
                font-size: 11px;
                color: #333;
            }
        }

        .new-cases-value{
            font-size: 11px;
            font-weight: bold;
        }
    }

    .t-value{
        font-size: 12px;
        color: rgb(108, 117, 125);
    }

    .case-percentage{
        font-size: 12px;
        margin-left: 3px;
        font-weight: 600;
        color: #6c757d;
    }
}

.thead--titles--wrapper{
    display: flex;
    align-items: center;
    p{
        margin-right: 10px;
    }
    i{
        display: none;
        color: var(--whiteMediumEmp);
        font-size: 11px;
    }
}

.msite-t-head{
    &:hover{
        i{
            display: block;
        }
    }
}