.userManagement{
    background: var(--backgroundSolid);
    margin: 15px;
    box-shadow: 0 3px 6px 0 #303030;
    border-radius: 5px;
}

.btn{
    &.btn--create{
        background-color: rgba(26,115,232,0.1);
        border-color: transparent;
        color: #1565cf;
        width: 145px;
        text-transform: uppercase;
        border-radius: 4px;
    }
}

.edit-details-modal{
    padding: 10px 15px !important;
    width: 600px;
}