#comingsoon {
  .comingsoon {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    justify-content: center;

    .comingsoon-animation {
      display: flex;
    }

    .fa-cog {
      animation-name: comingsoon-spin;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      color: var(--whiteDisabled);
    }

    .comingsoon-big {
      font-size: 200px;
      margin-bottom: 15px;
      animation-duration: 10s;
    }

    .comingsoon-small {
      font-size: 120px;
      align-self: flex-end;
      margin-left: -10px;
      animation-duration: 3s;
      animation-direction: reverse;
    }

    .comingsoon-text {
      color: var(--darkActive);
    }
  }
}
@keyframes comingsoon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
