#topBar{
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    // max-width: 128px;
    background: transparent;
    // height: 64px;
    width: 320px;
    margin-left: 80px;
    z-index: 996;
    // border-radius: 5px;
    // box-shadow: 1px 3px 12px 0 rgba(0,0,0,0.6);
    color: var(--whiteMediumEmp);
    display: flex;
    justify-content: space-around;
    align-items: center;
    // cursor: pointer;
    // padding: 15px 10px;

    .bar--items{
        display: flex;
        flex-direction: column;
        background: rgba(52, 73, 94, 0.9);
        padding: 10px;
        height: 100%;
        width: 100%;
        text-align: center;
        // line-height: 70px;
        border-radius: 3px;
        margin: 5px;
        cursor: pointer;

        &:hover{
            background: rgba(52, 73, 94, 1);
        }

        label{
            font-size: 12px;
            padding-top: 10px;
            cursor: pointer;
        }
    }
}

.metricsItem{
    text-align: center;

    i{
        font-size: 20px;
    }

    p{
        padding-top: 8px;
    }

    .metrics-icon--title{
        i{
            color: var(--whiteMediumEmp);
        }
    }
}