@import '../../../sass/globalVariables.scss';

#rimeCont {
  position: relative;
  background-color: var(--solidBackground);
  min-height: 92vh;
  overflow: hidden;
  padding: 7px;
  display: flex;
  flex-direction: row;
  max-height: 80vh;

  /* White Shadow */
  @-moz-keyframes white {
    0%,
    100% {
      -moz-box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
        inset 0px 0px 10px rgba(69, 82, 107, 0.5);
      box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
        inset 0px 0px 10px rgba(69, 82, 107, 0.5);
    }

    50% {
      -moz-box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
        inset 0px 0px 0px rgba(69, 82, 107, 0);
      box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
        inset 0px 0px 0px rgba(69, 82, 107, 0);
    }
  }

  @-webkit-keyframes white {
    0%,
    100% {
      -webkit-box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
        inset 0px 0px 10px rgba(69, 82, 107, 0.5);
      box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
        inset 0px 0px 10px rgba(69, 82, 107, 0.5);
    }

    50% {
      -webkit-box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
        inset 0px 0px 0px rgba(69, 82, 107, 0);
      box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
        inset 0px 0px 0px rgba(69, 82, 107, 0);
    }
  }

  @-o-keyframes white {
    0%,
    100% {
      box-shadow: 1px 0px 19px 4px rgba(69, 82, 107, 0.7),
        inset 0px 0px 10px rgba(69, 82, 107, 0.5);
    }

    50% {
      box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
        inset 0px 0px 0px rgba(69, 82, 107, 0);
    }
  }

  @keyframes white {
    0%,
    100% {
      box-shadow: 1px 0px 7px 2px rgba(69, 82, 107, 0.7),
        inset 0px 0px 6px rgba(69, 82, 107, 0.5);
    }

    50% {
      box-shadow: 0px 0px 0px 0px rgba(69, 82, 107, 0),
        inset 0px 0px 0px rgba(69, 82, 107, 0);
    }
  }
  .row1 {
    width: 26%;
    height: 100%;
    .header {
      display: flex;
      flex-direction: row;
      .headerFilter {
        z-index: 999;
      }
      .header__title {
        width: 100%;
        height: 73px;
        position: relative;
        border-radius: 0px;
        background-color: var(--cardBackground);
        margin-left: 0px;
        color: white;
        padding-left: 25px;
        .number {
          color: var(--highlightText) !important;
          text-align: center;
          font-size: calc(30px + 1vmin);
        }
        .title {
          color: var(--highlightText) !important;
          text-align: center;
          font-size: calc(4px + 1vmin);
        }
      }
      .header__title::after {
        content: '';
        position: absolute;
        width: 82px;
        height: 82px;
        top: -7%;
        left: -6%;
        border-radius: 50%;
        transform: rotate(45deg);
        background-color: var(--lightTransparent);
      }
    }
  }
  .row2 {
    width: 46%;
    height: 100%;
    padding: 0px 7px;
    .row2--map {
      height: 50%;
    }
    .row2__subRow {
      display: flex;
      flex-direction: row;
      margin-top: 7px;
      height: 35vh;
      .topEvents {
        width: 65%;
        background-color: var(--darkBackground);
        .header {
          color: var(--highlightText) !important;
          text-align: center;
          font-size: calc(6px + 1vmin);
          padding: 10px 0px 0px 0px;
        }
      }
      .numberStats {
        width: 35%;
        margin-left: 7px;
      }
    }
  }
  .row3 {
    width: 28%;
    height: 100%;
  }
}

.rime__body {
  display: flex;
  min-height: 100vh; // temp for creating skeleton remove later
  margin-top: 15px;
}

.live__list__wrap {
  flex: 1;
}

.map__wrap {
  flex: 2;
}

.meta_list_wrap {
  flex: 1;
}

.head__wrap {
  background: black;
  height: 50px;
}

.tab__wrap {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  min-height: 50px;
}

.tab__wrap__inner {
  display: flex;
  justify-content: space-between;
}

.metaInfo {
  min-height: 50px;
  background: #fff;
  border-radius: 5px;
  margin: 10px;
}

.timelineCont {
  background: #fff;
  margin: 10px;
  min-height: 100vh;
  border-radius: 5px;
}

.home--icon {
  position: absolute;
  top: 0;
  z-index: 999;
  right: 10px;
  background: rgba(0, 0, 0, 0.35);
  color: var(--whiteMediumEmp);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 10px;

  & i {
    color: var(--whiteMediumEmp);
    line-height: 40px;
  }
}

.rime__filter {
  position: absolute;
  top: 10px;
  left: 63%;
  transform: translateX(-50%);
  background: var(--darkGrey);
  z-index: 999;
  width: 58px;
  height: 58px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.6);

  & i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--whiteMediumEmp);
    font-size: 16px;
  }
}

.rimeLiveMonitor {
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.rimeTopbar {
  position: relative;
  z-index: 3;
  background-color: #111826;
  display: flex;
  justify-content: flex-end;
}

.rimeMap {
  position: relative;
  width: 100%;
  z-index: 1;
}
.rimeList {
  width: 100%;
  height: 100%;
  position: relative;
  right: 0;
  background-color: var(--eventCardBackground) !important;
}

.gutter {
  background: blue;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.gutter {
  cursor: url('../../../assets/icons/slider-icon.svg');
  border: '3px dotted dashed solid double #999';
  background: #707a81 !important;
  transition: opacity 250ms ease-in-out;
  position: relative;
}
.gutter:hover {
  opacity: 0.8;
}
.gutter.gutter-horizontal {
  background-image: url('../../../assets/icons/slider-icon.svg');
  cursor: url('../../../assets/icons/slider-icon.svg');
}

@media screen and (min-width: 200px) and (max-width: 1240px) {
  #rimeCont {
    .row1 {
      width: 26%;
      height: 100%;
      .header {
        display: flex;
        flex-direction: row;
        .headerFilter {
          z-index: 999;
        }
        .header__title {
          width: 100%;
          height: 65px;
          position: relative;
          border-radius: 0px;
          background-color: var(--darkBackground);
          margin-left: 0px;
          color: white;
          padding-left: 25px;
          .number {
            color: var(--highlightText) !important;
            text-align: center;
            font-size: calc(25px + 1vmin);
          }
          .title {
            color: var(--highlightText) !important;
            text-align: center;
            font-size: calc(4px + 1vmin);
          }
        }
        .header__title::after {
          content: '';
          position: absolute;
          width: 74px;
          height: 74px;
          top: -7%;
          left: -6%;
          border-radius: 50%;
          transform: rotate(45deg);
          background-color: var(--lightTransparent);
        }
      }
    }
    .row2{
      .row2__subRow{
        height: 33vh;
      }
    }
  }
}
@media screen and (min-width: 1920px) {
  #rimeCont {
    .row2{
      .row2__subRow{
        height: 37vh;
      }
    }
    .row1 {
      width: 26%;
      height: 100%;
      .header {
        display: flex;
        flex-direction: row;
        .headerFilter {
          z-index: 999;
        }
        .header__title {
          width: 100%;
          height: 116px;
          position: relative;
          border-radius: 0px;
          background-color: var(--cardBackground);
          margin-left: 0px;
          color: white;
          padding-left: 25px;
          .number {
            color: var(--highlightText) !important;
            text-align: center;
            font-size: calc(45px + 1vmin);
          }
          .title {
            color: var(--highlightText) !important;
            text-align: center;
            font-size: calc(10px + 1vmin);
          }
        }
        .header__title::after {
          content: '';
          position: absolute;
          width: 100px;
          height: 100px;
          top: -7%;
          left: -6%;
          border-radius: 50%;
          transform: rotate(45deg);
          background-color: var(--lightTransparent);
        }
      }
    }
  }
}