#covidDashboard {
  background-image: url('./assets/corona-bg.svg');
  position: relative;
  background-attachment: fixed;

  // css global for dashboard
  span {
    // font-size: inherit !important;
  }

  .bannerTitleCont {
    h1 {
      span {
        font-size: 20px !important;
      }
    }
  }

  #covidBanner .ratingCont .rating-inner-cont p {
    font-size: 23px !important;
  }

  #covidBanner .totalCasesCont .total-cases-title {
    font-size: 17px !important;
    line-height: 20px;
  }

  #covidBanner .totalCasesCont .total-cases-counter {
    font-size: 64px !important;
  }

  #covidBanner .totalCasesCont .total-cases-per {
    font-size: 21px !important;
    line-height: 23px;
  }

  .metrics-box .metrics--total {
    font-size: 27px !important;
    line-height: 30px;
  }

  #covidDisclaimer .disclaimer--title,
  #covidDisclaimer .disclaimer--subtitle {
    font-size: 0.9rem !important;
    //font-weight: bold !important;
  }
}
.loginCovidDashWrap{
  background-image: url('./assets/loginBg.png');
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
  background-size: cover;

  .loginBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    .logoWrap {
      img {
         width: 120px;
         margin-bottom: 25px;
      }
    }
    h1 {
      font-weight: normal;
      font-size: 25px !important;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px; 

      a { color:#a9bf42 ;}
    }
  }
}