.btnViewGraph{
    background-color: #4E5D78;
    color: var(--whiteMediumEmp);

    &:hover{
        background-color: #5E7191;
    }
}

.coronaTableParams{
    display: flex;
}

.comment-label{
    font-weight: 600;
    text-align: center;
    padding-top: 0 !important;
    label{
        color: var(--whiteMediumEmp);
        background: rgba(0, 0, 0, 0.7);
        border-radius: 5px;
        padding: 14px;
        display: block;
    }
}

.btnViewComments{
    display: flex;
    align-items: center;
    justify-content: space-between;

    i{
        margin-left: 10px;
    }
}

#metaInfoData{
    // border: 1px solid #bcc0c4;
    // background: rgba(188, 192, 196, 0.1);
    &::-webkit-scrollbar{
        width: 0px;
    }

    &::-webkit-scrollbar-track{
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb{
        background-color: #ccc;
        border-radius: 5px;
    }
}

.highlight-icon{
    display: flex;
    i{
        font-size: 6px;
    }
}

.t-value{
    color: rgba(73, 54, 87, 1);
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    margin-left: 2px;
}

.highlight-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;;

    .new-cases{
        margin-right: 3px;

        .arrow-up{
            margin-right: 2px;
            i{
                font-size: 11px;
                color: #333;
            }
        }

        .new-cases-value{
            font-size: 11px;
            font-weight: bold;
        }
    }

    .t-value{
        font-size: 12px;
        color: rgb(108, 117, 125);
    }

    .case-percentage{
        font-size: 12px;
        margin-left: 3px;
        font-weight: 600;
        color: #6c757d;
    }
}

.thead--titles--wrapper{
    display: flex;
    align-items: center;
    p{
        margin-right: 10px;
    }
    i{
        display: none;
        color: var(--whiteMediumEmp);
        font-size: 11px;
    }
}

.msite-t-head{
    &:hover{
        i{
            display: block;
        }
    }
}

.stateMeta--info{
    // border: 1px solid #bcc0c4;
    background: #fff;
    padding: 0;
    border-radius: 3px;
    margin-left: 10px;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar-track{
        background: transparent !important;
    }

    &::-webkit-scrollbar{
        width: 0px;
    }
}

.implementedMeasures{
    li, p, span{
        color: #666;
        font-size: 12px;
        line-height: 16px;
    }

    a{
        color: #5D9AEE;
    }

    ul{
        // list-style: none;
        padding-left: 20px;
    }

    li{
        padding: 5px;
        &:nth-child(odd){
            background: #f1f1f1;
        }
    }
}

a.resources{
    font-size: 14px;
    color: #5D9AEE;
    word-break: break-all;
    margin-bottom: 10px;
    display: block;
}

.boxes--internal{
    label{
        background: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.6);
    }
}

.box--wrapper{
    background: #fff;
    margin-left: 5px;
    padding: 0;
}

.no-pd{
    padding-bottom: 0 !important;
}