#topEvents {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  z-index: 9;
  display: flex;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
  border-radius: 8px;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.25);
  transition: 0.4s all ease-in-out;
  min-height: 61px;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .totalEvents {
    font-size: 1.25rem !important;
    color: var(--primaryDark);
    font-weight: normal;
  }
}
