.shimmer{
    min-height: 90px;
    border-radius: 5px;
    background: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
}

.line{
    padding: 8px;
    width: 80%;
    border-radius: 3px;
    background: #2D2C45;
    margin-bottom: 10px;
    opacity: 0.2;
}

.line-2{
    padding: 8px;
    width: 50%;
    border-radius: 3px;
    background: #2D2C45;
    opacity: 0.2;
}