#mapWrapper {
  position: relative;
}

.sliderWrapper {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.alert--title {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.s--icon {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 10px 0 0;
  text-align: center;
  // border: 1px solid #333;
  opacity: 1;

  i {
    font-size: 24px;
    color: #333;
  }

  img {
    width: 24px;
  }
}

.icon-uniE9E7 {
  color: var(--whiteMediumEmp);
  font-size: 18px;
  font-weight: 600;
}

.update__item {
  padding: 0;
  // border-bottom: 1px solid #f1f1f1;
  &:nth-child(even) {
    background-color: rgba(241, 241, 241, 0.5);
  }

  .update--title {
    padding: 4px 15px;
    font-weight: normal;
  }
}

.updates--outer {
  ul {
    margin: 0;
    list-style: none;
    padding: 0;

    h2 {
      border-bottom: 0;
      font-weight: normal;
    }

    p {
      text-align: left;
      padding: 5px 15px;
    }
  }
}

#liveListPortal {
  position: absolute;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  max-width: 320px;
  padding: 10px;
  right: 0;

  &:hover {
    overflow-y: scroll;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--whiteMediumEmp);
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5px;
  }
}

#liveUpdatePortal {
  position: absolute;
  bottom: 15px;
  right: 330px;
  height: auto;
  max-height: 300px;
  overflow: hidden;
  width: 300px;
  z-index: 9;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
  }

  &:hover {
    overflow: scroll;
  }
}

.filterIcon {
  width: 20px;
}

#liveWatchList{
  position: absolute;
  top: 55px;
  left: 10px;
  height: 100vh;
  width: 30%;
  z-index: 999;
  overflow-y: auto;
}
