#filterModal {
  background: var(--darkGrey);
  .filterModal__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 15px;
    align-items: center;
  }

  &.modal__inner {
    min-width: 1000px;
    max-width: 1000px;
  }

  h1 {
    color: var(--whiteHighEmp);
    font-size: var(--font-size-h1);
  }

  .btn--close {
    background: transparent;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.47);
    font-weight: normal;
    border: none;
    padding: 0 10px;

    &:hover {
      background: var(--lightGrey);
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .filterModal__body {
  }

  .filterModal__footer {
    // border-top: 1px solid rgba(255,255,255, 0.2);
    // padding: 10px;
  }

  .filterModal__filtersWrapBox {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
  }

  .filtersWrapBox__box {
    height: auto;
    width: 240px;
    min-height: 240px;
    padding: 15px;
    border-radius: 5px;
    //box-shadow: 0px 0 10px 1px rgba(0,0,0,0.6);
    background: rgba(0, 0, 0, 0.3);
    max-height: 240px;
    max-width: 240px;
    overflow-y: scroll;
    margin-bottom: 15px;

    &::-webkit-scrollbar {
      width: 3px !important;
    }

    &::-webkit-scrollbar-track {
      background: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--lightWhite) !important;
      border-radius: 5px !important;
      min-height: 1px;
      max-height: 1px;
    }
  }
}

.riskTracker__infoCont {
  display: flex;
  .riskTracker__boxes {
    display: flex;
    max-width: 256px;
    max-height: 128px;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
  }

  .box__one {
  }
  .box__two {
  }

  .alert--title {
    padding-bottom: 10px;
  }
}

// pulse effect

@keyframes pulsate {
  from {
    transform: scale(0.25);
    opacity: 1;
  }
  95% {
    transform: scale(5.5);
    opacity: 0;
  }
  to {
    transform: scale(0.3);
    opacity: 0;
  }
}

div[title='isLive'] {
  animation: pulsate 3.5s ease-in-out infinite;
  height: 51px;
  width: 51px;
  border-radius: 50%;
  background: rgba(206, 255, 26, 0.4);
  // disable live pulse on pins
  display: none;
}

#rimeUserSettings {
  max-width: 280px;
  background: var(--darkGrey);
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 100px;

  .userSettings__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    h1 {
      color: var(--whiteHighEmp);
    }
  }

  .userSettings__body {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .userSettings__footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .btnLogout {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #fff;
    background: transparent;
    color: var(--whiteMediumEmp);
    cursor: pointer;
  }

  .userSettings_toggles {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .userSettings__label {
    color: var(--whiteMediumEmp);
  }
}

.drawer_header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: var(--whiteHighEmp);
  position: relative;
  background: var(--backgroundSolid);

  .close_drawer--btn {
    cursor: pointer;
  }
}
