@import '../../../../sass/globalVariables.scss';

.card--description {
  display: flex;
  flex-direction: column;
  padding-left: 23px;
  .card--divider {
    height: 10px;
    width: 90%;
    background: none;
  }
  .card--link {
    color: var(--link);
  }
  .card--goToEvent {
    margin: 0;
    color: var(--reverseBackgroundSolid);
    margin-right: 1.5vw;
  }
}

#rime__liveMonitor__eventCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(129, 144, 153, 0.5);
  .rime__liveMonitor__eventCardList {
    background: var(--cardBackground) !important;
    border-radius: 0px 0px 0px 0px;
  }
  .rime__liveMonitor__eventCardList:hover {
    background: var(--cardBackground) !important;
    border-radius: 0px 0px 0px 0px;
    width: 100%;
  }
  .liveMonitor__header {
    display: flex;
    align-items: center;
    margin: 10px 10px 5px 10px;
    justify-content: space-between;
  }
  .liveMonitor__pill {
    background-color: white;
    display: flex;
    align-items: center;
    min-height: 20px;
    padding: 1px 5px;
    border-radius: 4px;
    &.low {
      background-color: var(--globalLightLow);
    }
    &.medium {
      background-color: var(--globalLightMedium);
    }
    &.high {
      background-color: var(--globalLightHigh);
    }
  }
  .liveMonitor__cat__pill {
    color: #111826;
    font-size: calc(5px + 0.4vmin) !important;
    .liveMonitor__cat__pill_space{
      margin-right: 2px;
    }
  }
  .liveMonitor__card__innercolumn {
    display: flex;
    justify-content: space-between;
    .rime__liveMonitor__eventDate {
      color: var(--highlightText) !important;
      font-weight: normal;
      padding: 0px 0;
      font-size: calc(5px + 0.4vmin) !important;
      display: inline;
    }
    .rime__liveMonitor__eventDate::after {
      content: '';
      height: 100%;
      border-left: 1px solid var(--whiteHighEmp);
      margin: 0px 5px;
    }
    .rimeupdate__liveMonitor__date {
      font-size: calc(5px + 0.4vmin) !important;
      color: var(--highlightText) !important;
    }
  }
  .liveMonitor__card__row1 {
    display: flex;
    flex-direction: row;
    .liveMonitor__card__innercolumn1 {
      width: 30%;
      min-width: 30%;
      height: 100%;
      min-height: 100%;
      margin-right: 7px;
      .liveMonitor__event__img {
        width: 100% !important;
        min-height: 100% !important;
        height: 100% !important;
        border-radius: 10px;
      }
    }
    .liveMonitor__card__innercolumn2 {
      width: 100%;
      height: 100%;
    }
  }
  .liveMonitor__card__row2 {
    .liveMonitor__card__innercolumn {
      display: flex;
      justify-content: space-between;
    }
  }
  .liveMonitor_row_2 {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    .liveMonitor__eventbody__subHead {
      font-size: calc(3px + 1vmin) !important;
      line-height: 1.25 !important;
      padding-top: 3px;
      font-weight: 500 !important;
      color: var(--highlightText) !important;
      display: inline;
    }
    .liveMonitor__eventbody__location_wrap {
      color: var(--highlightText) !important;
      font-weight: normal;
      padding: 0px 0;
      font-size: calc(3px + 1vmin) !important;
      display: inline;
    }
    .liveMonitor__eventbody__location_wrap::after {
      content: '';
      height: 100%;
      border-left: 1px solid;
      margin: 0px 5px;
    }
    .liveMonitor__eventbody__wrap {
      color: var(--highlightText) !important;
      font-weight: normal;
      padding: 0px 0;
      font-size: calc(3px + 1vmin) !important;
      display: inline;
      div.liveMonitor__eventbody__wrap {
        line-height: 1.2 !important;
      }
    }
  }
  .liveMonitor__eventtitle__wrap {
    color: var(--highlightText) !important;
    font-weight: normal;
    padding: 0px 0;
    font-size: calc(7px + 1vmin) !important;
  }
  div.liveMonitor__eventtitle__wrap {
    line-height: 1.6 !important;
  }
  .liveMonitor__eventbody__wrap {
    color: var(--highlightText) !important;
    font-weight: normal;
    padding: 0px 0;
    font-size: calc(4px + 1vmin) !important;
    display: inline;
  }
  .liveMonitor__description {
    padding-top: 10px;
    line-height: 1;
  }
  .liveMonitor__card_footer {
    display: flex;
    justify-content: space-between;
  }
  .liveMonitor__article__content__pill {
    background-color: var(--pillColour);
    display: flex;
    border-radius: 4px;
    padding: 0px 7px;
    align-items: center;
    cursor: pointer;
  }
  .liveMonitor__article__content__pill:hover {
    background-color: #aac142;
    cursor: pointer;
  }
  .liveMonitor__eventbody__Head {
    font-size: calc(3px + 1vmin) !important;
    line-height: 1.25 !important;
    padding-top: 3px;
    font-weight: 500 !important;
    color: white !important;
    display: inline;
  }
  .tagsIcon,
  .eyeIcon {
    width: 13px !important;
    color: white !important;
  }
  .liveMonitor__rime__tags {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
    margin-bottom: 2px;
    display: -webkit-box; //do not remove this line as it makes tags in 2 line
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    span {
      margin-right: 5px;
      color: var(--captionTextColour);
      line-height: 1.05rem;
      font-size: calc(2px + 1vmin) !important;
      padding: 3px 7px;
      border-radius: 4px;
    }
  }
}

.css-1qaznj3-MuiCardContent-root {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}
.new__events {
  background-color: #acc344 !important;
  font-size: calc(2px + 1vmin) !important;
  padding: 3px !important;
  color: #142344;
  font-weight: 200 !important;
  border-radius: 4px !important;
}
.eventcard-space {
  padding-bottom: 20px;
  background-color: none !important;
}
.rime__space {
  padding-bottom: 2px;
}
.anchor__text {
  color: var(--link);
  font-size: calc(3px + 1vmin) !important;
}
