.icon__wrap{
    margin-right: 15px; 
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    // flex-basis: 100px;
}

.list__item{
    align-items: center;
    cursor: pointer;

    i{
        color: #666;
    }
}

.title__wrap{
    flex: 300px;
}

.btn__wrap{
    // flex: 100px;
    button{
        text-transform: capitalize;
        color: #666;
        // font-weight: 600;
        cursor: pointer;
        font-size: 12px;
        background: #f1f1f1;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        padding: 5px;
    }
}