@import '../../../../../sass/Barclays/css-variables.css';

#bodyWrapperBarclays {
}
.left-grid {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: var(--leftWidth);
  color:  var(--whiteHighEmp);
  background: var(--primaryDark);

  img {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    opacity: 0.1;
  }
}
.right-grid {
  position: relative;
  left: var(--leftWidth);
  width: calc(100% - var(--leftWidth));
  min-height: 85vh;
  padding: 15px;
  color: #000;
  background: var(--backgroundSolid);
  top: 64px;
}
.border-left {
  border-left: 1px solid #eee;
  background: var(--whiteBackground) !important;
}
#createEvent__Modal {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  min-width: var(--modal-min-width);
  max-width: var(--modal-max-width);
  max-height: var(--modal-max-height);
  transform: translate(-50%, -50%);
  outline: none;
}

#uploadEventImgModal {
  max-width: 280px;
  background: var(--darkGrey);
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 100px;

  .uploadEventImgModal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    h1 {
      color: var(--whiteHighEmp);
    }
  }

  .uploadEventImgModal__body {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .btn-submit {
      color: var(--whiteHighEmp); 
      background-color: var(--primarylight);
      margin-top: 15px;
      float: right;
      padding: 6px 8px;
      font-size: 0.875rem;
      min-width: 64px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }
  }

  .uploadEventImgModal__label {
    color: var(--whiteMediumEmp);
  }
}
