.boxIsEmpty{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 64px;
    }

    p{
        color: #666;
        padding-top: 10px;
        font-size: 16px;
    }
}