$numDots: 20;
$parentWidthBase: 0.8;
$parentWidth: 500px;
$parentMaxWidth: 1000px;
$dotWidth: 25px;
$dotWidthSm: 17px;
$active: var(--darkActive);
$inactive: #b5b5b5;

.timeline-wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 0;
  width: $parentWidth;
  margin: 0 auto;

  .period--label {
    position: absolute;
    top: 32px;
    left: 70%;
    display: inline-block;
    width: 100px;
    padding: 4px;
    color: var(--whiteMediumEmp);;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
  }
  .period.active {
    background: $active;
    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      width: calc(500px / 4);
      background: $active;
    }
  }

  .period {
    cursor: pointer;
    width: $dotWidth;
    height: $dotWidth;
    border-radius: 50%;
    background: $inactive;
    position: relative;

    &.active {
      .period--label {
        color: $active;
        width: auto;
        display: inline-block;
        font-weight: 500;
      }
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 4px;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      width: calc(500px / 4);
      background: $inactive;
    }

    &::before {
      // left: 50%;
    }

    &:last-child {
      &::after,
      &::before {
        display: none;
      }
    }
  }
}
