#covidBanner{
    padding-bottom: 50px;

    .bannerTitleCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img{
        width: 32px;
    }

    h1{
        font-size: 20px;
        color: var(--whiteMediumEmp);
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        
        span{
            margin-right: 10px;
        }
    }

    p{
        color: var(--whiteMediumEmp);
        font-size: 0.8rem;
        opacity: 0.8;
        font-weight: bold;
    }

    .totalCasesCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px;

        .total-cases-title{
            font-size: 20px;
        }

        .total-cases-counter{
            font-size: 64px;
            color: rgba(255,255,255,1);
            opacity: 1;
        }

        .total-cases-per{
            font-size: 25px;

            i{
                padding-right: 5px;
            }
        }
    }

    .ratingCont{
        display: flex;
        max-width: 600px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 10px;

        .rating-inner-cont{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;    

            &:nth-child(1){
                border-right: 1px solid rgba(0,0,0,0.2);
            }

            .text-white{
                color: var(--whiteMediumEmp);
                padding-bottom: 10px;
                font-size: 20px;
                font-weight: normal;
            }

            p{
                color: var(--whiteMediumEmp);
                font-size: 23px;
                opacity: 1;
                font-weight: normal;
            }

            span{
                opacity: 0.9;
                font-weight: normal;
            }
        }
    }
}