$transGrey: rgba(0, 0, 0, 0.2);
@import '../../../../../../sass/Barclays/css-variables.css';

.active {
  background-color: $transGrey;
}

.barclayEventList {
  padding: 0;
  margin: 0;
  padding-top:25px;
  li {
    padding: 15px 25px;
    color: var(--whiteHighEmp); 
    cursor: pointer; 
    list-style:none;

    .list__icon {
      margin-right: 10px;
      color: var(--whiteHighEmp); 
    }

    &:hover {
      background-color: $transGrey;
    }
  }
}
