#locationDistribution {
  background-color: var(--darkGrey);
  .locationDistribution--wrap {
    padding: 15px 0;
    h1 {
      color: var(--whiteMediumEmp);
      font-size: 17px !important;
      font-weight: 100 !important;
      text-align: center;
      margin-bottom: 10px;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        color: var(--whiteHighEmp); 
        float: left;
        text-align: center;
        padding: 7px;
        width: 100%;
        position: relative;

        small {
          position: absolute;
          bottom: -10px;
          left: 0;
          font-size: 9px;
          color: rgba(0, 0, 0, 0.6);
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
