#dashboard{
    display: flex;

    .left__dash{
        flex: 2;
    }

    .right__dash{
        flex: 1;
    }

    .ulist__title{
        text-align: left;
        padding-left: 15px;
        font-size: 15px;
        color: var(--whiteMediumEmp);
    }
}