@import '../../../sass/globalVariables.scss';

#verticleTimeline {
  padding: 15px 30px;
  .verticleTimeline-header {
    color: var(--whiteMediumEmp);
  }

} 
.timeline {
  border-left: 4px solid var(--whiteDisabled);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 200px;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 90%;

  h3 {
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.75rem;
    color: var(--whiteMediumEmp);
    margin-bottom: 15px;
  }
  img {
    width: 50%;
  }

  .date {
    border-bottom: 1px dashed fade(white, 10%);
    padding-bottom: (50px * 0.5);
    margin-bottom: 50px;
    position: relative;
    color: var(--whiteMediumEmp);

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      top: 0;
    }

    &:before {
      left: (((120px * 0.6) + 50px + 4px + 11px + (4px * 2)) * 1.5) * -1;
      color: fade(white, 40%);
      content: attr(data-date);
      text-align: left;
      min-width: 138px;
      border-bottom: 5px solid var(--darkActive);
      border-radius: 0 15px 15px 0;
      padding: 0px 15px;
    }

    &:after {
      box-shadow: 0 0 0 4px fade(#4298c3, 100%);
      left: (50px + 4px + (11px * 0.35)) * -1;
      background: lighten(#abc123, 5%);
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: '';
      top: 5px;
    }
  }
}
