$blue: var(--backgroundSolid);
$headerBg: $blue;

.tab-panel-cont{
    // border-radius: 10px;
    // border
    .tab-header{
        background: $headerBg;
        color: var(--whiteMediumEmp);
        text-align: center;
        font-size: 0.6em;
        font-weight: normal;
        padding: 13px;
        text-transform: capitalize;
        letter-spacing: 0.1em;
        border-radius: 5px 5px 0 0;
    }

    .tab-body{
        border: 0.01em solid $blue;
        padding: 10px;
        max-height: 400px;
        min-height: 400px;
        overflow: auto;
        border-radius: 0 0 5px 5px;
        background: var(--backgroundSolid);
    }

    .tab-body-cont{
        padding: 10px;

    }
}