#riskDistribution {
  height: 35vh;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  max-width: 50%;
  padding: 10px;
  bottom: 0;
  right: 25%;
  background: rgba(255, 255, 255, 0);

  &:hover {
    overflow-y: scroll;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primarylight);
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5px;
  }

  .dailyTotal--wrap {
    background: rgba(6, 14, 27, 0.95);
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: auto;
  }

  h1 {
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;

    i {
      color: #2b3a54;
    }
  }

  .riskLevel--wrap {
    margin-bottom: 15px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5px;
  }
  .riskLevel--wrap {
    margin-bottom: 15px;
  }
}
