#topNav {
  min-height: 60px;
  background: var(--backgroundSolid);
  border-bottom: 1px solid #3d4a5f;
  display: flex;

  .leftWrap {
    // background: tomato;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .temp-logout {
    margin-left: 15px;
    margin-right: 8px;
    color: var(--whiteMediumEmp);
    font-size: 14px;
    text-transform: capitalize;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .rightWrap {
    // background: pink;
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .icon__wrap {
    position: relative;
    padding: 10px;
    line-height: 0;

    .notify {
      position: absolute;
    }
  }

  .profileOptions {
    display: flex;
    margin: 0 30px;
    align-items: center;

    .user__profile {
      margin-right: 10px;
      //background: #f1f1f1;
      //border: 1px solid #d3d3d3;
      height: 32px;
      width: 32px;
      display: block;
      line-height: 32px;
      border-radius: 50%;
      text-align: center;
    }

    .user__name {
      margin-right: 15px;
    }
  }

  i {
    color: var(--whiteMediumEmp);
  }

  p {
    color: var(--whiteMediumEmp);
    font-size: 13px;
  }
}
