.accordionWrap {
  cursor: pointer;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
  background: rgba(0, 0, 0, 0.3);
}

.accordion__title {
}

.accordion__icon {
  i {
    color: var(--whiteMediumEmp);
  }
}
