.metaWrappers{
    display: flex;

    .meta-child-box{
        margin: 0 5px 0 0;

        &.one{
            flex: 1.9;
            div{
                height: 100%;
                max-height: 80px;
            }
        }

        &.two{
            flex: 1;
            margin-right: 0;

            div{
                height: 100%;
                max-height: 80px;
            }
        }

        &.map-btn-box{
            flex: 0.3;
            button{
                position: relative;
                height: 100%;
                max-height: 80px;
                margin: 10px 10px 0 0;
                padding: 26px 0;
                border-radius: 3px;
                cursor: pointer;
                // height: auto;
                background: rgba(17, 50, 85, 0.1);
                width: 100%;
                border: 1px solid rgba(17, 50, 85, 1);
                color: rgba(17, 50, 85, 0.91);
                font-weight: 700;
                text-transform: uppercase;
                font-size: 13px;

                &:hover{
                    background: rgba(17, 50, 85, 0.2);
                }

                i{
                    margin-right: 5px;
                }
            }
        }
    }
}

.download-district-covid{

    padding: 0;

    .c-mg-10{
        margin-left: 10px;
    }

    .rootBtnPdf{
        background-color: rgba(29, 53, 87, 1);
        &:hover{
            background-color: rgba(29, 53, 87, 0.8);
        }
    }

    .rootBtnExcel{
        background-color: rgba(112, 193, 179, 1);
        &:hover{
            background-color: rgba(112, 193, 179, 0.8);
        }
    }

    .rootBtnSummary{
        background-color: rgba(69, 123, 157, 1);
        &:hover{
            background-color: rgba(69, 123, 157, 0.8);
        }
    }

    .downloadBtns{
        font-size: 13px;
        min-width: 32px;
        margin: 5px;

        & i{
            margin: 0;
        }
    }
}