@media screen and (min-width: 320px) and (max-width: 1024px){

    #stats-covid-19, #covid-map-filter{
        display: none;
    }

    .meta-child-box{
        margin: 0;
    }

    .map-btn-box{
        margin: 0 10px !important;

        button{
            margin-top: 0 !important;
        }
    }

    .box--wrapper{
        margin: 0;
    }

    .comment-label{
        label{
            padding: 10px;
        }
    }

    .boxWrapperRight{
        flex-direction: column;
    }

    .stateMeta--info{
        margin: 3px;
        border-radius: 3px;
        padding: 0;
        height: 400px !important;
        max-height: 400px !important;
    }

    .modal__inner.corona-advisory-list{
        width: 300px !important;
        max-width: 300px !important;
    }

    .corona-advisory--list{
        max-width: 300px !important;
        max-height: 400px !important;
    }

    body{
        // overflow: auto;
    }

    .metaWrappers{
        flex-direction: column;
    }

    .corona-adv-btn{
        margin: 10px !important;
    }

    #coronaDashboardPage{

        .cta-g{
            padding: 3px 1px;
        }

        .root-state-table-wrapper{
            padding: 5px 1px 5px 1px;
        }

        .flx-xs{
            flex: 0.3;
        }

        .msite-t-head{
            padding: 10px 2px;
            margin: 0;
            border-radius: 0;
            p{
                font-size: 10px;
            }

            .t-value{
                font-size: 10px;
            }

            .case-percentage{
                font-size: 10px;
            }
        }

        #rootTableList{
            max-height: calc(100vh - 10px);
            height: calc(100vh - 10px);
            overflow-y: scroll;
        }

        background: red;

        /* app bar */
        .rootAppBar{
            
        }
        /* root toolbar */
        .rootToolbar{
            flex-direction: column;
            padding: 5px;
        }

        .logo-wrapper{
            flex-direction: column;
            margin: 10px;
            img{
                margin-bottom: 10px;
                width: 128px;
            }
            h1{
                font-size: 12px;
                text-align: center;
                display: flex;
                flex-direction: column;
                font-weight: 600;
            }
        }

        .typography{

        }

        .root-boxes{
            max-height: 100%;
            height: 100%;
            flex-direction: column;

            .box-one{
                max-height: 100%;
                height: 100%;
                margin-top: 10px;

                .infoGraphCorona{

                }
            }

            .box-two{
                flex-direction: column;
                height: 100%;
                max-height: 100%;

                .graph-box-one{
                    margin: 0 15px 15px;
                }
            }
        }
        
        .root-state-table-wrapper{
            .coronaTableParams{
                flex-direction: column;
            }
        }
    }

    #metaInfoData{
        height: 100% !important;
    }

    .box-one-coronaTable{
        max-height: 400px;
        // overflow-y: scroll !important;
    }

    .select--label{
        text-align: center;
        font-weight: 600;

    }

    .meta-child-box .map-btn-box{
        // margin: 0 10px !important;
    }

    #metaInfoData{
        background-color: transparent;
        // margin-top: 10px;
        box-shadow: none;
        overflow: auto;
    }

    .box-one-coronaTable{
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .graph-wrappers{
        background-color: var(--whiteMediumEmp);
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 10px !important;
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    }

    #coronaDashboardPage{
        .metaWrappers .meta-child-box.one div{
            max-height: 100% !important;
        }

        .meta-child-box .map-btn-box button{
            // margin: 10px !important;
        }
    }
}

@media screen and (max-width: 786px){
    #coronaDashboardPage{
        .rootAppBar{
            button{
                display: none;
            }
        }

        .infoGraphCorona{
            flex-basis: 45%;
        }

        .download-district-covid{
        
            .downloadBtns{
                display: flex;
                flex-direction: column;
                font-size: 12px;
                min-width: 32px;
                margin: 5px;
        
                & i{
                    margin: 0;
                }

                .hide-sm{
                    display: none;
                }
            }
        }
    }

   #mFilter{
       display: block;
   }

   #mstats-covid-19{
        display: block;
    }
}

@media screen and (min-width: 787px){
    #mFilter{
        display: none;
    }

    #mstats-covid-19{
        display: none;
    }
}

body{
    #covidDashboard{
        overflow: auto;
    }
}