@import '../components/GMap/sass/mapApi.scss'; 

.clientWrap {
    &.light {
        background-color: #F2F2F2;
        min-height: 100vh;
    }
}

.pulse{
    z-index: -100;
}

.pulse:after,
.pulse:before{
    content: '';
    position: absolute;
    border-radius: 50%;
    background: rgba(206, 255, 26, 0.4);
    left: -20px;
    top: -20px;
    bottom: -20px;
    right: -20px;
    opacity: 0;
    animation: pulse 3.5s linear infinite;
}

.pulse:after{
    animation-delay: 2s;
}

.pulse--effect:after,
.pulse--effect:before{
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 1px solid #222;
    // background: rgba(0, 0, 0, 0.2);
    background: #BC2C1A;
    left: -3px;
    top: 1px;
    width: 10px;
    height: 10px;
    transform: translate(-50%,-50%);
    // bottom: -5px;
    // right: -5px;
    opacity: 0;
    animation: pulse 2s linear infinite;
}

.pulse--effect:after{
    animation-delay: 3s;
}

@keyframes pulse{
    0%{
        opacity: 0;
        transform: scale(0.005);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(1.2);
    }
}
