#loadMoreBtn{
    button{
        padding: 10px;
        border: transparent;
        background: #3d90d1;
        color: var(--whiteMediumEmp);
        border-radius: 2px;
        cursor: pointer;
    }
}