#covidStateDetails{
    margin: 20px;
    border-radius: 3px;
}

#stateDetailsModal{
    
}

#districtDetailsModal{

}

.download-district-covid{
    padding: 0 0 15px 0;
    display: flex;
    justify-content: flex-end;
}