$borderWidth: 2px;
$blue: #00b1ea;
$red: #e01059;
$green: #63bd23;

@mixin colorPercentBlue {
    &.prg-25{
        border-top: $borderWidth solid $blue;
    }

    &.prg-50{
        border-top: $borderWidth solid $blue;
        border-right: $borderWidth solid $blue;
    }

    &.prg-75{
        border-top: $borderWidth solid $blue;
        border-right: $borderWidth solid $blue;
        border-bottom: $borderWidth solid $blue;
    }

    &.prg-100{
        border-top: $borderWidth solid $blue;
        border-right: $borderWidth solid $blue;
        border-bottom: $borderWidth solid $blue;
        border-left: $borderWidth solid $blue;
    }
}

@mixin colorPercentRed {

    &.prg-25{
        border-top: $borderWidth solid $red;
    }

    &.prg-50{
        border-top: $borderWidth solid $red;
        border-right: $borderWidth solid $red;
    }

    &.prg-75{
        border-top: $borderWidth solid $red;
        border-right: $borderWidth solid $red;
        border-bottom: $borderWidth solid $red;
    }

    &.prg-100{
        border-top: $borderWidth solid $red;
        border-right: $borderWidth solid $red;
        border-bottom: $borderWidth solid $red;
        border-left: $borderWidth solid $red;
    }
}

@mixin colorPercentGreen {
    &.prg-25{
        border-top: $borderWidth solid $green;
    }

    &.prg-50{
        border-top: $borderWidth solid $green;
        border-right: $borderWidth solid $green;
    }

    &.prg-75{
        border-top: $borderWidth solid $green;
        border-right: $borderWidth solid $green;
        border-bottom: $borderWidth solid $green;
    }

    &.prg-100{
        border-top: $borderWidth solid $green;
        border-right: $borderWidth solid $green;
        border-bottom: $borderWidth solid $green;
        border-left: $borderWidth solid $green;
    }
}

.progressCircle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: $borderWidth solid rgba(0,0,0,0.2);
    text-align: center;

    &.blue{
        @include colorPercentBlue;

        i{
            color: $blue;
        }
    }

    &.red{
        @include colorPercentRed;
        i{
            color: $red;
        }
    }

    &.green{
        @include colorPercentGreen;
        i{
            color: $green;
        }
    }

    .icon-cont{
        display: flex;
        flex-direction: column;

        i{
            font-size: 24px;
        }
    }

    .progress-percent{
        padding-top: 5px;
    }
}