#topMenu {
  background: var(--darkGrey);
  position: absolute;
  z-index: 999;
  display: flex;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  border-radius: 8px;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.25);
  transition: 0.4s all ease-in-out;
  min-height: 61px;
  padding: 0 15px;

  .leftGrid {
    flex: 1 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo__wrap img {
      height: 35px;
      width: auto;
    }
    .client__logo {
      padding-top: 10px;
      border-right: 1px solid #f1f1f1;
      margin-right: 10px;
      padding-right: 5px;
    }
  }
  .rightGrid.filter {
    margin-left: 25px;
  }
  .rightGrid {
    flex: 1 1;

    .btnEllipsis,
    .btnAvatar {
      outline: none;
      background: transparent;
      border: 0;
      height: 60px;
      font-size: 20px;
      color: #a3afc5;
      padding: 0 15px;
      cursor: pointer;
    }
  }
}
