#filter {
  position: absolute;
  background: rgba(52, 73, 94, 0.7);
  top: 80px;
  left: 10px;
  width: 226px;
  color: var(--whiteMediumEmp);
  border-radius: 2px;
  box-shadow: 0px 0 6px 1px rgba(0, 0, 0, 0.3);

  .filterBox__title {
    padding: 10px;
    background: rgba(52, 73, 94, 0.7);
    color: var(--whiteMediumEmp);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .filterBox__body {
    height: 100px;
    padding: 10px;
  }
}

.day--label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

.dayFilter {
  padding: 0 10px 15px;
}

.filter--by--label {
  font-size: 13px;
  color: var(--whiteHighEmp);
  padding: 10px 0;
  margin: 0;
  cursor: pointer;
}

.typeOfEventFilter {
  display: flex;
  // justify-content: space-between;
}

.filtersWrapBox {
  display: flex;
  justify-content: space-evenly;
}
.filterModal__filtersWrapBox {
  min-height: 300px;
}
.levelOfRisk {
  // height: auto;
  // width: 300px;
  // padding: 15px;
  // border-radius: 5px;
  // box-shadow: 0px 0 10px 1px rgba(0, 0, 0, 0.6);
  // background: var(--lightGrey);
  // max-height: 190px;
  // max-width: 218px;
  // overflow-y: scroll;
  // &::-webkit-scrollbar{
  //     width: 3px !important;
  // }

  // &::-webkit-scrollbar-track{
  //     background: transparent !important;
  // }

  // &::-webkit-scrollbar-thumb{
  //     background-color: var(--lightWhite) !important;
  //     border-radius: 5px !important;
  // }
}

.eventArchivesWrap {
  display: flex;
  height: 600px;

  .eventArchiveFilters {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 70px;
    // border-right: 1px solid #eee;

    i {
      color: #666;
    }
  }

  .eventArchiveList {
    flex: 4;
    overflow-y: auto;
  }
}

.startDate {
  padding: 10px 0;
}

.eventFilters {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.sort-by-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;

  i {
    color: var(--whiteMediumEmp);
    font-size: 18px;
  }

  .icon-uniE9E7 {
    font-size: 18px;
    font-weight: 600;
  }

  .fa.fa-caret-down {
    padding: 0;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}

.risk-tracker-wrap {
  .filter__title__wrap {
    // display: flex;
    // justify-content: space-between;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    align-items: center;

    .sort-by-icon i {
      color: var(--whiteMediumEmp) !important;
    }

    .icon-uniE90E {
      color: var(--whiteMediumEmp);
    }
    .filtersWrapBox__arrow {
      color: var(--darkActive);
    }
  }
}

.filtersWrapBox__boxOne__typeOfRisk {
  height: auto;
  width: 300px;
  min-height: 300px;
  padding: 15px;
  border-radius: 5px;
  //box-shadow: 0px 0 10px 1px rgba(0,0,0,0.6);
  background: rgba(0, 0, 0, 0.3);
  max-height: 300px;
  max-width: 300px;
  overflow-y: scroll;
  margin-bottom: 15px;
  &::-webkit-scrollbar {
    width: 3px !important;
  }

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--lightWhite) !important;
    border-radius: 5px !important;
    min-height: 1px;
    max-height: 1px;
  }
}

.typeOfRiskFilter {
  // height: auto;
  // width: 300px;

  // padding: 15px;
  // border-radius: 5px;
  // box-shadow: 0px 0 10px 1px rgba(0,0,0,0.6);
  // background: var(--lightGrey);
  // max-height: 190px;
  // max-width: 218px;
  // overflow-y: scroll;
  // margin-bottom: 15px;
  // &::-webkit-scrollbar{
  //     width: 3px !important;
  // }

  // &::-webkit-scrollbar-track{
  //     background: transparent !important;
  // }

  // &::-webkit-scrollbar-thumb{
  //     background-color: var(--lightWhite) !important;
  //     border-radius: 5px !important;
  //     min-height: 1px;
  //     max-height: 1px;
  // }

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dateWrapper__filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtersWrapBox__boxOne {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtersWrapBox__boxTwo {
  flex: 1;
}

.btnWrapper__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.apply__filters {
  .btn {
    background-color: #99ac3d;
    border: transparent;
    color: #292929;
  }

  .btn.btn--close {
    color: var(--whiteMediumEmp);
    padding: 5px 8px;
    border-radius: 3px;
    border: none;
  }
}

.downloadBtnWrap {
  display: flex;
  // width: 100%;
  justify-content: center;
}

.btn.btn--download {
  // color: var(--whiteMediumEmp);
  padding: 8px;
  // width: 70%;
  border: none;
  background: var(--lightBlue);
  box-shadow: 0px 0 10px 1px rgba(0, 0, 0, 0.6);
}

.startDate {
  margin-right: 10px;
}

.filterWrapper__filters__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typeOfRiskFilter_caret {
  padding-left: 5px;
  & i {
    font-size: 15px;
  }
}

.filter__btnWraper {
  justify-content: center;
  display: flex;
  .btn--apply {
    text-transform: capitalize !important;
    border: 1px solid var(--darkActive);
    background: transparent;
    color: var(--darkActive);
    padding: 12px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 100;
    font-size: 13px;

    &:hover {
      background: var(--darkActive);
      color: var(--darkGrey);
    }
  }
}
