#subFooter{
    padding: 15px;
    font-size: 1rem;

    .subFooter--title{
        font-weight: bold;
        margin-bottom: 8px;
    }

    .subFooter--subtitle{
        font-weight: normal;
        font-size: 0.9rem;
    }
}