#locationList {
  height: 96vh;
  // position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  // bottom: 0;
  // top: 10%;
  // background: transparent;

  &:hover {
    overflow-y: scroll;
    cursor: pointer;
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--darkActive);
      border-radius: 5px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5px;
  }

  .eventList--wrap {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p.organizationriskrating {
    color: var(--whiteMediumEmp);
    font-size: 17px !important;
    font-weight: 100 !important;
    padding: 15px;
    background-color: var(--darkGrey);
    border-radius: 10px 10px 0 0;
    text-align: center;
    .infoIcon {
      float: right;

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--whiteMediumEmp);
        i {
          color: #4caf50;
        }
      }
    }
  }

  .riskrating-gauge {
    width: 200px;
    height: 100px;
    margin: 20px auto;
  }
  .riskrating-background {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    background-color: #192135;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
    text-align: center;
  }
  .riskrating-mask {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    height: 90px;
    background-color: var(--darkGrey) ;
    border-radius: 150px 150px 0 0;
  }
  .riskrating-percentage {
    position: absolute;
    top: 100px;
    left: -200%;
    width: 400%;
    height: 400%;
    margin-left: 100px;
  }
  .riskrating-percentage {
    transform-origin: top center;
  }
  .riskrating-min {
    float: left;
    font-size: 75% !important;
    color: #909090;
  }
  .riskrating-max {
    float: right;
    font-size: 75% !important;
    color: #909090;
  }
  .riskrating-value {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-size: 30px !important;
    font-weight: 100;
  }
}

.infoList {
  max-width: 400px;
  background-color: var(--backgroundSolid);
  box-shadow: 2px 2px 3px 5px #fff;
  padding: 15px;
  margin: 0;

  li {
    list-style: none;
    color: rgb(204, 204, 204);
    margin-bottom: 10px;
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.modal__inner {
  position: absolute;
  background: var(--modalBackground);
  top: 50%;
  left: 50%;
  border-radius: 3px;
  min-width: var(--modal-min-width);
  max-width: var(--modal-max-width);
  max-height: var(--modal-max-height);
  transform: translate(-50%, -50%);
  outline: none;
}

.dark--body {
  background: var(--darkGreyModal);

  .modal--header {
    .btn-times {
      color: var(--whiteMediumEmp);
      padding: 5px 8px;
      border-radius: 3px;

      &:hover {
        background: var(--highlightBackgroundLight);
      }
    }
  }

  .modal--body {
    .title__wrap {
      h2 {
        color: var(--whiteHighEmp) !important;
      }
      label {
        color: var(--whiteHighEmp);
        font-weight: 500;
      }
      p {
        color: var(--whiteMediumEmp);
      }
      display: flex;
      justify-content: space-between;
    }

    .s--icon {
      i {
        color: rgba(0, 0, 0, 0.9);
        font-weight: bold;
      }
      span {
        color: var(--darkActive);
        border: 1px solid var(--darkActive);
        border-radius: 2px;
      }
    }

    .event--detail {
      label {
         color: var(--whiteHighEmp);
      }

      .date {
        color: var(--whiteMediumEmp);
      }

      p {
        color: var(--whiteMediumEmp);
      }

      .bulletList {
        li {
          border-bottom: 1px solid var(--whiteDisabled);
          color: var(--whiteMediumEmp) !important;
        }
      }
    }
  }

  .modal--footer {
    border-top: none;
    .pdf--btn,
    .entity--btn {
      text-transform: capitalize !important;
      border: 1px solid var(--darkActive);
      background: transparent;
      color: var(--darkActive);
      padding: 12px;
      cursor: pointer;
      border-radius: 2px;
      font-weight: 100;
      font-size: 13px;

      &:hover {
        background: var(--darkActive);
        color: var(--darkGrey);
      }
    }
  }
}