.multipleLocationList {
  list-style-type: decimal;
  color: var(--whiteMediumEmp);
  padding-left: 15px;

  li p {
    color: var(--whiteMediumEmp);
  }

  .multipleLocationList__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btnRemove {
      background-color: transparent !important;
    }

    i {
      color: var(--backgroundSolid);
    }
  }
}

#createEvent__Modal {
  li p {
    color: #333;
  }
}
