@import '../../../../../sass/globalVariables.scss';
.new__modal__inner {
  position: absolute;
  background-color: white !important;
  top: 50%;
  left: 50%;
  border-radius: 3px;
  min-width: var(--modal-min-width);
  max-width: var(--modal-max-width);
  max-height: var(--modal-max-height);
  min-height: var(--modal-max-height);
  transform: translate(-50%, -50%);
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.new__event__detail {
  padding-bottom: 10px;

  .title_wrap {
    display: flex;
    align-items: center;
    padding: 0 15px 0;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px;
    color: #02385a !important;
    font-weight: normal;
  }

  p {
    word-break: normal;
    font-size: 13px;
    color: #666;
  }

  .event--detail {
    padding: 10px 15px 0;
  }

  .event {
    flex: 1;
    padding: 0;
    display: flex;
    justify-content: space-between;

    label {
      color: var(--whiteHighEmp);
      font-size: var(--font-size-label) !important;
      text-transform: uppercase;
      margin-bottom: 4px;
    }
    .date_wrapper {
      display: flex;
      align-items: center;
      .icon-wrap {
        font-size: 1.25rem !important;
        padding: 5px;
      }
      .date {
        color: var(--whiteMediumEmp);
        font-size: 12px;
        padding: 5px;
        background-color: #f2f2f2;
      }
    }

    p {
      color: var(--whiteHighEmp);
      line-height: 20px;
    }
  }

  label {
    color: #444;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }
}

.eventDetails_row_1 {
  display: flex;
  margin: 10px 10px 0px 10px;
  .eventDetails_wrap {
    display: flex;
    width: 70%;
    margin-right: 10px;
    .eventDetails_heading {
      display: flex;
      width: 30%;
      align-items: center;
      background-color: #02385a;
      color: white;
      padding: 5px;
      font-size: 0.9rem;
    }
    .eventDetails_content {
      display: flex;
      padding: 5px;
      align-items: center;
      color: black;
      background-color: #f2f2f2;
      width: 70%;
      font-size: 0.9rem;
    }
  }
  .tracking_id_wrap {
    display: flex;
    width: 30%;
    .tracking_id_heading {
      display: flex;
      width: 40%;
      align-items: center;
      background-color: #02385a;
      color: white;
      padding: 5px;
      font-size: 0.9rem;
    }
    .tracking_id_content {
      display: flex;
      padding: 5px;
      align-items: center;
      color: black;
      background-color: #f2f2f2;
      width: 60%;
      font-size: 0.9rem;
    }
  }
}
.eventDetails_row_2 {
  display: flex;
  margin: 10px 10px 10px 10px;
  .riskLevel_wrap {
    display: flex;
    width: 30%;
    background-color: #02385a;
    color: white;
    margin-right: 10px;
    .riskLevel_heading {
      display: flex;
      width: 40%;
      align-items: center;
      padding: 5px;
      font-size: 0.9rem;
    }
    .riskLevel_content {
      display: flex;
      align-items: center;
      background-color: #f2f2f2;
      color: black;
      width: 60%;
      padding: 5px;
      font-size: 0.9rem;
    }
  }
  .riskcategory_wrap {
    display: flex;
    width: 70%;
    .riskcategory_heading {
      display: flex;
      width: 25%;
      align-items: center;
      background-color: #02385a;
      color: white;
      padding: 5px;
      font-size: 0.9rem;
    }
    .riskcategory_content {
      display: flex;
      background-color: #f2f2f2;
      align-items: center;
      width: 75%;
      padding: 5px;
      font-size: 0.9rem;
    }
  }
}
.pdf__btn {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  .pdf--btn,
  .entity--btn {
    text-transform: capitalize !important;
    border: 1px solid var(--darkActive);
    background: transparent;
    color: var(--darkActive);
    padding: 12px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 100;
    font-size: 13px;

    &:hover {
      background: var(--darkActive);
      color: var(--darkGrey);
    }
  }
  .btn {
    border: transparent;
    text-transform: uppercase;

    &.btn--close {
      color: var(--whiteMediumEmp);
      padding: 5px 8px;
      border-radius: 3px;
    }
  }
}

.btn-times {
  color: var(--whiteMediumEmp);
  font-size: var(--close-times-size) !important;
  cursor: pointer;
  padding: 5px 8px;
  margin: -20px -15px 0px 7px;
  border-radius: 3px;

  &:hover {
    color: #f6682f;
  }
}

.pills {
  background: rgba(41, 128, 185, 0.9);
  color: var(--whiteMediumEmp);
  padding: 6px 12px;
  border-radius: 25px;
  font-size: 12px;
}

.smsAlertPlaces {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    color: #666;
    text-transform: capitalize;
  }
}

.new__modal__header {
  display: flex;
  flex-direction: row;
  .modal--header-layer1 {
    width: 70%;
    background-color: #02385a;
    padding: 13px;
    .modal--heading {
      color: white;
    }
  }
  .modal--header-layer2 {
    width: 10%;
    background-color: #74a811;
    padding: 13px;
  }
  .modal--header-layer3 {
    width: 5%;
    background-color: #9bcc1b;
    padding: 13px;
  }
  .modal--header-layer4 {
    width: 35%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    padding: 13px;
    justify-content: flex-end;
  }
}

.new--modal--body {
  overflow-y: scroll;
  max-height: var(--modal-max-inner-height);
  min-height: 400px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: '#ccc';
    border-radius: 5;
  }
}

.new--modal--footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: relative;
  margin-top: -10px;
}

.new--modal--footer--blackpearl {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: relative;
  margin-top: -10px;
}

.s--icon {
  &.pill {
    width: auto;
    // padding: 0 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: #444;
      font-size: 14px;
      // padding: 10px;
    }
  }
}

.dark--body {
  background: var(--darkGreyModal);

  .modal--header {
    .btn-times {
      color: var(--whiteMediumEmp);
      padding: 5px 8px;
      border-radius: 3px;
      background-color: #ffffff;

      &:hover {
        background: var(--highlightBackgroundLight);
      }
    }
  }

  .modal--body {
    .title__wrap {
      color: #02385a !important;
      h2 {
        color: #02385a !important;
      }
      label {
        color: var(--whiteHighEmp);
        font-weight: 500;
      }
      p {
        color: var(--whiteMediumEmp);
      }

      display: flex;
      justify-content: space-between;
    }

    .s--icon {
      i {
        color: rgba(0, 0, 0, 0.9);
        font-weight: bold;
      }

      span {
        color: var(--darkActive);
        // padding: 10px !important;
        border: 1px solid var(--darkActive);
        border-radius: 2px;
      }
    }

    .event--detail {
      label {
        // font-weight: 700;
        color: var(--whiteHighEmp);
      }

      .date {
        color: var(--whiteMediumEmp);
      }

      p {
        color: var(--whiteMediumEmp);
      }

      .bulletList {
        .b-list--icon {
          i {
          }
        }

        li {
          border-bottom: 1px solid var(--whiteDisabled);
          color: var(--whiteMediumEmp) !important;
        }
      }
    }
  }

  .new--modal--footer {
    border-top: none;
    background-color: #ffffff;
    .pdf--btn,
    .entity--btn {
      text-transform: capitalize !important;
      border: 1px solid var(--darkActive);
      background: transparent;
      color: var(--darkActive);
      padding: 12px;
      cursor: pointer;
      border-radius: 2px;
      font-weight: 100;
      font-size: 13px;

      &:hover {
        background: var(--darkActive);
        color: var(--darkGrey);
      }
    }
  }

  .new--modal--footer--blackpearl {
    border-top: none;
    background-color: #ffffff;
    margin-top: -30px;
    .pdf--btn,
    .entity--btn {
      text-transform: capitalize !important;
      border: 1px solid var(--darkActive);
      background: transparent;
      color: var(--darkActive);
      padding: 12px;
      cursor: pointer;
      border-radius: 2px;
      font-weight: 100;
      font-size: 13px;

      &:hover {
        background: var(--darkActive);
        color: var(--darkGrey);
      }
    }
  }
}

.eventTabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;

  .eventTab__btn {
    background: transparent;
    color: var(--whiteMediumEmp);
    border: 1px solid var(--whiteHighEmp);
    padding: 8px;
    margin: 0 5px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
  }

  .eventTab {
    .tabIsActive {
      background-color: $themeBlue;
      color: white;
      border: 1px solid transparent;
    }
  }
}

.liveUpdatesWrap {
  margin: 15px;
  font-size: var(--font-size-p);
  .liveUpdates--title {
    color: var(--whiteHighEmp);
    font-size: var(--font-size-p);
    font-size: 15px;
    padding-bottom: 3px;
  }

  .liveUpdates--timeupdate {
    font-size: var(--font-size-p);
    color: var(--whiteMediumEmp);
    font-size: 13px;
  }
}

.divider-pd-15 {
  margin: 15px 0 !important;
  background: var(--whiteMediumEmp) !important;
}

.related--list {
  width: 100%;
  list-style: none;
  padding: 0 15px;
  font-size: var(--font-size-p);
  color: var(--whiteHighEmp);
  li {
    cursor: pointer;
    padding: 10px 5px;
    border-bottom: 1px solid var(--whiteDisabled);
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    p,
    h3,
    h4 {
      font-weight: 400;
      font-size: var(--font-size-p);
      color: var(--whiteHighEmp);
      margin-bottom: 5px;
    }
  }
}

.affectedEntities__inner {
  background: var(--darkGreyModal) !important;
  color: var(--whiteMediumEmp) !important;
  outline: none !important;
  border-radius: 3px;
  max-width: var(--modal-full-width) !important;
  min-width: var(--modal-full-width) !important;
  margin: 10px auto;

  .affectedEntities__header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;

    .affectedEntities--heading {
      position: absolute;
      left: 15px;
      font-weight: 600;
      color: var(--whiteHighEmp) !important;
      font-size: var(--font-size-h1) !important;
    }
    .affectedEntities--close {
      color: var(--whiteMediumEmp);
      font-size: 24px !important;
      cursor: pointer;
      padding: 0 8px;
    }
  }

  .affectedEntities__body {
    padding: 15px;
    position: relative;
    display: flex;
  }
}
