#riskCategoryDistribution {
  height: 60vh;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 9;
  width: 100%;
  max-width: 25%;
  padding: 10px;
  bottom: 0;
  right: 0;
  background: transparent;

  .RiskCategories--wrap {
    background: rgba(6, 14, 27, 0.95);
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: auto;

    &:hover {
      overflow-y: scroll;
      cursor: pointer;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--primarylight);
        border-radius: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }

    h1 {
      color: var(--whiteHighEmp); 
      font-weight: 100;
      text-transform: capitalize;
      margin-bottom: 15px;
      i {
        color: #2b3a54;
      }
    }
    .RiskCategories--list {
      padding-left: 10px;
      .RiskCategories--item {
        display: inline-block;
        list-style: none;
        padding: 5px 15px;
        background: #a9da46;
        margin-right: 15px;
        border-radius: 5px;
      }

      .RiskCategories--wrap {
        background: rgba(255, 255, 255, 0.9);
        padding: 12px;
        border-radius: 8px;
        box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
        height: auto;

        h1 {
          color: var(--primaryDark);
          font-weight: 100;
          text-transform: uppercase;
          margin-bottom: 15px;
        }
        .RiskCategories--list {
          padding-left: 10px;
          .RiskCategories--item {
            display: inline-block;
            list-style: none;
            padding: 5px 15px;
            background: #a9da46;
            margin-right: 15px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
