@import url(https://fonts.googleapis.com/css?family=Unica+One);
$colors: #2b908f, #90ee7e, #f45b5b, #7798bf, #aaeeee, #ff0066, #eeaaee, #55bf3b,
  #df5353, #7798bf, #aaeeee;

#eventsearch__heatMapGraph {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  .heatMapGraph--wrap {
    background: var(--dashboardBackground);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: 100%;
    &:hover {
      overflow-y: scroll;
      cursor: pointer;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #abc123;
        border-radius: 5px;
      }
    }
    &::-webkit-scrollbar {
      width: 0;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }
  }
  h1 {
    color: var(--whiteHighEmp);
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
    i {
      color: #2b3a54;
    }
  }
  .event_timline_chart {
    height: 290px;
  }
}

.highcharts-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: normal;
  z-index: 0; /* #1072 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Unica One', sans-serif;
  font-size: 12px;
}
.highcharts-root text {
  stroke-width: 0;
}
.highcharts-background {
  fill: var(--dashboardBackground) !important;
}
#gradient-1 stop {
  stop-color: #ccc;
}
#gradient-1 stop[offset='0'] {
  stop-opacity: 0;
}
#gradient-1 stop[offset='1'] {
  stop-opacity: 0.25;
}

/* Apply the gradients */
.highcharts-plot-background {
  fill: url(#gradient-1);
}
.highcharts-plot-border {
  fill: none;
}
.highcharts-label-box {
  fill: none;
}

/* Titles */
.highcharts-title {
  fill: #e0e0e3;
  text-transform: uppercase;
  font-size: 20px;
}
.highcharts-subtitle {
  fill: #e0e0e3;
  text-transform: uppercase;
}

/* Axes */
.highcharts-axis-line {
  fill: none;
  stroke: var(--whiteHighEmp);
}
.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 0;
}
.highcharts-axis-title {
  fill: #707070;
}
.highcharts-axis-labels {
  fill: #e0e0e3;
  cursor: default;
  font-size: 0.9em;
}
.highcharts-grid-line {
  fill: none;
  stroke: #2b323b;
}
.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 0;
}
.highcharts-tick {
  stroke: #c0d0e0;
}
.highcharts-yaxis .highcharts-tick {
  stroke-width: 0;
}
.highcharts-minor-grid-line {
  stroke: #e0e0e0;
}
.highcharts-crosshair-thin {
  stroke-width: 1px;
  stroke: #c0c0c0;
}
.highcharts-crosshair-category {
  stroke: rgba(155, 200, 255, 0.2);
}

/* Credits */
.highcharts-credits {
  cursor: pointer;
  fill: #666;
  font-size: 0.7em;
  transition: fill 250ms, font-size 250ms;
  display: none;
}
.highcharts-credits:hover {
  fill: black;
  font-size: 1em;
}

/* Tooltip */
.highcharts-tooltip text {
  fill: #f0f0f0 !important;
}
.highcharts-tooltip .highcharts-header {
  font-size: 0.85em;
}
.highcharts-tooltip-box {
  stroke-width: 1px;
  fill: rgba(0, 0, 0, 0.85);
  fill-opacity: 0.85;
}

.highcharts-selection-marker {
  fill: var(--darkActive);
  fill-opacity: 0.25;
}

.highcharts-graph {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.highcharts-state-hover .highcharts-graph {
  stroke-width: 3;
}
.highcharts-state-hover path {
  transition: stroke-width 50; /* quick in */
}
.highcharts-state-normal path {
  transition: stroke-width 250ms; /* slow out */
}

/* Legend hover affects points and series */
g.highcharts-series,
.highcharts-point {
  transition: opacity 250ms;
}
.highcharts-legend-series-active
  g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover) {
  opacity: 0.2;
}

/* Series options Starts here*/

/* Default colors */
@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  .highcharts-color-#{$i - 1} {
    fill: $color;
    stroke: $color;
  }
}

.highcharts-area {
  fill-opacity: 0.75;
  stroke-width: 0;
}
.highcharts-markers {
  stroke-width: 1px;
  stroke: var(--highlightText);
}
.highcharts-point {
  stroke-width: 1px;
}
.highcharts-legend .highcharts-point {
  stroke-width: 0;
}

.highcharts-data-label {
  font-size: 0.9em;
  font-weight: bold;
}
.highcharts-data-label-box {
  fill: none;
  stroke-width: 0;
}
.highcharts-data-label text {
  font-size: 11px;
  font-weight: bold;
  color: var(--highlightText);
  text-shadow: 0 0 6px #000000, 0 0 3px #000000;
  fill: #b0b0b3;
  text-rendering: geometricPrecision;
}
.highcharts-data-label-connector {
  fill: none;
}
.highcharts-halo {
  fill-opacity: 0.25;
  stroke-width: 0;
}
.highcharts-point-select {
  fill: var(--highlightText);
  stroke: #000000;
}
.highcharts-column-series .highcharts-point {
  stroke: var(--highlightText);
  transition: fill-opacity 250ms;
}
.highcharts-column-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}
.highcharts-pie-series .highcharts-point {
  stroke-linejoin: round;
  stroke: #ffffff;
}
.highcharts-pie-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}
.highcharts-pie-series .highcharts-point-select {
  fill: inherit;
  stroke: inherit;
}
.highcharts-funnel-series .highcharts-point {
  stroke-linejoin: round;
  stroke: #ffffff;
}
.highcharts-funnel-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}
.highcharts-funnel-series .highcharts-point-select {
  fill: inherit;
  stroke: inherit;
}
.highcharts-pyramid-series .highcharts-point {
  stroke-linejoin: round;
  stroke: #ffffff;
}
.highcharts-pyramid-series .highcharts-point-hover {
  fill-opacity: 0.75;
  transition: fill-opacity 50ms;
}
.highcharts-pyramid-series .highcharts-point-select {
  fill: inherit;
  stroke: inherit;
}
.highcharts-solidgauge-series .highcharts-point {
  stroke-width: 0;
}
.highcharts-treemap-series .highcharts-point {
  stroke-width: 1px;
  stroke: #e0e0e0;
  transition: stroke 250ms, fill 250ms, fill-opacity 250ms;
}
.highcharts-treemap-series .highcharts-point-hover {
  stroke: #000000;
  transition: stroke 25ms, fill 25ms, fill-opacity 25ms;
}

.highcharts-treemap-series .highcharts-above-level {
  display: none;
}
.highcharts-treemap-series .highcharts-internal-node {
  fill: none;
}
.highcharts-treemap-series .highcharts-internal-node-interactive {
  fill-opacity: 0.15;
  cursor: pointer;
}
.highcharts-treemap-series .highcharts-internal-node-interactive:hover {
  fill-opacity: 0.75;
}

/* Legend */
.highcharts-legend-box {
  fill: none;
  stroke-width: 0;
}
.highcharts-legend-item text {
  fill: #e0e0e3;
  font-weight: bold;
  cursor: pointer;
  stroke-width: 0;
}
.highcharts-legend-item:hover text {
  fill: var(--highlightText);
}
.highcharts-legend-item-hidden * {
  fill: #cccccc !important;
  stroke: #cccccc !important;
  transition: fill 250ms;
}
.highcharts-legend-nav-active {
  fill: #274b6d;
  cursor: pointer;
}
.highcharts-legend-nav-inactive {
  fill: #c0c0c0;
}
.highcharts-legend-title-box {
  fill: none;
  stroke-width: 0;
}

/* Loading */
.highcharts-loading {
  position: absolute;
  background-color: var(--whiteHighEmp);
  opacity: 0.5;
  text-align: center;
  z-index: 10;
  transition: opacity 250ms;
}
.highcharts-loading-hidden {
  height: 0 !important;
  opacity: 0;
  overflow: hidden;
  transition: opacity 250ms, height 250ms step-end;
}
.highcharts-loading-inner {
  font-weight: bold;
  position: relative;
  top: 45%;
}

/* Plot bands and polar pane backgrounds */
.highcharts-plot-band {
  fill: rgba(0, 0, 0, 0.05);
}
.highcharts-plot-line {
  fill: none;
  stroke: gray;
  stroke-width: 1px;
}

/* Highcharts More */
.highcharts-boxplot-box {
  fill: white;
}
.highcharts-boxplot-median {
  stroke-width: 2px;
}
.highcharts-bubble-series .highcharts-point {
  fill-opacity: 0.5;
}
.highcharts-errorbar-series .highcharts-point {
  stroke: black;
}
.highcharts-gauge-series .highcharts-data-label-box {
  stroke: silver;
  stroke-width: 1px;
}
.highcharts-gauge-series .highcharts-dial {
  fill: black;
  stroke-width: 0;
}
.highcharts-polygon-series .highcharts-graph {
  fill: inherit;
  stroke-width: 0;
}
.highcharts-waterfall-series .highcharts-graph {
  stroke: #333;
  stroke-dasharray: 1, 3;
}

/* Highstock */
.highcharts-navigator-mask {
  fill: rgba(128, 179, 236, 0.3); /* navigator.maskFill option */
}
.highcharts-navigator-mask-inside {
  fill: rgba(128, 179, 236, 0.3); /* navigator.maskFill option */
  cursor: ew-resize;
}
.highcharts-navigator-outline {
  stroke: #b2b1b6;
  fill: none;
}
.highcharts-navigator-handle {
  stroke: #b2b1b6;
  fill: #ebe7e8;
  cursor: ew-resize;
}
.highcharts-navigator-series {
  fill: var(--darkActive);
  stroke: var(--darkActive);
}
.highcharts-navigator-series .highcharts-graph {
  stroke-width: 1px;
}
.highcharts-navigator-series .highcharts-area {
  fill-opacity: 0.05;
}
.highcharts-navigator-xaxis .highcharts-axis-line {
  stroke-width: 0;
}
.highcharts-navigator-xaxis .highcharts-grid-line {
  stroke-width: 1px;
  stroke: #eee;
}
.highcharts-navigator-xaxis.highcharts-axis-labels {
  fill: #888;
}
.highcharts-navigator-yaxis .highcharts-grid-line {
  stroke-width: 0;
}
.highcharts-scrollbar-thumb {
  fill: #bfc8d1;
  stroke: #bbb;
  stroke-width: 1px;
}
.highcharts-scrollbar-button {
  fill: #ebe7e8;
  stroke: #bbb;
  stroke-width: 1px;
}
.highcharts-scrollbar-arrow {
  fill: #666;
}
.highcharts-scrollbar-rifles {
  stroke: #666;
  stroke-width: 1px;
}
.highcharts-scrollbar-track {
  fill: #eeeeee;
  stroke: #eeeeee;
  stroke-width: 1px;
}
.highcharts-button {
  cursor: default;
  fill: #f6f6f6;
  stroke: #ccc;
  stroke-width: 1px;
  transition: fill 250ms;
  rect {
    fill: #07090c;
  }
  text {
    fill: var(--highlightText) !important;
  }
}
.highcharts-button rect {
  border: 1px solid #07090c !important;
  fill: none;
}
.highcharts-button text {
  fill: black;
}
.highcharts-button-hover {
  fill: #acf;
  stroke: #68a;
  transition: fill 0ms;
}
.highcharts-button-pressed {
  fill: #cdf;
  stroke: #68a;
  font-weight: bold;
}
.highcharts-button-disabled text {
  fill: #ccc;
}
.highcharts-range-selector-buttons .highcharts-button {
  stroke-width: 0;
}
.highcharts-range-label rect {
  fill: none;
}
.highcharts-range-label text {
  fill: #666;
  display: none;
}
.highcharts-range-input rect {
  fill: none;
  display: none;
}
.highcharts-range-input text {
  fill: #444;
  display: none;
}
input.highcharts-range-selector {
  position: absolute;
  border: 0;
  width: 1px; /* Chrome needs a pixel to see it */
  height: 1px;
  padding: 0;
  text-align: center;
  left: -9em;
}
.highcharts-crosshair-label text {
  fill: white;
  font-size: 1.1em;
}
.highcharts-crosshair-label .highcharts-label-box {
  fill: inherit;
}

.highcharts-candlestick-series .highcharts-point {
  stroke: black;
  stroke-width: 1px;
}
.highcharts-candlestick-series .highcharts-point-up {
  fill: white;
}
.highcharts-ohlc-series .highcharts-point-hover {
  stroke-width: 3px;
}
.highcharts-flags-series .highcharts-point {
  stroke: gray;
  fill: white;
}
.highcharts-flags-series .highcharts-point-hover {
  stroke: black;
  fill: #fcffc5;
}
.highcharts-flags-series .highcharts-point text {
  fill: black;
  font-size: 0.9em;
  font-weight: bold;
}

/* Highmaps */
.highcharts-map-series .highcharts-point {
  transition: fill 500ms, fill-opacity 500ms, stroke-width 250ms;
  stroke: silver;
}
.highcharts-map-series .highcharts-point-hover {
  transition: fill 0ms, fill-opacity 0ms;
  fill-opacity: 0.5;
  stroke-width: 2px;
}
.highcharts-mapline-series .highcharts-point {
  fill: none;
}
.highcharts-heatmap-series .highcharts-point {
  stroke-width: 0;
}
.highcharts-map-navigation {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
.highcharts-coloraxis {
  stroke-width: 0;
}
.highcharts-coloraxis-marker {
  fill: gray;
}
.highcharts-null-point {
  fill: #f8f8f8;
}

/* 3d charts */
.highcharts-3d-frame {
  fill: transparent;
}
.highcharts-column-series .highcharts-point {
  stroke: inherit; /* use point color */
}
.highcharts-3d-top {
  filter: url(#highcharts-brighter);
}
.highcharts-3d-side {
  filter: url(#highcharts-darker);
}

/* Exporting module */
.highcharts-contextbutton {
  fill: white; /* needed to capture hover */
  stroke: none;
  stroke-linecap: round;
}
.highcharts-contextbutton:hover {
  fill: #acf;
  stroke: #acf;
}
.highcharts-button-symbol {
  stroke: #666;
  stroke-width: 3px;
  fill: #e0e0e0;
}
.highcharts-menu {
  border: 1px solid #a0a0a0;
  background: #ffffff;
  padding: 5px 0;
  box-shadow: 3px 3px 10px #888;
}
.highcharts-menu-item {
  padding: 0 1em;
  background: none;
  color: #303030;
  cursor: pointer;
}
.highcharts-menu-item:hover {
  background: #4572a5;
  color: var(--highlightText);
}

/* Drilldown module */
.highcharts-drilldown-point {
  cursor: pointer;
}
.highcharts-drilldown-data-label text,
.highcharts-drilldown-axis-label {
  cursor: pointer;
  fill: #0d233a;
  font-weight: bold;
  text-decoration: underline;
}

/* No-data module */
.highcharts-no-data text {
  font-weight: bold;
  font-size: 12px;
  fill: #60606a;
}

.highcharts-range-input {
  tspan {
    fill: #bbbbbb !important;
  }
}
