#quadrant {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--darkActive);
    border-radius: 5px;
  }
  .quadrant--wrap {
    // plot
    .js-plotly-plot {
      .plot-container {
        .svg-container {
          .main-svg {
            background: transparent !important;
          }
        }
      }
    }

    .quadrant--box {
      display: flex;
      flex-direction: row;
      .quadrant-data {
        width: 30%;

        .quadrant-data__box {
          h1 {
            margin-bottom: 15px;
          }
          p {
            font-size: 13px;
            color: var(--whiteHighEmp); 
            margin-bottom: 10px;
          }
        }
      }
      .quadrant-graph {
        width: 70%;
      }
    }
  }
}
