#topEvents {
  z-index: 9;
  display: flex;

  transition: 0.4s all ease-in-out;
  min-height: 61px;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  color: var(--whiteHighEmp); 

  .totalEvents {
    color: var(--whiteHighEmp); 
    border-radius: 8px;
    font-size: 1.75rem !important;
    color: var(--primarylight);
    font-weight: normal;
  }
}
