.infoCard{
    margin: 15px 15px 0 0;
    padding: 10px;
    border-radius: 3px;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    display: flex;
    // justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    h3{
        color: var(--whiteMediumEmp);
        font-size: 14px;
        text-transform: capitalize;
        padding-bottom: 10px;
    }

    p{
        color: var(--whiteMediumEmp);
        font-size: 13px;
        text-align: left;
        padding-bottom: 15px; 
    }

    a{
        color: var(--whiteMediumEmp);
        font-size: 12px;
    }
}