#clientlocationGraph {
  overflow-y: auto;
  overflow-x: hidden;
  height: 80vh;
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--darkActive);
    border-radius: 5px;
  }

  .clientlocationGraph--wrap {
    h1 {
      margin-bottom: 35px;
    }
  }
}
