@import '../../../../../src/sass/globalVariables.scss';

.pastData__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px 10px 0px 10px;
  justify-content: center;
  background-color: var(--dashboardBackground) !important;
}
.screening_card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(129, 144, 153, 0.5);

  .pastData__eventsrno {
    padding-right: 20px;
    color: white;
  }
}
#pastData__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  .screening_eventCardList {
    background: transparent;
    box-shadow: none;
  }
  .pastData__header {
    display: flex;
    align-items: center;
    margin: 10px 10px 5px 10px;
    justify-content: space-between;
  }
  .pastData_pill_container {
    display: flex;
    align-items: flex-start;
    width: 20%;
  }
  .screening_dropdowns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
  }
  .pastData__pill {
    background-color: white;
    display: flex;
    align-items: center;
    min-height: 20px;
    padding: 1px 5px;
    border-radius: 4px;

    &.veryLow {
      background-color: var(--globalVeryLow);
    }

    &.low {
      background-color: var(--globalLow);
    }

    &.medium {
      background-color: var(--globalMedium);
    }

    &.high {
      background-color: var(--globalHigh);
    }

    &.veryHigh {
      background-color: var(--globalVeryHigh);
    }
  }
  .pastData__cat__pill {
    color: #111826;
    font-size: calc(7px + 0.5vmin) !important;
  }
  .card_footer {
    display: flex;
    justify-content: space-between;
  }
  .article__content__pill {
    background-color: var(--pillColour);
    display: flex;
    border-radius: 4px;
    padding: 0px 7px;
    align-items: center;
    cursor: pointer;
  }
  .pastData__card__row1 {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    .pastData__card__innercolumn1 {
      width: 30%;
      min-width: 30%;
      height: 100%;
      min-height: 100%;
      margin-right: 7px;

      .pastData__event__img {
        width: 100% !important;
        min-height: 100% !important;
        height: 100% !important;
        border-radius: 10px;
      }
    }
    .pastData__card__innercolumn2 {
      width: 100%;
      height: 100%;
    }
  }
  .pastData__card__row2 {
    .pastData__card__innercolumn {
      display: flex;
      justify-content: space-between;
    }
  }
  .pastData_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.eventcard_row_2 {
  display: flex;
  justify-content: flex-start;
  padding-top: 4px;
}
.pastData__loadmore {
  display: flex;
  justify-content: center;
  background-color: var(--darkGreySolid);
  margin-top: 10px;
  padding-bottom: 20px;
}
.pastData__rime__tags {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 2px;
  display: -webkit-box; //do not remove this line as it makes tags in 2 line
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  span {
    background-color: var(--darkBackground);
    margin-right: 5px;
    color: var(--captionTextColour);
    line-height: 1.05rem;
    font-size: calc(2px + 1vmin) !important;
    padding: 3px 7px;
    border-radius: 4px;
  }
}
.rime__pastData__spacing {
  padding-bottom: 2px;
}
.rime_eventCardList {
  border-radius: 10px 10px 0px 0px;
  background-color: transparent !important;
}
.rime__eventcard {
  margin-bottom: 5px;
}
.pastData__eventtitle__wrap {
  width: 70%;
  color: white !important;
  font-weight: normal;
  padding: 0px !important;
  font-size: calc(7px + 1vmin) !important;
}
div.pastData__eventtitle__wrap {
  padding: 0px !important;
  line-height: 1.6 !important;
}
.pastData__eventbody__wrap {
  color: white !important;
  font-weight: normal;
  padding: 0px 0;
  font-size: calc(6px + 1vmin) !important;
  display: inline;
  .pastData--link {
    color: var(--link) !important;
  }
}
.pastData__description {
  padding-top: 6px;
}
.pastData__eventbody__location_wrap {
  color: white !important;
  font-weight: normal;
  padding: 0px 0;
  font-size: calc(5px + 1vmin) !important;
  display: inline;
}

div.pastData__eventbody__wrap {
  line-height: 1.2 !important;
}
.pastData__eventbody__Head {
  font-size: calc(3px + 1vmin) !important;
  line-height: 1.25 !important;
  padding-top: 3px;
  font-weight: 500 !important;
  color: white !important;
  display: inline;
  .title {
    margin-top: -1px;
  }
}
.pastData__eventbody__subHead {
  font-size: calc(5px + 1vmin) !important;
  line-height: 1.25 !important;
  padding-top: 3px;
  font-weight: 500 !important;
  color: white !important;
  display: inline;
}
.tagsIcon,
.eyeIcon {
  width: 12px !important;
  color: white !important;
}
.css-1qaznj3-MuiCardContent-root {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.date--time {
  font-style: italic;
  font-size: var(--font-size-li) !important;
  color: var(--whiteMediumEmp);
}
.date__footerWrap {
  display: flex;
  justify-content: space-between;
  .flash {
    background-color: var(--highlightBackground);
    color: var(--highlightText);
    border-radius: 25px;
    animation-name: flash;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 12px !important;
    padding: 2px 7px;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.timeline--card {
  .pointer {
    position: absolute;
    z-index: 999;
    top: 8px;
    left: -30px;
    img {
      width: auto;
    }
  }
}
.screening_event_date {
  color: white !important;
  font-weight: normal;
  padding: 0px 0;
  font-size: calc(4px + 1vmin) !important;
  display: inline;
}
.screening_event_date::after {
  content: '';
  height: 100%;
  border-left: 1px solid white;
  margin: 0px 5px;
}
.screening_update__date {
  font-size: calc(4px + 1vmin) !important;
  color: white !important;
}
.anchor__text {
  color: var(--link);
  font-size: calc(6px + 1vmin) !important;
}
.eventType_dropdown {
  width: 130px;
  margin: 0px 10px 5px 10px !important;
}
.riskCategory_dropdown {
  width: 180px;
  margin: 0px 0px 5px 10px !important;
}
.editTitle_container {
  width: 400px;
  margin: 0px 0px 5px 10px !important;
  color: white;
  label {
    color: rgba(255, 255, 255, 0.67) !important;
  }
  .MuiInputBase-input {
    font-size: calc(7px + 1vmin) !important;
    color: var(--whiteHighEmp) !important;
    height: 20px !important;
  }
  .multiple-value-text-input input {
    border-radius: 3px !important;
    height: 5vh !important;
    padding-top: 8px;
    padding-left: 8px;
  }
}
.editLocation_container {
  width: 130px;
  margin: 0px 0px 5px 10px !important;
  color: white;
  label {
    color: rgba(255, 255, 255, 0.67) !important;
  }
  .MuiInputBase-input {
    font-size: calc(7px + 1vmin) !important;
    color: var(--whiteHighEmp) !important;
    height: 20px !important;
  }
  .multiple-value-text-input input {
    border-radius: 3px !important;
    height: 5vh !important;
    padding-top: 8px;
    padding-left: 8px;
  }
}
