#regionData--wrap {
  color: var(--whiteHighEmp); 
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .rootHeader {
    padding: 13px 30px;
    color: var(--lightText);
    background: var(--darkSolid);
    flex: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .location--box {
    flex: 100%;
    margin: 0 10px;
    border-radius: 15px;
    background: #07101c;

    div {
      background: var(--darkGrey);
      padding: 12px;
      border-radius: 8px;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      color: var(--whiteHighEmp); 
      font-weight: 100;
      text-transform: capitalize;
      margin-bottom: 10px;
      p:first-child {
        border-right: 1px solid #273135;
      }
      p {
        flex: 1 1 50%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #9b9b9b;

        span:first-child {
          font-size: 27px !important;
          color: #00b1ea;
          margin-bottom: 10px;
        }
      }
    }
  }
  .analysis--data {
    display: flex;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    #categoriesList {
      flex: 40%;
    }
    #regionData {
      flex: 60%;

      .viewBox {
        max-height: 63vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #abc123;
          border-radius: 5px;
        }
      }
    }
  }
}
.breadcrumb--box {
  flex: 100%;
  padding: 0 15px;
  background: var(--darkGrey);

  ol {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding: 10px 0;

    li {
      margin: 0px;
      color: #eee;
      text-decoration: none;
      font-size: 15px !important;
      cursor: pointer;
      font-weight: 100;

      &::after {
        content: '/';
        padding: 0 5px;
        color: var(--darkActive);
        font-weight: bold;
      }
    }
    li:first-child {
      text-decoration: none !important;
      font-size: 15px !important;
      cursor: pointer !important;
    }

    li:last-child {
      color: var(--darkActive) !important;

      pointer-events: none;
      font-size: 15px;
      &::after {
        content: '';
      }
    }
  }
}
#heatMap {
  flex: 40% 1;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  background: rgba(255, 255, 255, 0);

  .heatMap--wrap {
    background: var(--darkGrey);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    height: 100%;

    &:hover {
      overflow-y: scroll;
      cursor: pointer;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #abc123;
        border-radius: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }
  }

  h1 {
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
    i {
      color: #2b3a54;
    }
  }
}

@mixin tabContent {
  background: var(--darkGrey);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  height: 100%;
}

#pieEventCount {
  overflow: hidden;
  .riskReview--wrap {
    @include tabContent;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

#riskReview {
  flex: 40% 1;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  background: rgba(255, 255, 255, 0);

  .riskReview--wrap {
    @include tabContent;

    &:hover {
      overflow-y: scroll;
      cursor: pointer;
      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #abc123;
        border-radius: 5px;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: '#ccc';
      border-radius: 5px;
    }
  }

  h1 {
    color: var(--whiteHighEmp); 
    font-weight: 100;
    text-transform: capitalize;
    margin-bottom: 10px;
    i {
      color: #2b3a54;
    }
  }
}
.region__filter_modal {
  padding: 10px;
}
.highcharts-background {
  fill: #07101c !important;
}
